<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>
      The Wikipedia Library
    </title>
    <link href="/static/css/bootstrap-4.6.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/new-local.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div id="main-content">
      <div class="row">
        <div class="col-12 col-sm-2 d-flex justify-content-center">
          <img src="500-Wikipedia_Library_owl.svg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-10">
          <h1 class="mt-4">
            The Wikipedia Library
          </h1>
        </div>
      </div>
      <h2 class="my-4">Internal server error</h2>
      <p>Something went wrong.</p>
      <p>
        Please email us about this error at <a class="twl-links" href="mailto:wikipedialibrary@wikimedia.org?Subject=Wikipedia%20Library%20Server%20Error">wikipedialibrary@wikimedia.org</a> or report it to us on <a class="twl-links" href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?projectPHIDs=Library-Card-Platform&title=Wikipedia%20Library%20Server%20Error">Phabricator</a>
        (<a class="twl-links" href="https://www.mediawiki.org/wiki/Phabricator/Help">?</a>).
      </p>
      <img src="500-dog.jpeg" class="img-fluid w-75">
      <!-- photo via https://unsplash.com/photos/NhRJJwzGRXQ under a CC0 license -->
    </div>
    <footer id="footer">
      <div class="row">
        <div class="col-12">
          <p>
            The Wikipedia Library Card Platform is a project of
            <a class="twl-links" href="https://meta.wikimedia.org/wiki/The_Wikipedia_Library">
            The Wikipedia Library</a>.
          </p>
          <hr />
        </div>
        <div class="col-12">
          <ul class="list-inline float-right">
            <li>
              <a class="twl-links" href="https://wikimediafoundation.org/wiki/Privacy_policy">
                Privacy policy
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
