<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>
    The Wikipedia Library Card Platform
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link href="/static/css/startbootstrap/sb-admin-2.css" rel="stylesheet">
  <link href="/static/css/local.css" rel="stylesheet" type="text/css">

</head>
<body>
  <nav class="nav navbar-default" id="top-nav">
    <ul class="nav nav-pills pull-right">
    </ul>
  </nav>
  <header>
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <img src="500-Wikipedia_Library_owl.svg" class="img-responsive center-block">
      </div>
      <div class="col-xs-12 col-sm-10">
        <h1 class="text-justify-sm">
          The Wikipedia Library Card Platform
        </h1>
      </div>      
    </div>
  </header>
  <div id="main-content">
    <h2>Internal server error</h2>
    <p>Something went wrong.</p>
    <p>Please email us about this error at <a href="mailto:wikipedialibrary@wikimedia.org?Subject=Wikipedia%20Library%20Server%20Error">wikipedialibrary@wikimedia.org</a> or report it to us on <a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?projectPHIDs=Library-Card-Platform&Wikipedia%20Library%20Server%20Error">Phabricator</a> (login required).</p>
    <img src="500-dog.jpeg" class="img-responsive">
    <!-- photo via https://unsplash.com/photos/NhRJJwzGRXQ under a CC0 license -->
  </div>
  <footer id="footer">
    <div class="row">
      <div class="col-xs-12">
        <p>
          The Wikipedia Library Card Platform is a project of 
          <a href="https://meta.wikimedia.org/wiki/The_Wikipedia_Library">
          The Wikipedia Library</a>.              
        </p>
        <hr />
      </div>
      <div class="col-xs-12">
        <ul class="list-inline pull-right">
          <li>
            <a href="https://wikimediafoundation.org/wiki/Privacy_policy">
              Privacy policy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
