{% load i18n %}

{% comment %}
  To be used in presenting lists of partners plus key data about them.
  Provides a tile. Including templates are responsible for laying out these
  tiles and supplying a `partner` variable (presumed to be an instance of
  class Partner).
{% endcomment %}

<div class="panel panel-default full-width">
  <div class="panel-heading">
    <a href="{% url 'partners:detail' partner.pk %}"><strong>
      <span class="panel-title">{{ partner }}</span></strong>
    </a>
  </div>
  <div class="panel-body">
    {% if partner.logo_url %}
      <a href="{% url 'partners:detail' partner.pk %}">
        <img src="{{ partner.logo_url }}" class="img-responsive">
      </a>
      <hr />
    {% endif %}

    {% if partner.description %}
      <p>
        {{ partner.description | safe }}
      </p>
      <hr />
    {% endif %}

    <p>
      {% if partner.get_languages %}
        {{ partner.get_languages }}
      {% else %}
        {% trans "Language(s) not known" %}
      {% endif %}
    </p>
    <div class="text-center">
      <a href="{% url 'partners:detail' partner.pk %}" class="btn btn-default">
        {% trans "More info" %}
      </a>
      <br />
      {% if partner.is_waitlisted %}
        <span class="label label-warning">
          {% trans "Waitlisted" %}
        </span>
      {% endif %}
    </div>
    {% for tag in partner.tags %}
      <span class="label label-primary">{{ tag }}</span>
    {% endfor %}
  </div>
</div>
