{% extends "base.html" %}
{% load i18n %}
{% load twlight_perms %}

{% block content %}
  {% comment %} Translators: On the 'browse partners' page (https://wikipedialibrary.wmflabs.org/partners/), this message is shown at the top, as a title. {% endcomment %}
  <h2>{% trans "Browse Partners" %}</h2>
  <!-- begin filtering options/info -->
  <div class="row">
    <div class=" col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% comment %}Translators: Users can filter the page which shows a list of partner resources. This is the heading for the box where filters are selected.{% endcomment %}
          {% trans "Filter by..." %}
        </div>
        <div class="panel-body">
          <form class="form-inline" action="" method="get">
            {{ filter.form }}
            <input name="submit" value="Filter" class="btn btn-default" id="submit-id-submit" type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end filtering options/info -->
  <div class="row row-flex">
    {% for partner in object_list %}
      <div class="col-flex col-xs-12 col-sm-4 col-md-3">
        {% include "resources/partner_tile.html" %}        
      </div>
    {% empty %}
      <div class="col-xs-12">
        {% trans "No partner data has been added yet." %}
      </div>
    {% endfor %}    
  </div>
{% endblock content %}
