{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load cache %}
{% load twlight_perms %}
{% load twlight_wikicode2html %}

{% get_current_language as LANGUAGE_CODE %}

{% block extra_css %}
  <style type="text/css">
    @media (min-width: 768px) {
      .timeline-right-overlay {
        z-index: 100;
        position: relative;
        height: 0;
        overflow: visible;
      }
    }
  </style>
{% endblock extra_css %}

{% block content %}
  <h1>{{ object }}</h1>
  {% if not object.bundle %}
    {% url 'applications:apply_single' object.pk as app_url %}
    {% if object.is_waitlisted %}
    <div class="alert alert-warning visible-xs resource-label-warning">
       <span class="resource-label">{% trans "Waitlisted" %}</span>
       <p>
       {% comment %} Translators: If we have no available accounts for a partner, the coordinator can change the application system to a waiting list. {% endcomment %}
       {% blocktrans trimmed %}
       There are no access grants available for this partner
       at this time. You can still apply for access; applications will
       be processed when access is available.
       {% endblocktrans %}
       </p>
    </div>
    {% endif %}
    {% if user_sent_apps %}
        <a href="{% url 'applications:renew' latest_sent_app_pk %}" class="btn btn-primary text-center visible-xs z-index-100">{% trans "Renew" %}</a>
    {% elif user_open_apps %}
        {% if multiple_open_apps %}
            <a href="{% url 'users:home' %}" class="btn btn-primary text-center visible-xs z-index-100">{% trans "View applications" %}</a>
        {% else %}
            <a href="{% url 'applications:evaluate' open_app_pk %}" class="btn btn-primary text-center visible-xs z-index-100">{% trans "View application" %}</a>
        {% endif %}
    {% else %}
        <a href="{{ app_url }}" class="btn btn-primary text-center visible-xs z-index-100">{% trans "Apply" %}</a><br />
    {% endif %}
    {% if user|coordinators_only %}
    <form class="margin-bottom-2em" action="{% url 'partners:toggle_waitlist' object.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="btn btn-default btn-block text-center visible-xs z-index-100" value="
      {% if object.is_waitlisted %}
        {% comment %} Translators: If a partner is currently waitlisted, this button allows coordinators to remove the partner from the waitlist. {% endcomment %}
        {% trans "Remove from waitlist" %}
      {% else %}
        {% comment %} Translators: If a partner is not currently waitlisted, this button allows coordinators to add the partner to the waitlist. {% endcomment %}
        {% trans "Set as waitlisted" %}
      {% endif %}"/>
    </form>
    {% endif %}
  {% endif %}
    <ul class="timeline half-timeline margin-bottom-2em">

    <div class="col-sm-5 col-md-4 pull-right timeline-right-overlay">
  {% if not object.bundle %}
    {% if object.is_waitlisted %}
    <div class="hidden-xs alert alert-warning resource-label-warning">
      <span class="resource-label">{% trans "Waitlisted" %}</span>
      <p>
      {% comment %} Translators: If we have no available accounts for a partner, the coordinator can change the application system to a waiting list. {% endcomment %}
      {% blocktrans trimmed %}
      There are no access grants available for this partner
      at this time. You can still apply for access; applications will
      be processed when access is available.
      {% endblocktrans %}
      </p>
    </div>
    {% endif %}
    {% if user_sent_apps %}
        <a href="{% url 'applications:renew' latest_sent_app_pk %}" class="btn btn-primary btn-lg hidden-xs btn-block">{% trans "Renew" %}</a>
    {% elif user_open_apps %}
    {% if multiple_open_apps %}
      <a href="{% url 'users:home' %}" class="btn btn-primary btn-lg hidden-xs btn-block">{% trans "View applications" %}</a>
    {% else %}
      <a href="{% url 'applications:evaluate' open_app_pk %}" class="btn btn-primary btn-lg hidden-xs btn-block">{% trans "View application" %}</a>
    {% endif %}
    {% else %}
      <a href="{{ app_url }}" class="btn btn-primary btn-lg hidden-xs btn-block">{% trans "Apply" %}</a><br />
    {% endif %}

    {% if user|coordinators_only %}
    <form class="margin-bottom-2em" action="{% url 'partners:toggle_waitlist' object.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="btn btn-default btn-block text-center hidden-xs" value="{% if object.is_waitlisted %}{% trans "Remove from waitlist" %}{% else %}{% trans "Set as waitlisted" %}{% endif %}"/>
    </form>
    {% endif %}
  {% endif %}
      {% if object.logos.logo.url %}
        <img src="{{ object.logos.logo.url }}" class="img-responsive hidden-xs center-block partner-logo">
      {% endif %}
  {% if not object.bundle %}
      <div class="well hidden-xs">
        {% if object.coordinator.editor.wp_username %}
          {% comment %} Translators: When a coordinator is assigned to a partner, their details are shown on the page. This text titles that section. <strong> tags should not be translated, nor should {{ partner }}.{% endcomment %}
          {% blocktrans trimmed with coordinator=object.coordinator.editor.wp_username partner=object.company_name %}
            <strong>{{ coordinator }}</strong> processes applications to {{ partner }}.
          {% endblocktrans %}

          <ul>
            {% if object.coordinator.editor.wp_talk_page_url %}
              <li>
                <a href="{{ object.coordinator.editor.wp_talk_page_url }}">
                  {% comment %} Translators: When a coordinator is assigned to a partner, their details are shown on the page. This text labels a link to their Talk page on Wikipedia, and should be translated to the text used for Talk pages in the language you are translating to. {% endcomment %}
                  {% trans "Talk page" %}
                </a>
              </li>            
            {% endif %}
            {% if object.coordinator.editor.wp_email_page_url %}
              <li>
                <a href="{{ object.coordinator.editor.wp_email_page_url }}">
                  {% comment %} Translators: When a coordinator is assigned to a partner, their details are shown on the page. This text labels a link to Special:EmailUser on Wikipedia, and should be translated to the text of https://en.wikipedia.org/wiki/Special:EmailUser in the language you are translating to. {% endcomment %}
                  {% trans "Special:EmailUser page" %}
                </a>            
              </li>            
            {% endif %}
          </ul>
        {% else %}
          {% comment %} Translators: If no account coordinator is assigned to a partner, the Wikipedia Library team will coordinate signups. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library).{% endcomment %}
          {% blocktrans trimmed %}
            The Wikipedia Library team will process this application. Want to
            help? <a href="https://en.wikipedia.org/wiki/Wikipedia:The_Wikipedia_Library/Coordinators/Signup">Sign up as a
            coordinator.</a>
          {% endblocktrans %}
        {% endif %}
      </div>
    {% endif %}
    </div>
    <li class="timeline-inverted">
      <div class="timeline-badge"><i class="fa fa-info"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-body">
          {% if object.description %}
            <p>
            {% comment %}
              Cache lifetime should be None, which would be forever since we're
              invalidating on update. However, as 2017-04-06 a bug in django
              doesn't allow for None to be passed from here into cache.  The
              fix is in master, but not release.
              https://code.djangoproject.com/ticket/27882
              We filter out details and summary tags so that we always see
              the full content on the details page.
            {% endcomment %}
            {% filter removetags:"details summary" %}
              {% cache 31536000 partner_description LANGUAGE_CODE object.pk %}
                {{ object.description | twlight_wikicode2html | safe }}
              {% endcache %}
            {% endfilter %}
            </p>
          {% else %}
            {% comment %} Translators: If a partner has no description written, this message is shown in the Description field on the partner page. {% endcomment %}
            {% trans "Description not available." %}
          {% endif %}
          {% if object.tags %}
            <div class="resource-label-subject">
            {% for tag in object.tags.all %}
              <a class="resource-label" href="{% url 'partners:filter' %}?tags={{ tag.pk }}">{{ tag }}</a>
              {% if not forloop.last %} <span class="pipe">|</span> {% endif %}
            {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>      
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge"><i class="fa fa-language"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-body">
          {% if object.get_languages %}
            <p class="partner-languages">
                {% comment %} Translators: If a partner has content languages specified, this message precedes the list of those languages on the partner page. {% endcomment %}
                {% trans 'Language(s)' %}:
                <div class="resource-label-languages">
                {% for language in partner.get_languages %}
                    <a class="resource-label" href="{% url 'partners:filter' %}?languages={{ language.pk }}">{{ language }}</a>
                    {% if not forloop.last %} <span class="pipe">|</span> {% endif %}
                {% endfor %}
                </div>
            </p>
          {% else %}
            {% comment %} Translators: If a partner has no content languages specified, this message is shown in the Languages field on the partner page. {% endcomment %}
            <p>{% trans "Languages not available." %}</p>
          {% endif %}
        </div>
      </div>      
    </li>
    {% if object.agreement_with_terms_of_use or object.real_name or object.country_of_residence or object.occupation or object.affiliation or object.specific_title or object.specific_stream %}
      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="fa fa-exclamation"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            {% comment %} Translators: If a partner has other requirements for access, this text shows as the title for that information field. (e.g. https://wikipedialibrary.wmflabs.org/partners/10/). {% endcomment %}
            <h4 class="timeline-title">{% trans "Special requirements for applicants" %}</h4>
          </div>
          <div class="timeline-body">

            <ul>
              {% if object.agreement_with_terms_of_use %}
                <li>
                  {% comment %} Translators: If a user must agree to a Terms of Use document, they see this message, and must enter the name of the resource. Don't translate {{ publisher }} or {{ url }}. {% endcomment %}
                  {% blocktrans with publisher=object.company_name url=object.terms_of_use %}
                    {{ publisher }} requires that you agree with its <a href="{{ url }}">terms
                    of use</a>.
                  {% endblocktrans %}
                </li>
              {% endif %}

              {% if object.real_name %}
                <li>
                  {% comment %} Translators: If a user must provide their real name to apply to a partner, they see this message, and must enter the name of the resource. Don't translate {{ publisher }}. {% endcomment %}
                  {% blocktrans with publisher=object.company_name %}
                    {{ publisher }} requires that you provide your real name.
                  {% endblocktrans %}
                </li>
              {% endif %}

              {% if object.country_of_residence %}
                <li>
                  {% comment %} Translators: If a user must provide the name of the country where they currently live to apply to a partner, they see this message, and must enter the name of the resource. Don't translate {{ publisher }}. {% endcomment %}
                  {% blocktrans with publisher=object.company_name %}
                    {{ publisher }} requires that you provide your country of residence.
                  {% endblocktrans %}
                </li>
              {% endif %}

              {% if object.occupation %}
                <li>
                  {% comment %} Translators: If a user must provide their occupation to apply to a partner, they see this message, and must enter the name of the resource. Don't translate {{ publisher }}. {% endcomment %}
                  {% blocktrans with publisher=object.company_name %}
                    {{ publisher }} requires that you provide your occupation.
                  {% endblocktrans %}
                </li>
              {% endif %}

              {% if object.affiliation %}
                <li>
                  {% comment %} Translators: If a user must provide their institutional affiliation (e.g. university) to apply to a partner, they see this message, and must enter the name of the resource. Don't translate {{ publisher }}. {% endcomment %}
                  {% blocktrans with publisher=object.company_name %}
                    {{ publisher }} requires that you provide your institutional affiliation.
                  {% endblocktrans %}
                </li>
              {% endif %}

              {% if object.specific_title %}
                <li>
                  {% comment %} Translators: If a user must select a specific resource to apply for, they see this message, and must enter the name of the resource. Don't translate {{ publisher }}. {% endcomment %}
                  {% blocktrans with publisher=object.company_name %}
                    {{ publisher }} requires that you specify a particular title that you want
                    to access.
                  {% endblocktrans %}
                </li>
              {% endif %}

              {% if object.specific_stream %}
                <li>
                  {% if object.mutually_exclusive %}
                    {% comment %} Translators: If a user must select a specific collection of resources to apply for, they see this message. Don't translate {{ publisher }}. {% endcomment %}
                    {% blocktrans with publisher=object.company_name %}
                      {{ publisher }} requires that you specify a specific collection that you
                      want to access. You may only apply for access to one collection at a
                      time.
                    {% endblocktrans %}
                  {% else %}
                    {% comment %} Translators: If a user must select one or more collections of resources to apply for, they see this message. Don't translate {{ publisher }}. {% endcomment %}
                    {% blocktrans with publisher=object.company_name %}
                      {{ publisher }} requires that you specify one or more specific
                      collections that you want to access.
                    {% endblocktrans %}
                  {% endif %}
                </li>
              {% endif %}
            </ul>

          </div>
        </div>
      </li>
    {% endif %}
    {% if object.streams.all %}
      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="fa fa-tags"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            {% comment %} Translators: If a partner has multiple collections which can be selected, this text shows as the title for that information field. (e.g. https://wikipedialibrary.wmflabs.org/partners/10/). {% endcomment %}
            <h4 class="timeline-title">{% trans "Collections" %}</h4>
          </div>
          <div class="timeline-body">
            <ul>
              {% for stream in object.streams.all %}
              {% comment %}
                Cache lifetime should be None, which would be forever since we're
                invalidating on update. However, as 2017-04-06 a bug in django
                doesn't allow for None to be passed from here into cache.  The
                fix is in master, but not release.
                https://code.djangoproject.com/ticket/27882
                We filter out details and summary tags so that we always see
                the full content on the details page.
              {% endcomment %}
                <li><b>{{ stream }}</b>
                  {% if stream.description %}&mdash; 
                    {% filter removetags:"details summary" %}
                      {% cache 31536000 stream_description LANGUAGE_CODE stream.pk %}
                        {{ stream.description | twlight_wikicode2html | safe }}
                      {% endcache %}
                    {% endfilter %}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>      
      </li>
    {% endif %}
    <li class="timeline-inverted">
      <div class="timeline-badge"><i class="fa fa-link"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-body">
          {% if object.company_location %}
            {% comment %} Translators: If a partner has their location listed, this message is a label for that location {% endcomment %}
            <p>{% trans "Location" %}: {{ object.company_location }}</p>
          {% endif %}
          {% if object.terms_of_use %}
            {% comment %} Translators: If a partner has a Terms of Use listed, this message is shown in the Terms of Use field (e.g. https://wikipedialibrary.wmflabs.org/partners/8/). {% endcomment %}
            <p><a href="{{ object.terms_of_use }}">{% trans "Terms of use" %}</a></p>
          {% else %}
            {% comment %} Translators: If a partner has no Terms of Use listed, this message is shown in the Terms of Use field (e.g. https://wikipedialibrary.wmflabs.org/partners/12/). {% endcomment %}
            <p>{% trans "Terms of use not available." %}</p>
          {% endif %}
        </div>
      </div>      
    </li>
  </ul>

{% comment %}
  other stuff to do:
    list streams
{% endcomment %}
  {% comment %} Translators: This is the heading for the section of a partner page showing data about applications to that partner. {% endcomment %}
  <h2>{% trans "Metrics" %}</h2>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-align-left fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{ total_apps }}</div>
              {% comment %} Translators: This is the label for a number which shows the total number of aplications submitted for one partner. (e.g. https://wikipedialibrary.wmflabs.org/partners/8/). {% endcomment %}
              <div>{% trans 'Total applications (all time)' %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{ unique_users }}</div>
              {% comment %} Translators: This is the label for a number which shows the total number of unique (not counting duplicates) users who have applied for access for one partner. (e.g. https://wikipedialibrary.wmflabs.org/partners/8/). {% endcomment %}
              <div>{% trans 'Total unique applicants (all time)' %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-clock-o fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">
                {% if median_days %}
                    {{ median_days }}
                {% else %}
                    -
                {% endif %}
              </div>
              {% comment %} Translators: This is the label for a number which shows the median (not mean) number of days between users applying and a coordinator making a decision on their application. (e.g. https://wikipedialibrary.wmflabs.org/partners/8/). {% endcomment %}
              <div>{% trans 'Median days from application to decision' %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>
    {% comment %} Translators: This is the section header for application statistics for a specific partner resources, arranged by the status of submitted applications. (e.g. https://wikipedialibrary.wmflabs.org/partners/8/). {% endcomment %}
    {% trans "Applications by status" %}
    <a href="{% url 'csv:app_distribution_by_partner' object.pk %}" class="pull-right btn btn-default">
    {% comment %} Translators: This is the anchor text for a hyperlink directing users to download statistical information as a comma separated value file. (e.g. https://wikipedialibrary.wmflabs.org/partners/8/). {% endcomment %}
    {% trans "download as csv" %}
  </a></h3>
  
  <div id="app-distribution-graph" style="width:600px;height:300px"></div>

  <p>
    {% comment %} Translators: This is the label and number which shows the total number of applications approved for a specific partner resource. (e.g. https://wikipedialibrary.wmflabs.org/partners/8/). {% endcomment %}
    {% blocktrans count counter=total_apps_approved %}
      Number of applications approved (all time): {{ total_apps_approved_or_sent }}
    {% plural %}
      Number of applications approved (all time): {{ total_apps_approved_or_sent }}
    {% endblocktrans %}
  </p>

  <p>
    {% comment %} Translators: This is the label and number which shows the total number of unique users who have been approved for access to a specific partner resource. (e.g. https://wikipedialibrary.wmflabs.org/partners/8/). {% endcomment %}
    {% blocktrans count counter=unique_users_approved %}
      Number of unique users with approved applications (all time): {{ unique_users_approved_or_sent }}
    {% plural %}
      Number of unique users with approved applications (all time): {{ unique_users_approved_or_sent }}
    {% endblocktrans %}
  </p>
  
  {% if stream_unique_accepted %}
    <ul>
    {% for stream_name, num_apps in stream_unique_accepted.items %}
      <li>{{ stream_name }}: {{ num_apps }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% comment %} Translators: This is the heading of a section on partner pages which shows graphs for application numbers with time (e.g. https://wikipedialibrary.wmflabs.org/partners/8/). {% endcomment %}
  <h3>{% trans "Applications over time" %}</h3>
  
  {% comment %} Translators: This is the title of a graph on partner pages (e.g. https://wikipedialibrary.wmflabs.org/partners/8/) for a graph showing the number of applications over time. {% endcomment %}
  <h4>{% trans "All applications" %}
    <a href="{% url 'csv:app_count_by_partner' object.pk %}" class="pull-right btn btn-default">{% trans "download as csv" %}
  </a></h4>
  
  <div id="signups-time-graph" style="width:600px;height:300px"></div>
  
  {% comment %} Translators: This is the title of a graph on partner pages (e.g. https://wikipedialibrary.wmflabs.org/partners/8/) for a graph showing the number of approved applications over time. {% endcomment %}
  <h4>{% trans "Approved applications only" %}
    <a href="{% url 'csv:approved_or_sent_app_count_by_partner' object.pk %}" class="pull-right btn btn-default">{% trans "download as csv" %}
  </a></h4>
  
  <div id="approved-or-sent-signups-time-graph" style="width:600px;height:300px"></div>
  
  {% comment %} Translators: This is the title of a graph on partner pages (e.g. https://wikipedialibrary.wmflabs.org/partners/8/) for a graph showing the number of unique applicants over time. {% endcomment %}
  <h3>{% trans "Unique users over time" %}
    <a href="{% url 'csv:user_count_by_partner' object.pk %}" class="pull-right btn btn-default">{% trans "download as csv" %}
  </a></h3>

  <div id="users-time-graph" style="width:600px;height:300px"></div>
{% endblock content %}

{% block javascript %}
  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script type="text/javascript" language="javascript" src="{% static "js/jquery.flot.js" %}"></script>
  <script type="text/javascript" language="javascript" src="{% static "js/jquery.flot.pie.js" %}"></script>
  <script type="text/javascript" language="javascript" src="{% static "js/jquery.flot.time.js" %}"></script>

  <script type="text/javascript">
    $(function() {
      // All applications by time
      var signups_time_graph = $("#signups-time-graph");
      var signups_time_data = {{ signups_time_data | safe }};
      var signups_time_plot = $.plot(signups_time_graph, [signups_time_data], {
        xaxis: {
          mode: "time",
          tickSize: [1, 'month'],
        },
        yaxis: {
          min: 0,
          minTickSize: 1,
          tickDecimals: 0,
        },
        colors: ['#5cb85c'],
      });

      // Approved applications by time
      var approved_or_sent_signups_time_graph = $("#approved-or-sent-signups-time-graph");
      var approved_or_sent_signups_time_data = {{ approved_or_sent_signups_time_data | safe }};
      var approved_or_sent_signups_time_plot = $.plot(approved_or_sent_signups_time_graph, [approved_or_sent_signups_time_data], {
        xaxis: {
          mode: "time",
          tickSize: [1, 'month'],
        },
        yaxis: {
          min: 0,
          minTickSize: 1,
          tickDecimals: 0,
        },
        colors: ['#5cb85c'],
      });

      // Unique users by time
      var users_time_graph = $("#users-time-graph");
      var users_time_data = {{ users_time_data | safe }};
      var users_time_plot = $.plot(users_time_graph, [users_time_data], {
        xaxis: {
          mode: "time",
          tickSize: [1, 'month'],
        },
        yaxis: {
          min: 0,
          minTickSize: 1,
          tickDecimals: 0,
        },
        colors: ['#f0ad4e'],
      });

      // Application status distribution (pie chart)
      var app_distribution_graph = $("#app-distribution-graph");
      var app_distribution_data = {{ app_distribution_data | safe }};
      var app_distribution_plot = $.plot(app_distribution_graph, app_distribution_data, {
        series: {
          pie: { 
            show: true,
          }
        },
      });
    });
  </script>
{% endblock javascript %}
