{% extends "new_base.html" %}
{% load i18n %}
{% load twlight_perms %}

{% block content %}
  {% include "header_partial_b4.html" %}
  {% include "message_partial.html" %}

  <div class="row">
    <div class="col-lg-2 col-md-3">
      {% include "users/filter_section.html" %}
    </div>
    <div class="v-divider"></div>
    <div class="col-lg-9 col-md-8 col-sm-12">
      <div class="page-banner-container row">
        {% comment %}Translators: On the 'browse partners' page (https://wikipedialibrary.wmflabs.org/partners/), this message is shown at the top, as a title. {% endcomment %}
        <h2>{% trans "Browse Partners" %}</h2>
        <div class="browse-suggest">
          {% comment %}Translators: On the 'browse partners' page this button is above the partner list and can be clicked by users to navigate to the partner suggestions page. {% endcomment %}
          <a class="btn btn-primary" href="{% url 'suggest' %}"><i class="fa fa-plus" aria-hidden="true"></i> {% trans "Suggest a partner" %}</a>
        </div>
      </div>
      <div class="list-container row">
        {% for available_collection in partners_list %}
          {% include "users/available_collection_tile.html" %}
        {% empty %}
          <div class="col-xs-12">
            {% comment %}Translators: This text is shown to users when no partners meet the filtering criteria. {% endcomment %}
            {% trans "No partners meet the specified criteria." %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div>
    {% comment %}Translators: This is a button to go back on the top of page. {% endcomment %}
    <a id="back-to-top" href="#" class="btn btn-light btn-sm" title="{% trans 'Back to top' %}">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
{% endblock content %}
