{% extends "base.html" %}
{% load i18n %}
{% load twlight_perms %}

{% block content %}
  <!-- begin filtering options/info -->
  <div class="row">
    <div class="col-flex col-xs-12 col-sm-4 col-md-3">
      {% comment %}Translators: On the 'browse partners' page (https://wikipedialibrary.wmflabs.org/partners/), this message is shown at the top, as a title. {% endcomment %}
      <h2>{% trans "Browse Partners" %}</h2>
    </div>
    <div class="col-flex col-xs-12 col-sm-5 col-md-7">
      <div class="panel panel-default">
        <div class="panel-body" id="resource-filter-panel-body">
          <form class="form-inline" action="" method="get">
            {{ filter.form }}
            <input name="submit" value="Filter" class="btn btn-default" id="submit-id-submit" type="submit">
          </form>
        </div>
      </div>
    </div>
    <div class="col-flex col-xs-12 col-sm-3 col-md-2 browse-suggest">
      {% comment %}Translators: On the 'browse partners' page this button is above the partner list and can be clicked by users to navigate to the partner suggestions page. {% endcomment %}
        <a class="btn btn-primary" href="{% url 'suggest' %}"><i class="fa fa-plus" aria-hidden="true"></i> {% trans "Suggest a partner" %}</a>
    </div>
  </div>
  <!-- end filtering options/info -->
  <div class="row row-flex">
    {% for partner in partners_list %}
      <div class="col-flex col-xs-12 col-sm-4 col-md-3">
        {% include "resources/partner_tile.html" %}
      </div>
    {% empty %}
      <div class="col-xs-12">
        {% comment %}Translators: This text is shown to users when no partners meet the filtering criteria. {% endcomment %}
        {% trans "No partners meet the specified criteria." %}
      </div>
    {% endfor %}
  </div>

  <div>
    {% comment %}Translators: This is a button to go back on the top of page. {% endcomment %}
    <a id="back-to-top" href="#" class="btn btn-light btn-sm" title="{% trans 'Back to top' %}">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
{% endblock content %}
