{% load i18n %}
{% load cache %}
{% load twlight_wikicode2html %}

{% get_current_language as LANGUAGE_CODE %}

{% comment %}
  To be used in presenting lists of partners plus key data about them.
  Provides a tile. Including templates are responsible for laying out these
  tiles and supplying a `partner` variable (presumed to be an instance of
  class Partner).
{% endcomment %}

<div class="panel panel-default full-width">
  <div class="panel-heading{% if partner.bundle %} banner-flag{% endif %}">
    <a href="{% url 'partners:detail' partner.pk %}"><strong>
      <span class="panel-title">{{ partner }}</span></strong>
    </a>
  </div>
  <div class="panel-body">
    {% if partner.logos.logo.url %}
    <div class="partner-logo-container">
      <a href="{% url 'partners:detail' partner.pk %}">
        <img src="{{ partner.logos.logo.url }}" class="img-responsive partner-logo">
      </a>
    </div>
      <hr />
    {% endif %}

    {% if partner.is_waitlisted %}
      <span class="label label-warning">
        {% trans "Waitlisted" %}
      </span>
    {% endif %}
      <div class="label-subject">
    {% for tag in partner.tags.all %}
      <a class="label" href="{% url 'partners:filter' %}?tags={{ tag.pk }}">{{ tag }}</a> <span class="pipe">|</span>
    {% endfor %}
      </div>
      
      <div class="label-languages">
      	<span class="label">
          {% for languages in partner.get_languages %}
          {% if partner.get_languages %}        
             {{ languages }}
          {% else %}
            {% comment %} Translators: On the Browse page (https://wikipedialibrary.wmflabs.org/partners/), this text is shown for a partner who has no content languages to show. {% endcomment %}
            {% trans "Language(s) not known" %}
          {% endif %}
          {% endfor %}
        </span>
      </div>
    {% if partner.description %}
      <div class="panel-partner-description">
        {% comment %}
          Cache lifetime should be None, which would be forever since we're
          invalidating on update. However, as 2017-04-06 a bug in django
          doesn't allow for None to be passed from here into cache.  The
          fix is in master, but not release.
          https://code.djangoproject.com/ticket/27882
        {% endcomment %}
        {% cache 31536000 partner_description LANGUAGE_CODE partner.pk %}
          {{ partner.description | twlight_wikicode2html | safe }}
        {% endcache %}
      </div>
      <hr />
    {% endif %}
    <div class="panel-partner-info">
      <p class="partner-languages">
        {% if partner.get_languages %}
          {% for language in partner.get_languages %}
            <a href="{% url 'partners:filter' %}?languages={{ language.pk }}">{{ language }}</a> <span class="pipe">|</span>
          {% endfor %}
        {% else %}
          {% comment %} Translators: On the Browse page (https://wikipedialibrary.wmflabs.org/partners/), this text is shown for a partner who has no content languages to show. {% endcomment %}
          {% trans "Language(s) not known" %}
        {% endif %}
      </p>
      <div class="text-center">
        <a href="{% url 'partners:detail' partner.pk %}" class="btn btn-default">
          {% comment %} Translators: On the Browse page (https://wikipedialibrary.wmflabs.org/partners/), this labels the text on a button which takes the user to the partner's page, where more details can be found. {% endcomment %}
          {% trans "More info" %}
        </a>
        <br />
      </div>
    </div>
  </div>
</div>
