{% load i18n %}
{% load cache %}
{% load static %}

{% comment %}
  To be used in presenting lists of partners plus key data about them.
  Provides a tile. Including templates are responsible for laying out these
  tiles and supplying a `partner` variable (presumed to be an instance of
  class Partner).
{% endcomment %}

<div class="panel panel-default full-width">
  <div class="panel-heading">
    <a href="{% url 'partners:detail' partner.pk %}"><strong>
      <span class="panel-title">{{ partner.company_name }}</span></strong>
    </a>
    {% if partner.authorization_method == partner.BUNDLE %}
      {% comment %}Translators: This is the name of the authorization method whereby users access resources automatically via the library bundle. {% endcomment %}
      <img src="{% static 'img/LibraryBundle.svg' %}" class="img-responsive no-padding-logo-partner-tiles" style="width:35px; height:30px;" title="{% trans 'Library Bundle' %}" alt="
      {% comment %}Translators: Alt text for the Library Bundle icon shown on the browse partner page. {% endcomment %}
      {% trans "Library bundle access" %}
      ">
    {% endif %}
  </div>
  <div class="panel-body">
    {% if partner.partner_logo %}
    <div class="partner-logo-container">
      <a href="{% url 'partners:detail' partner.pk %}">
        <img src="{{ partner.partner_logo }}" class="img-responsive partner-logo" alt="
        {% comment %}Translators: Alt text for publisher logos on the browse partner page (https://wikipedialibrary.wmflabs.org/partners/). Don't translate {{ partner }}. {% endcomment %}
          {% blocktranslate trimmed %}
            Link to {{ partner.company_name }} signup page
          {% endblocktranslate %}
        ">
      </a>
    </div>
      <hr />
    {% endif %}
    <div class="resource-label-container">
    {% if partner.is_not_available %}
      <div class="resource-label-danger">
        {% comment %}Translators: This is the text shown to coordinators when a partner is marked not available. {% endcomment %}
        <span class="resource-label">{% trans "Not available" %}</span>
      </div>
    {% elif partner.is_waitlisted %}
      <div class="resource-label-warning">
      {% comment %}Translators: This is the text shwown to users when a partner is marked waitlisted. {% endcomment %}
        <span class="resource-label">{% trans "Waitlisted" %}</span>
      </div>
    {% endif %}
    {% if partner.tags %}
      <div class="resource-label-subject">
    {% for tag_key, tag_value in partner.tags.items %}
      <a class="resource-label" href="{% url 'partners:filter' %}?tags={{ tag_key }}">{{ tag_value }}</a>
      {% if not forloop.last %} <span class="pipe">|</span> {% endif %}
    {% endfor %}
      </div>
    {% endif %}

      <div class="resource-label-languages">
          {% if partner.languages %}
            {% for language in partner.languages %}
              <a class="resource-label" href="{% url 'partners:filter' %}?languages={{ language.pk }}">{{ language }}</a>
              {% if not forloop.last %} <span class="pipe">|</span> {% endif %}
            {% endfor %}
          {% else %}
            {% comment %}Translators: On the Browse page (https://wikipedialibrary.wmflabs.org/partners/), this text is shown for a partner who has no content languages to show. {% endcomment %}
            {% trans "Language(s) not known" %}
          {% endif %}
      </div>
    </div>
    <hr />
    {% if partner.short_description %}
      <div class="panel-partner-description">
          {{ partner.short_description | safe }}
      </div>
      <hr />
    {% endif %}
  </div>
</div>
