{% extends "new_base.html" %}
{% load i18n %}

{% block content %}
  {% include "header_partial_b4.html" %}
  {% include "message_partial.html" %}
  <div id="main-content">
    <form method="post">
      {% csrf_token %}
      <p>
        {% comment %}Translators: This message is displayed on the page where coordinators can request the deletion of a suggestion. {% endcomment %}
        {% blocktranslate trimmed %}
          Are you sure you want to delete <b>{{ object }}</b>?
        {% endblocktranslate %}
      </p>
      {% comment %}Translators: This is the button coordinators click to confirm deletion of a suggestion. {% endcomment %}
      <input type="submit" value="{% trans 'Confirm' %}" class="btn btn-danger"/>
    </form>
  </div>
{% endblock content %}
