{% extends "base.html" %}
{% load cache %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load twlight_perms %}

{% block head_javascript %}
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
          integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
          crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
          integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw"
          crossorigin="anonymous">
  </script>
{% endblock head_javascript %}

{% block content %}
    <div class="panel panel-default full-width">
      <div class="panel-heading">
        {% comment %} Translators: This is the title of the form where users can submit partner suggestions. {% endcomment %}
        <strong><span class="panel-title">{% trans 'Suggest partners' %}</span></strong>
      </div>
      <div class="panel-body">
        <form class="form-horizontal"
        {% if user.is_authenticated %}
        method="post"
        {% elif request.GET %}
        method="get" action="{% url 'oauth_login' %}?next={{ request.path|urlencode }}&{{ request.GET.urlencode }}"
        {% else %}
        method="get" action="{% url 'oauth_login' %}?next={{ request.path|urlencode }}"
        {% endif %}
        >
        {% crispy form %}
        </form>
      </div>
    </div>
  {% if all_suggestions %}
    <div class="panel panel-default full-width">
      <div class="panel-heading">
        {% comment %} Translators: This is the title of the panel where user suggestions are displayed. {% endcomment %}
        <strong><span class="panel-title">{% trans 'Browse and support suggestions' %}</span></strong>
      </div>
      <div class="panel-body">
        {% for each_suggestion in all_suggestions %}
          <div class="panel panel-default full-width">
            <div class="panel-heading">
              <div class="panel-title pull-left"><span class="panel-title">{{ each_suggestion.suggested_company_name }}</span></div>
              {% if user|coordinators_only %}
                {% comment %} Translators: This button is at the partner suggestions page for coordinators to delete suggestions. {% endcomment %}
                <a href="{% url 'suggest-delete' each_suggestion.id %}" class="btn btn-outline-danger pull-right">{% trans 'Delete' %} <i class="fa fa-trash-o" aria-hidden="true"></i></a>
              {% endif %}
              <div class="clearfix"></div>
            </div>
            <div class="panel-body ">
              <div class="col-md-10">
                {% comment %} Translators: This is the text that appears before the description of every partner suggestion. {% endcomment %}
                <p>
                  <strong>{% trans 'Description' %}: </strong>
                  {{ each_suggestion.description | safe }}
                </p>
                {% comment %} Translators: This is the text that appears before the URL of every partner suggestion. {% endcomment %}
                <p><strong>{% trans 'URL' %}:</strong> <a href="{{ each_suggestion.company_url }}">{{ each_suggestion.company_url }}</a></p>
              </div>
              {% if user.is_authenticated %}
                <div class="col-md-2 pull-right" style="text-align: right;">
                  <a class="btn upvote{% if user in each_suggestion.upvoted_users.all %} btn-success{% else %} btn-default{% endif %}" data-href="{{ each_suggestion.get_upvote_url }}" href="">
                    <span class="utext">{% if user in each_suggestion.upvoted_users.all %}{% trans 'Upvoted' %} {% else %}{% trans 'Upvote' %} {% endif %}</span><span class="count badge">{{ each_suggestion.upvoted_users.count }}</span>
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>  
    </div>
  {% endif %}
{% endblock content %}
{% block javascript %}
  <script>
    $('.upvote').click(function(e){
      e.preventDefault();
      var count = parseInt($(this).children('.count').text());
      $(this).children('.utext').text($(this).children('.utext').text() == '{% trans 'Upvoted' %} ' ? '{% trans 'Upvote' %} ' : '{% trans 'Upvoted' %} ');
      if($(this).hasClass('btn-success')){
        $(this).removeClass('btn-success');
        $(this).addClass('btn-default');
        count--;
        $(this).children('.count').text(count);
      }
      else{
        $(this).addClass('btn-success');
        $(this).removeClass('btn-default');
        count++;
        $(this).children('.count').text(count);
      }
      var this_ = $(this);
      var upvoteURL = this_.attr("data-href");
      $.get(upvoteURL);
    });
  </script>
{% endblock javascript %}
