@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
       url('../fonts/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'),
       url('../fonts/Roboto-Light.ttf') format("truetype");
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  text-align: right;
}

/* Different buffers for the footer based on screen size */
@media (max-width: 767px) {
  body {
    margin-bottom: 200px;
  }
}

@media (min-width: 768px) {
  body {
    margin-bottom: 130px;
  }
}

/*
----------------------------------------------------------------------------
HEADER CSS
--------------------------------------------------------------------------
*/
.site-title {
	font-family: Roboto;
	font-size:16px;
	font-weight:700;
    padding: 20px 0px 10px 0px;
	color: #000000 !important;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.site-title:hover{
    color: #000000 !important;
}

.logo-header {
	height: 70px;
	float: right;
	padding: 0px 20px 10px 0px;
}

#top-nav {
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

.navbar-container{
    padding: 0px 0px 0px 50px;
}

.mobile-menu {
    padding: 10px 0px 10px 0px;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
}

.nav-links {
    font-family: Roboto;
    color: black !important;
    font-size: 14px;
    float: right;
}

.user-button {
    font-family: Roboto;
    font-size: 14px;
    color: #FFFFFF !important;
    background-color: #3366CC !important;
    float: right;
}

.user-button:hover {
    color: #FFFFFF !important;
    background-color: #3366CC !important;
    text-decoration: underline !important;
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .logo-header {
    	height: 70px;
    	float: right;
    	padding: 0px 0px 10px 10px;
    }
    .site-title{
        display: none;
    }
}

@media screen
and (min-width : 320px)
and (max-width : 480px) {
    .site-title {
        display: none;
    }
}

/*
----------------------------------------------------------------------------
LOGIN PARTIAL CSS
--------------------------------------------------------------------------
*/
@media (max-width: 767px) {
    .login-section{
        min-height: 489px;
        background: #3366CC;
        width: 100%;
        overflow-x: hidden;
    }
    .homepage-description{
        color: #FFF;
        font-family: Roboto;
        font-style: normal;
        font-size: 25px;
        font-weight: 800;
        padding: 20px 0px 0px 30px;
    }

    .homepage-criteria{
        color:#FFF;
        font-family: Roboto;
        font-style: normal;
        padding: 0px 0px 0px 30px;
    }
    .criteria-info{
        font-size: 16px;
    }
    .criteria-item{
        font-family: Roboto-Light;
        font-size: 16px;
        line-height: 5px;
    }
    .homepage-login{
        padding: 0px 0px 20px 30px;
    }
    .homepage-login-button{
        color: #3366CC;
        width: 90%;
        font-weight: 700;
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .login-section{
        min-height: 430px;
        background: #3366CC;
        width: 100%;
        overflow-x: hidden;
    }
    .homepage-description{
        color: #FFF;
        font-family: Roboto;
        font-style: normal;
        font-size: 30px;
        font-weight: 800;
        padding: 20px 0px 0px 30px;
    }

    .homepage-criteria{
        color:#FFF;
        font-family: Roboto;
        font-style: normal;
        padding: 0px 0px 0px 40px;
    }

    .criteria-info{
        font-size: 18px;
    }
    .criteria-item{
        font-family: Roboto-Light;
        font-size: 18px;
        line-height: 0px;
    }
    .homepage-login{
        padding: 0px 0px 20px 30px;
    }
    .homepage-login-button{
        color: #3366CC;
        width: 92%;
        font-weight: 700;
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .login-section{
        min-height: 430px;
        background: #3366CC;
        width: 100%;
        overflow-x: hidden;
    }
    .homepage-description{
        color: #FFF;
        font-family: Roboto;
        font-style: normal;
        font-size: 38px;
        font-weight: 800;
        padding: 20px 175px 0px 20px;
    }

    .homepage-criteria{
        color:#FFF;
        font-family: Roboto;
        font-style: normal;
        padding: 35px 0px 0px 195px;
    }

    .criteria-info{
        font-size: 20px;
    }
    .criteria-item{
        font-family: Roboto-Light;
        font-size: 20px;
        line-height: 32px;
    }
    .homepage-login{
        padding: 0px 175px 20px 20px;
    }
    .homepage-login-button{
        color: #3366CC;
        width: 95%;
        font-weight: 700;
        font-size: 14px;
    }
}

.logo {
	height:70px;
	float:left;
	padding:21px 25px 5px 0px;
}

.homepage-title{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
    padding:34px 20px 5px 5px;
}

.criteria-list{
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

.criteria-checkmark{
    padding: 0px 10px 0px 0px;
}

/*
----------------------------------------------------------------------------
HOMEPAGE CAROUSEL CSS
--------------------------------------------------------------------------
*/
.carousel-section{
    overflow-x: hidden;
}
.tag-filters{
    padding: 25px 0px 30px 0px;
}
.glider{
    overflow-x: hidden;
}
.partner-arrow{
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: #3366CC;
    text-transform: uppercase;
    padding: 9px 12px;
    background-color: #FFFFFF;
    border: 2px solid #3366CC;
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;
    text-decoration: none;
}

button.partner-arrow:disabled,
button.partner-arrow[disabled]{
    opacity: 25%;
}

/* For smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .more-item{
        color: #3366CC;
        font-weight: 400;
        padding: 6px;
    }
    .more-item:hover{
        color: #3366CC;
        text-decoration: underline;
    }
    .more-item.active{
        color: #3366CC;
        font-weight: 600;
        text-decoration: underline;
    }
    .more-option{
        border-style: solid;
        border-color: #3366CC;
        border-width: thin;
    }
    .partner-glider-button{
        width: 98%;
        color: #FFFFFF;
        background-color: #3366CC;
    }
    .partner-glider-button:hover{
        color: #FFFFFF;
        background-color: #3366CC;
        font-weight: 500;
    }
    .partner-image-description-container{
        position: relative;
        width: 233px;
        height: 150px;
        margin-left: 42px;
        padding-right: 8px;
    }
    .partner-glider-image{
        max-width: 100%;
        max-height: 110px;
        padding: 40px 0 0 0;
    }
    .partner-glider-description{
        position: absolute;
        top: 50px;
        left: 6px;
        bottom: 5px;
        font-size: 15px;
        white-space: normal;
    }
    .partner-glider-description.truncate-overflow{
        --lh: 1.5rem;
        --max-lines: 4;
        max-height: calc(var(--lh) * var(--max-lines));
        overflow: hidden;
    }
    .partner-glider-description.truncate-overflow:after {
        content: "";
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        height: 1.2em;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
}

/* For tablets */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .more-item{
        color: #3366CC;
        font-weight: 400;
    }
    .more-item:hover{
        color: #3366CC;
        text-decoration: underline;
    }
    .more-item.active{
        color: #3366CC;
        font-weight: 600;
        text-decoration: underline;
    }
    .more-option{
        border-style: solid;
        border-color: #3366CC;
        border-width: thin;
    }
    .partner-glider-button{
        width: 98%;
        color: #FFFFFF;
        background-color: #3366CC;
    }
    .partner-glider-button:hover{
        color: #FFFFFF;
        background-color: #3366CC;
        font-weight: 500;
    }
    .partner-image-description-container{
        position: relative;
        width: 458px;
        height: 150px;
        margin-left: 30px;
        margin-right: auto;
    }
    .partner-glider-image{
        padding-right: 42px;
        max-height: 105px;
        max-width: 100%;
    }
    .partner-glider-description{
        position: absolute;
        top: 40px;
        right: 29.5px;
        white-space: normal;
    }
    .partner-glider-description.truncate-overflow{
        --lh: 1.5rem;
        --max-lines: 4;
        max-height: calc(var(--lh) * var(--max-lines));
        overflow: hidden;
    }
    .partner-glider-description.truncate-overflow:after {
        content: "";
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25%;
        height: 1.2em;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
}

/* For screens larger than tablets */
.more-item{
    color: #3366CC;
    font-weight: 400;
}
.more-item:hover{
    color: #3366CC;
    text-decoration: underline;
}
.more-item.active{
    color: #3366CC;
    font-weight: 600;
    text-decoration: underline;
}
.more-option{
    border-style: solid;
    border-color: #3366CC;
    border-width: thin;
}
.partner-glider-button{
    width: 98%;
    color: #FFFFFF;
    background-color: #3366CC;
}
.partner-glider-button:hover{
    color: #FFFFFF;
    background-color: #3366CC;
    font-weight: 500;
}
.partner-image-description-container{
    position: relative;
    height: 176px;
    margin-left: 25px;
    margin-right: 30px;
}
.partner-glider-image{
    max-width: 100%;
    max-height: 125px;
}
.partner-glider-description{
    position: absolute;
    top: 35px;
    white-space: normal;
}

@media only screen
and (min-device-width : 1025px) {
    .partner-glider-description.truncate-overflow{
        --lh: 1.5rem;
        --max-lines: 5;
        max-height: calc(var(--lh) * var(--max-lines));
        overflow: hidden;
    }
    .partner-glider-description.truncate-overflow:after {
        content: "";
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25%;
        height: 1.2em;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
}

.partner-glider-more-link{
    color: #3366CC;
}
.partner-glider-more-link:hover{
    color: #3366CC;
    text-decoration: underline;
    font-weight: 500;
}

.fade-in-transition{
    animation: fadeIn linear 0.300s;
    -webkit-animation: fadeIn linear 0.300s;
    -moz-animation: fadeIn linear 0.300s;
    -o-animation: fadeIn linear 0.300s;
    -ms-animation: fadeIn linear 0.300s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
/*
----------------------------------------------------------------------------
NEW MY LIBRARY CSS
--------------------------------------------------------------------------
*/
.collections-nav{
    margin-bottom: 40px;
}
.collection-nav-separator{
    border-left: 1px solid #565656;
}
.collection-tab-item{
    font-family: Roboto;
    font-size: 24px;
    color: #565656;
}

.collection-tab-item.active{
    color: #000000;
    box-shadow: inset 0 0px 0 white, inset 0 -3px 0 #000000;
}

.collection-tab-item:hover{
    font-family: Roboto;
    color: #000000;
    box-shadow: inset 0 0px 0 white, inset 0 -3px 0 #565656;
}

.applications-item{
    position: absolute;
    left: 15px;
    top: 10px;
}

.applications-link{
    font-family: Roboto;
    font-size: 14px;
    color: #3366CC;
    text-decoration: underline;
}
.applications-link:hover{
    color: #3366CC;
    text-decoration: none;
}
.filter-container{
    flex-direction: column;
    margin-top: 40px;
}
.filter-title-container{
    width: 100%;
}
.filter-title{
    text-align: left;
    font-size: 15px;
}

.reset-filters-link{
    font-size: 15px;
    color: #3366CC;
    text-decoration: underline;
    position: absolute;
    left: 0px;
}
.reset-filters-link:hover{
    color: #3366CC;
    text-decoration: none;
}

.collection-filter-label{
    font-size: 14px;
    text-align: left;
    font-weight: 500;
}

.collection-filter-button{
    margin-top: 20px;
}

.v-divider{
    margin-left:10px;
    margin-right:15px;
    width:1px;
    border-left:1px solid #DFE1E5;
}

/* Tablets */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .collections-section-container{
        margin-top: 15px;
    }
    .collection-tab-item{
        font-family: Roboto;
        font-size: 20px;
        color: #000000;
        text-align: center;
    }
    .applications-link{
        font-family: Roboto;
        font-size: 13px;
        color: #3366CC;
        text-decoration: underline;
    }
    .applications-item{
        position: absolute;
        left: 10px;
        top: -20px;
    }
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .collections-section-container{
        margin-top: 10px;
    }
    .collection-nav-separator{
        border-left: 0px;
    }
    .collection-tab-item{
        font-family: Roboto;
        color: #000000;
        text-align: center;
    }
    .applications-link{
        font-family: Roboto;
        font-size: 13px;
        color: #3366CC;
        text-decoration: underline;
    }
    .applications-item{
        position: absolute;
        left: 10px;
        top: -20px;
    }
    .collections-nav{
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen
and (min-width : 320px)
and (max-width : 1440px) {
    .collections-section-container{
        margin-top: 15px;
    }
    .applications-item{
        position: absolute;
        left: 10px;
        top: -15px;
        margin-bottom: 10px;
    }
}

@media screen
and (min-width : 320px)
and (max-width : 581px) {
    .collection-nav-separator{
        border-left: 0px;
    }
    .collection-tab-item{
        font-family: Roboto;
        color: #000000;
        text-align: center;
    }
}

/*
----------------------------------------------------------------------------
NEW MY LIBRARY CSS
--------------------------------------------------------------------------
*/
.collections-pane{
    margin-right: 15px;
}
.collection-tile{
    margin: 0px 0px 105px 0px;
}
.tile-partner-link{
    max-height: 125px;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
}
.library-tile-image{
    max-height: 125px;
    padding: 10px 10px 0px 10px;
}

.collection-tags{
    color: #000000;
    background-color: #E0E0E0;
}

.collection-tags:hover{
    color: #000000;
    background-color: #AAADB0;
}

.expiry-date-text{
    font-size: 13px;
    text-align: left;
}

.access-apply-button{
    color: #FFFFFF;
    background-color: #3366CC;
    width: 50%;
    float: right;
}

.access-apply-button:hover{
    color: #FFFFFF;
    text-decoration: underline;
}

.renew-extend-button{
    border: 1px solid #8E8E8E;
    background-color: #FFFFFF;
    width: 40%;
    float: left;
}

.renew-extend-button:hover{
    text-decoration: underline;
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .access-apply-button{
        color: #FFFFFF;
        background-color: #3366CC;
        width: 100%;
        margin-bottom: 10px;
    }

    .renew-extend-button{
        border: 1px solid #8E8E8E;
        background-color: #FFFFFF;
        width: 100%;
    }
}
/* Tablets */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .access-apply-button{
        color: #FFFFFF;
        background-color: #3366CC;
        width: 100%;
        margin-bottom: 10px;
    }

    .renew-extend-button{
        border: 1px solid #8E8E8E;
        background-color: #FFFFFF;
        width: 100%;
    }
}

/* Change image width on some medium-sized screens */
@media screen
and (min-width : 768px)
and (max-width : 1440px) {
    .library-tile-image{
        max-height: 80px;
        max-width: 190px;
        padding: 10px 0px 0px 0px;
    }
}

/*
----------------------------------------------------------------------------
NEW FOOTER CSS
--------------------------------------------------------------------------
*/
#footer {
  background-color: #f8f8f8;
  border-top: 2px solid #eee;
  padding: 10px 40px 0px 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-content{
    float: left !important;
}
.footer-element{
    text-decoration: none;
    color: #000;
}
