@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
       url('../fonts/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'),
       url('../fonts/Roboto-Light.ttf') format("truetype");
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

/* Different buffers for the footer based on screen size */
@media (max-width: 767px) {
  body {
    margin-bottom: 200px;
  }
}

@media (min-width: 768px) {
  body {
    margin-bottom: 130px;
  }
}

/*
----------------------------------------------------------------------------
LOGIN PARTIAL CSS
--------------------------------------------------------------------------
*/
@media (max-width: 767px) {
    .login-section{
        min-height: 489px;
        background: #3366CC;
        width: 100%
    }
    .homepage-description{
        color: #FFF;
        font-family: Roboto;
        font-style: normal;
        font-size: 25px;
        font-weight: 800;
        padding: 20px 0px 0px 45px;
    }

    .homepage-criteria{
        color:#FFF;
        font-family: Roboto;
        font-style: normal;
        padding: 0px 0px 0px 45px;
    }
    .criteria-info{
        font-size: 18px;
    }
    .criteria-item{
        font-family: Roboto-Light;
        font-size: 18px;
        line-height: 5px;
    }
    .homepage-login{
        padding: 0px 0px 0px 25px;
    }
}

@media (max-width: 991px) {
    .login-section{
        min-height: 430px;
        background: #3366CC;
        width: 100%
    }
    .homepage-description{
        color: #FFF;
        font-family: Roboto;
        font-style: normal;
        font-size: 30px;
        font-weight: 800;
        padding: 20px 0px 0px 45px;
    }

    .homepage-criteria{
        color:#FFF;
        font-family: Roboto;
        font-style: normal;
        padding: 0px 0px 0px 45px;
    }

    .criteria-info{
        font-size: 18px;
    }
    .criteria-item{
        font-family: Roboto-Light;
        font-size: 18px;
        line-height: 0px;
    }
    .homepage-login{
        padding: 0px 0px 0px 45px;
    }
}

@media (min-width: 992px) {
    .login-section{
        min-height: 430px;
        background: #3366CC;
        width: 100%
    }
    .homepage-description{
        color: #FFF;
        font-family: Roboto;
        font-style: normal;
        font-size: 38px;
        font-weight: 800;
        padding: 20px 0px 0px 170px;
    }

    .homepage-criteria{
        color:#FFF;
        font-family: Roboto;
        font-style: normal;
        padding: 35px 0px 0px 95px;
    }

    .criteria-info{
        font-size: 20px;
    }
    .criteria-item{
        font-family: Roboto-Light;
        font-size: 20px;
        line-height: 32px;
    }
    .homepage-login{
        padding: 0px 0px 0px 170px;
    }
}

.homepage-logo{
    text-decoration: none;
}

.logo {
	height:70px;
	float:left;
	padding:21px 0px 5px 23px;
}

.homepage-title{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
    padding:34px 20px 5px 5px;
}

.homepage-title:hover{
    color: #FFF;
}

.criteria-list{
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

.criteria-checkmark{
    padding: 0px 10px 0px 0px;
}

.homepage-login-button{
    color: #3366CC;
    width: 95%;
    font-weight: 700;
    font-size: 14px;
}

/*
----------------------------------------------------------------------------
NEW FOOTER CSS
--------------------------------------------------------------------------
*/
#footer {
  background-color: #f8f8f8;
  border-top: 2px solid #eee;
  padding: 10px 40px 0px 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-content{
    float: right !important;
}
.footer-element{
    text-decoration: none;
    color: #000;
}
