@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
       url('../fonts/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'),
       url('../fonts/Roboto-Light.ttf') format("truetype");
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
  --lh: 1.5rem;
  line-height: var(--lh);
}

body {
  background-color: white;
}

.overflow-hidden{
  overflow: hidden;
}

/* Different buffers for the footer based on screen size */
@media (max-width: 767px) {
  body {
    margin-bottom: 200px;
  }
}

@media (min-width: 768px) {
  body {
    margin-bottom: 130px;
  }
}

/*
----------------------------------------------------------------------------
COMMON CONTENT BLOCK CSS
--------------------------------------------------------------------------
*/
#main-content {
  padding: 0.5rem 1rem;
}

.twl-btn {
  white-space: nowrap;
  font-family: Roboto;
  font-size: 14px;
  color: #FFFFFF !important;
  background-color: #3366CC !important;
  border-color: #3366CC !important;
  -webkit-appearance: none;
}
.twl-btn:hover {
  color: #FFFFFF !important;
  background-color: #3366CC !important;
  text-decoration: underline !important;
}
.btn-extra-large{
  padding-top:30px;
  padding-bottom:30px;
  margin-bottom: 14px;
  max-width: 575px;
}
.btn-extra-large::after {
  content: " ";
  display: block;
  height: 0px;
  clear: both;
}
/* uses the less-dangerous-looking pink of bootstrap 3 */
.bg-danger-soft {
  background-color: rgb(242, 222, 222);
}
/* btn-default behaviors ported from bootstrap 3 */
.btn-default {
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  border-color: rgb(204, 204, 204);
  -webkit-appearance: none;
}
.btn-default.focus, .btn-default:focus {
  color:#333;
  background-color:#e6e6e6;
  border-color:#8c8c8c
}
.btn-default:hover {
  color:#333;
  background-color:#e6e6e6;
  border-color:#adadad
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
  color:#333;
  background-color:#e6e6e6;
  border-color:#adadad
}
.btn-default.active.focus,.btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{color:#333;background-color:#d4d4d4;border-color:#8c8c8c}.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
  background-image:none
}
.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
  background-color:#fff;
  border-color:#ccc
}
.btn-default .badge {
  color:#fff;
  background-color:#333
}

.twl-links{
    color: #3366CC;
}

.twl-links:hover{
    color: #3366CC;
}

.twl-links-underline{
    text-decoration: underline;
}
.twl-links-underline:hover{
    text-decoration: none;
}

.twl-secondary-btn{
    color: #000000;
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    -webkit-appearance: none;
}

.twl-secondary-btn:hover{
    background-color: #CCCCCC;
}


/*
----------------------------------------------------------------------------
HEADER CSS
--------------------------------------------------------------------------
*/
.site-title {
	font-family: Roboto;
	font-size:16px;
	font-weight:700;
    padding: 20px 0px 10px 0px;
	color: #000000 !important;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.site-title:hover{
    color: #000000 !important;
}

.logo-header {
	height: 55px;
}

#top-nav {
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

.top-nav-row{
    width: 100%;
}

.mobile-menu {
    padding: 10px 0px 10px 0px;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
}

.nav-links {
    font-family: Roboto;
    color: black !important;
    font-size: 14px;
}

.ebsco-single-search{
    margin-top: 15px;
}

.eds-search-input{
    background: #fff;
    border: 1px solid #3366CC;
    border-radius: 2px 0 0 2px;
    padding: 5px;
    width: 80%;
    font-size: 14px;
}

.eds-search-button{
    border-radius: 0 2px 2px 0;
}

.eds-search-icon{
    display: none;
}

.top-navbar-button{
    margin-top: 15px;
    height: 32px;
}
.top-navbar-button i{
    width: 12px;
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .logo-header {
    	height: 50px;
    }
    .site-title {
        display: none;
    }
    .ebsco-single-search{
        margin: 15px 0px 0px 10px;
    }
    .eds-search-icon{
        display: block;
    }
    .eds-search-text{
        display: none;
    }
    .eds-search-input{
        background: #fff;
        border: 1px solid #3366CC;
        border-radius: 2px 0 0 2px;
        padding: 5px;
        width: 75%;
        font-size: 14px;
    }
}

@media screen
and (min-width : 320px)
and (max-width : 768px) {
    .site-title {
        display: none;
    }
    .logo-header {
    	height: 50px;
    }
    .ebsco-single-search{
        margin: 15px 0px 0px 15px;
    }
    .eds-search-icon{
        display: block;
    }
    .eds-search-text{
        display: none;
    }
    .eds-search-input{
        background: #fff;
        border: 1px solid #3366CC;
        border-radius: 2px 0 0 2px;
        padding: 5px;
        width: 75%;
        font-size: 14px;
    }
}

@media screen
and (min-width : 320px)
and (max-width : 360px) {
    .col-9{
        max-width: 70% !important;
    }
    .eds-search-input{
        background: #fff;
        border: 1px solid #3366CC;
        border-radius: 2px 0 0 2px;
        padding: 5px;
        width: 70%;
        font-size: 14px;
    }
}
/*
----------------------------------------------------------------------------
LOGIN PARTIAL CSS
--------------------------------------------------------------------------
*/
@media (max-width: 767px) {
    .login-section{
        min-height: 489px;
        background: #3366CC;
        width: 100%;
        overflow-x: hidden;
    }
    .homepage-description{
        color: #FFF;
        font-family: Roboto;
        font-style: normal;
        font-size: 25px;
        font-weight: 800;
        padding: 20px 0px 0px 30px;
    }

    .homepage-criteria{
        color:#FFF;
        font-family: Roboto;
        font-style: normal;
        padding: 0px 0px 0px 30px;
    }
    .criteria-info{
        font-size: 16px;
    }
    .criteria-item{
        font-family: Roboto-Light;
        font-size: 16px;
        line-height: 5px;
    }
    .homepage-login{
        padding: 0px 0px 20px 25px;
    }
    .homepage-login-button{
        color: #3366CC;
        width: 90%;
        font-weight: 700;
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .login-section{
        min-height: 430px;
        background: #3366CC;
        width: 100%;
        overflow-x: hidden;
    }
    .homepage-description{
        color: #FFF;
        font-family: Roboto;
        font-style: normal;
        font-size: 30px;
        font-weight: 800;
        padding: 20px 20px 0px 30px;
    }

    .homepage-criteria{
        color:#FFF;
        font-family: Roboto;
        font-style: normal;
        padding: 0px 0px 0px 30px;
    }

    .criteria-info{
        font-size: 18px;
    }
    .criteria-item{
        font-family: Roboto-Light;
        font-size: 18px;
        line-height: 0px;
    }
    .homepage-login{
        padding: 0px 0px 20px 30px;
    }
    .homepage-login-button{
        color: #3366CC;
        width: 92%;
        font-weight: 700;
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .login-section{
        min-height: 430px;
        background: #3366CC;
        width: 100%;
        overflow-x: hidden;
    }
    .homepage-description{
        color: #FFF;
        font-family: Roboto;
        font-style: normal;
        font-size: 38px;
        font-weight: 800;
        padding: 20px 0px 0px 250px;
    }

    .homepage-criteria{
        color:#FFF;
        font-family: Roboto;
        font-style: normal;
        padding: 35px 0px 0px 125px;
    }

    .criteria-info{
        font-size: 20px;
    }
    .criteria-item{
        font-family: Roboto-Light;
        font-size: 20px;
        line-height: 32px;
    }
    .homepage-login{
        padding: 0px 0px 20px 250px;
    }
    .homepage-login-button{
        color: #3366CC;
        width: 95%;
        font-weight: 700;
        font-size: 14px;
    }
}

.logo {
	height:70px;
	float:left;
	padding:21px 0px 5px 23px;
}

.homepage-title{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
    padding:34px 20px 5px 5px;
}

.criteria-list{
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

.criteria-checkmark{
    padding: 0px 10px 0px 0px;
}

/*
----------------------------------------------------------------------------
MESSAGE PARTIAL CSS
--------------------------------------------------------------------------
*/
#message-container {
  margin-left: 15px;
  margin-right: 15px;
}

/*
----------------------------------------------------------------------------
NOSCRIPT CSS
--------------------------------------------------------------------------
*/
#noscript {
  color: red;
}

/*
----------------------------------------------------------------------------
HOMEPAGE CAROUSEL CSS
--------------------------------------------------------------------------
*/
.carousel-section{
    overflow-x: hidden;
}
.tag-filters{
    padding: 25px 0px 30px 0px;
}
.partner-arrow{
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: #3366CC;
    text-transform: uppercase;
    padding: 9px 12px;
    background-color: #FFFFFF;
    border: 2px solid #3366CC;
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;
    text-decoration: none;
}
button.partner-arrow:disabled,
button.partner-arrow[disabled]{
    opacity: 25%;
}

/* For smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .more-item{
        color: #3366CC;
        font-weight: 400;
        padding: 6px;
    }
    .more-item:hover{
        color: #3366CC;
        text-decoration: underline;
    }
    .more-item.active{
        color: #3366CC;
        font-weight: 600;
        text-decoration: underline;
    }
    .more-option{
        border-style: solid;
        border-color: #3366CC;
        border-width: thin;
    }
    .partner-glider-button{
        width: 98%;
        color: #FFFFFF;
        background-color: #3366CC;
    }
    .partner-glider-button:hover{
        color: #FFFFFF;
        background-color: #3366CC;
        font-weight: 500;
    }
    .partner-image-description-container{
        position: relative;
        width: 233px;
        height: 150px;
        margin-left: 42px;
        padding-right: 8px;
    }
    .partner-glider-image{
        max-width: 100%;
        max-height: 110px;
        padding: 40px 0 0 0;
    }
    .partner-glider-description{
        position: absolute;
        top: 50px;
        right: 6px;
        bottom: 5px;
        font-size: 15px;
        white-space: normal;
    }
    .partner-glider-description.truncate-overflow{
        --lh: 1.5rem;
        --max-lines: 4;
        max-height: calc(var(--lh) * var(--max-lines));
        overflow: hidden;
    }
    .partner-glider-description.truncate-overflow:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
}
/* For tablets */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .more-item{
        color: #3366CC;
        font-weight: 400;
    }
    .more-item:hover{
        color: #3366CC;
        text-decoration: underline;
    }
    .more-item.active{
        color: #3366CC;
        font-weight: 600;
        text-decoration: underline;
    }
    .more-option{
        border-style: solid;
        border-color: #3366CC;
        border-width: thin;
    }
    .partner-glider-button{
        width: 98%;
        color: #FFFFFF;
        background-color: #3366CC;
    }
    .partner-glider-button:hover{
        color: #FFFFFF;
        background-color: #3366CC;
        font-weight: 500;
    }
    .partner-image-description-container{
        position: relative;
        width: 458px;
        height: 150px;
        margin-left: 30px;
        margin-right: auto;
    }
    .partner-glider-image{
        padding-right: 42px;
        max-height: 105px;
        max-width: 100%;
    }
    .partner-glider-description{
        position: absolute;
        top: 40px;
        right: 29.5px;
        white-space: normal;
    }
    .partner-glider-description.truncate-overflow{
        --max-lines: 4;
        max-height: calc(var(--lh) * var(--max-lines));
        overflow: hidden;
    }
    .partner-glider-description.truncate-overflow:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
}
/* For screens larger than tablets */
.more-item{
    color: #3366CC;
    font-weight: 400;
}
.more-item:hover{
    color: #3366CC;
    text-decoration: underline;
}
.more-item.active{
    color: #3366CC;
    font-weight: 600;
    text-decoration: underline;
}
.more-option{
    border-style: solid;
    border-color: #3366CC;
    border-width: thin;
}
.partner-glider-button{
    width: 98%;
    color: #FFFFFF;
    background-color: #3366CC;
}
.partner-glider-button:hover{
    color: #FFFFFF;
    background-color: #3366CC;
    font-weight: 500;
}
.partner-image-description-container{
    position: relative;
    height: 176px;
    margin-left: 25px;
    margin-right: 30px;
}
.partner-glider-image{
    max-width: 100%;
    max-height: 125px;
}
.partner-glider-description{
    position: absolute;
    top: 35px;
    white-space: normal;
}

@media only screen
and (min-device-width : 1025px) {
    .partner-glider-description.truncate-overflow{
        --max-lines: 5;
        max-height: calc(var(--lh) * var(--max-lines));
        overflow: hidden;
    }
    .partner-glider-description.truncate-overflow:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
}

.partner-image-container{
    padding-top: 20px;
}

.partner-glider-more-link{
    color: #3366CC;
}
.partner-glider-more-link:hover{
    color: #3366CC;
    text-decoration: underline;
    font-weight: 500;
}


.fade-in-transition{
    animation: fadeIn linear 0.300s;
    -webkit-animation: fadeIn linear 0.300s;
    -moz-animation: fadeIn linear 0.300s;
    -o-animation: fadeIn linear 0.300s;
    -ms-animation: fadeIn linear 0.300s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/*
----------------------------------------------------------------------------
NEW MY LIBRARY CSS
--------------------------------------------------------------------------
*/
.collections-nav{
    margin-bottom: 40px;
}

.collection-tab-item{
    font-family: Roboto;
    font-size: 24px;
    color: #565656;
    margin-right: 5px;
}

.collection-tab-item.active{
    color: #000000;
    box-shadow: inset 10px 0px 0 white, inset 0 -3px 0 #000000;
}

.collection-tab-item:hover{
    font-family: Roboto;
    color: #000000;
    box-shadow: inset 10px 0px 0 white, inset 0 -3px 0 #565656;
}

.applications-item{
    position: absolute;
    right: 15px;
    top: 10px;
}

.applications-link{
    font-size: 14px;
}
.about-section, .key-section{
    font-size: 15px;
}
.about-links{
    text-align:center;
}
.learn-more-link, .discuss-link, .reset-filters-link{
    font-size: 15px;
}
.icon-section{
    display: inline-block;
    vertical-align:middle;
    width: 10%;
}
.about-content, .key-content{
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    width: 80%;
}
.key-content{
    padding-left: 15px;
}
.key-additional-info{
    font-size: 14px;
}
.filter-container{
    flex-direction: column;
    margin-top: 40px;
}
.filter-container hr {
    width: 100%;
}
.filter-title-container{
    width: 100%;
}
.filter-title{
    text-align: left;
    font-size: 15px;
}

.reset-filters-link{
    position: absolute;
    right: 0px;
}
.reset-filters-link:hover{
    color: #3366CC;
    text-decoration: none;
}

.collection-filter-label{
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.checkbox-filter-form{
    font-size: 14px;
    list-style: none;
    padding: 0px;
}

label{
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

#id_searchable li label{
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
}

#id_access li label{
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
}

.v-divider{
    margin-left:10px;
    margin-right:15px;
    width:1px;
    border-left:1px solid #DFE1E5;
}

/* Tablets */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .collection-tab-item{
        font-family: Roboto;
        font-size: 20px;
        color: #000000;
        text-align: center;
    }
    .applications-link{
        font-size: 13px;
    }
    .applications-item{
        position: absolute;
        right: 10px;
        top: -20px;
    }
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .collections-section-container{
        margin-top: 10px;
    }

    .collection-tab-item{
        font-family: Roboto;
        color: #000000;
        text-align: center;
    }
    .applications-link{
        font-size: 13px;
    }
    .applications-item{
        position: absolute;
        right: 10px;
        top: -20px;
    }
    .collections-nav{
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen
and (min-width : 320px)
and (max-width : 1440px) {
    .applications-item{
        position: absolute;
        right: 10px;
        top: -25px;
    }
}
/*
----------------------------------------------------------------------------
NEW MY LIBRARY COLLECTION TILES CSS
--------------------------------------------------------------------------
*/
.collections-pane{
    margin-right: 15px;
}
.collection-tile{
    margin: 0px 0px 50px 0px;
}
.searchable-icon{
    color: #000000;
    font-size: 20px;
    padding: 5px 0px 0px 10px;
}
/* hint for css janus rtl processing */
.fa-search:before {
    float: left;
}
.partially-searchable-icon{
    color: #AAADB0;
    font-size: 20px;
    padding: 5px 0px 0px 10px;
}
.tile-partner-link{
    max-height: 125px;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
}
.library-tile-image{
    max-height: 125px;
    padding: 10px 0px 0px 0px;
}

/* Obtained from https://www.bram.us/2021/06/23/css-at-supports-rules-to-target-only-firefox-safari-chromium/#safari */
/* (Safari + MobileSafari >= 14.6) or (All MobileSafari versions) */
@supports  (selector(:nth-child(1 of x))) or (-webkit-touch-callout: none) {
    .tile-partner-link{
        max-height: 20.5vh;
        max-width: 20.5vh;
        margin-left: auto;
        margin-right: auto;
    }
    .library-tile-image{
        max-height: 20.5vh;
        padding: 10px 0px 0px 0px;
    }
}


.favorite-icon{
    color: #FFC93F;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.collection-tags{
    color: #000000;
    background-color: #E0E0E0;
}

.collection-tags:hover{
    color: #000000;
    background-color: #AAADB0;
}

.collection-waitlisted-badge{
    color: #000000;
    background-color: #F0AD4E;
}

.collection-not-available-badge{
    color: #000000;
    background-color: #FF8585;
}

.expiry-date-text{
    font-size: 13px;
    text-align: right;
}

.phab-task-info{
    border-color: #17a2b8;
}

.phab-task-warning{
    border-color: #ffc107;
}

.phab-task-danger{
    border-color: #dc3545;
}

.phab-task-button{
    background-color: #FFFFFF;
    color: #000000;
    -webkit-appearance: none;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
    background-color: #FFFFFF;
}

.phab-task-wrapper{
    padding: 0;
    margin-bottom: 0.75rem;
}

.phab-task-card{
    width: 98%;
}

.phab-task-button:hover{
    text-decoration: underline;
}

.access-apply-button{
    -webkit-appearance: none;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.renew-extend-button{
    border: 1px solid #8E8E8E;
    background-color: #FFFFFF;
    -webkit-appearance: none;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.renew-extend-button:hover{
    text-decoration: underline;
}

/* Change image width on some medium-sized screens */
@media screen
and (min-width : 768px)
and (max-width : 1440px) {
    .library-tile-image{
        max-height: 80px;
        max-width: 190px;
        padding: 10px 0px 0px 0px;
    }

    /* Obtained from https://www.bram.us/2021/06/23/css-at-supports-rules-to-target-only-firefox-safari-chromium/#safari */
    /* (Safari + MobileSafari >= 14.6) or (All MobileSafari versions) */
    @supports  (selector(:nth-child(1 of x))) or (-webkit-touch-callout: none) {
        .tile-partner-link{
            max-height: 14vh;
            max-width: 14vh;
            margin-left: auto;
            margin-right: auto;
        }
        .library-tile-image{
            max-height: 14vh;
            padding: 10px 0px 0px 0px;
        }
    }
}

/*
----------------------------------------------------------------------------
ELIGIBILITY MODAL CSS
--------------------------------------------------------------------------
*/
.no-js-modal-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.no-js-card{
    width: 45%;
    margin: 150px auto 0px auto;
}

.eligibility-criteria-container{
    width: 55%;
}
.eligibility-criteria{
    font-family: Roboto;
    font-size: 26px;
    line-height: 50px;
    font-weight: 300;
}
.eligibility-criteria i{
    margin-right: 10px;
}

.eligibility-modal-button{
    width: 90%;
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .no-js-card{
        width: 95%;
        margin: 50px auto 0px auto;
    }
    .eligibility-criteria-container{
        width: 90%;
    }
    .eligibility-criteria{
        font-family: Roboto;
        font-size: 22px;
        line-height: 40px;
        font-weight: 300;
    }
    .eligibility-modal-button{
        width: 75%;
        margin-bottom: 10px;
    }
}
/* Tablets */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .no-js-card{
        width: 65%;
        margin: 150px auto 0px auto;
    }
    .eligibility-criteria-container{
        width: 75%;
    }
    .eligibility-modal-button{
        width: 95%;
        margin-bottom: 10px;
    }
}

@media screen
and (min-width : 1025px)
and (max-width : 1650px) {
    .no-js-card{
        width: 70%;
        margin: 150px auto 0px auto;
    }
}

@media screen
and (min-width : 451px)
and (max-width : 1024px) {
    .no-js-card{
        width: 85%;
        margin: 150px auto 0px auto;
    }
    .eligibility-criteria-container{
        width: 75%;
    }
    .eligibility-modal-button{
        margin-bottom: 10px;
    }
}

@media screen
and (max-width : 450px) {
    .no-js-card{
        width: 95%;
        margin: 50px auto 0px auto;
    }
    .eligibility-modal-button{
        width: 95%;
        margin-bottom: 10px;
    }
    .eligibility-criteria{
        font-family: Roboto;
        font-size: 22px;
        line-height: 40px;
        font-weight: 300;
    }
}

/*
----------------------------------------------------------------------------
PARTNERS CSS
--------------------------------------------------------------------------
*/

.page-banner-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}

.suggest-button {
  float: left;
}

.list-container {
  margin-top: 10px;
}

/* For 'back to top' button on /partners/ */
#back-to-top {
  display: inline-block;
  border-radius: 4px;
  position: fixed;
  bottom: 170px;
  right: 10px;
  font-size: 28px;
  z-index: 1000;
  background-color: #ff9800;
  color: #fff;
  opacity: 1;
  visibility: visible;
}

#back-to-top:hover {
  background-color: #333;
  color: #fff;
}

@media only screen
and (min-width : 576px) {
  .suggest-button {
    float: right;
  }
}

/*
----------------------------------------------------------------------------
CONTACT US CSS
--------------------------------------------------------------------------
*/

.contact-info-header{
    background-color: #3366CC;
    color: #FFFFFF;
}

/*
----------------------------------------------------------------------------
TIMELINE PARTNER DETAIL PAGE
--------------------------------------------------------------------------*/
.half-timeline > li > .timeline-badge {
  left: 25px;
}

.half-timeline:before {
  left: 25px;
}

.half-timeline > li.timeline-inverted > .timeline-panel {
  float: left;
  margin-left: 75px;
  width: 70%;
}

.full-width {
  display: block;
  width: 100%;
}

/* removes li after 5th from homepage */
ul.timeline li:nth-child(-n+5) {
   display: list-item;
}

ul.timeline-home li {
	display:none;
}

.partner-detail-logo{
    position: relative;
    padding: 0 10% 0 10%;
    margin: 0 auto 2em auto;
    max-height: 7em;
    min-height: 3em;
    z-index: 1;
}

.resource-label-subject{
    background-image: url('../img/bullet-subject.png');
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 2em;
    padding: 6px 0px 0px 30px;
}

.resource-label-languages{
    background-image: url("../img/bullet-language.png");
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 2em;
    padding: 6px 0px 0px 30px;
}

.stats-text{
    text-align: right;
}

#partner-detail-content{
    margin-left: 50px;
    margin-right: 50px;
}

/*
----------------------------------------------------------------------------
NEW FOOTER CSS
--------------------------------------------------------------------------
*/
#footer {
  background-color: #f8f8f8;
  border-top: 2px solid #eee;
  padding: 10px 40px 0px 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-content{
    float: right !important;
}
.footer-element{
    text-decoration: none;
    color: #000;
}
