---

env:
  - TWLIGHT_HOME=$(pwd)
  - TWLIGHT_USERNAME=travis

language: python

cache: pip

python:
  - 2.7

addons:
  mariadb: '10.2'

services:
  - mysql

before_install:
  - export DJANGO_SETTINGS_MODULE=TWLight.settings.local
  - export PIP_USE_MIRRORS=true

# Install the dependencies.
install:
  - pip install -r requirements/wmf.txt

# Initalize the app and test it.
script:
  - .travis/./init.sh
  - python manage.py test --noinput

# Push to production if the conditions are met.
after_success:
  - .travis/./deploy.sh
