---

env:
  global:
    - TWLIGHT_MISSING_MIGRATIONS=$(git ls-files --others --exclude-standard 'TWLight/*/migrations/*.py' | wc -l)
    - BRANCH_TAG=branch_${TRAVIS_BRANCH//[^A-Za-z0-9]/_}
    - COMMIT_TAG=commit_${TRAVIS_COMMIT}
    - BUILD_TAG=build_${TRAVIS_BUILD_NUMBER}

dist: focal

language: minimal

services:
  - docker

install:
  # mirror images from docker.io to ${cr_server}.
  # Do this step if the job was fired by cron
  - if [ "${TRAVIS_EVENT_TYPE}" == "cron" ]; then .travis/./docker_mirror.sh; fi
  # Build and run containers.
  # Skip this step if the job was fired by cron
  - if [ "${TRAVIS_EVENT_TYPE}" != "cron" ]; then .travis/./docker_compose.sh; fi

# Initalize the app and test it.
# Skip these steps if the job was fired by cron
script:
  # Run migrations
  - if [ "${TRAVIS_EVENT_TYPE}" != "cron" ]; then docker-compose exec twlight /app/bin/virtualenv_migrate.sh || docker-compose logs && exit 1; fi
  # Update translations
  - if [ "${TRAVIS_EVENT_TYPE}" != "cron" ]; then docker-compose exec twlight /app/bin/virtualenv_translate.sh last-commit || docker-compose logs && exit 1; fi
  # Run tests
  - if [ "${TRAVIS_EVENT_TYPE}" != "cron" ]; then docker-compose exec twlight /app/bin/virtualenv_test.sh || docker-compose logs && exit 1; fi
  # Submit test coverage report to coveralls
  - if [ "${TRAVIS_EVENT_TYPE}" != "cron" ] && [ -n "${TRAVIS_BRANCH+isset}" ] && [ -n "${TRAVIS_JOB_ID+isset}" ] && [ -n "${COVERALLS_REPO_TOKEN+isset}" ]; then docker-compose exec -e COVERALLS_REPO_TOKEN -e TRAVIS_JOB_ID -e TRAVIS_BRANCH twlight /venv/bin/coveralls ||:; fi

# Deploy changes if the conditions are met.
# Skip this steps if the job was fired by cron
after_success:
  - if [ "${TRAVIS_EVENT_TYPE}" != "cron" ]; then .travis/./deploy.sh; fi
