---
services:
  db:
    image: quay.io/wikipedialibrary/mariadb:10-updated
    volumes:
      - mysql:/var/lib/mysql
      - type: bind
        source: ./conf/db.cnf
        target: /etc/mysql/conf.d/db.cnf
      - type: bind
        source: ./bin/twlight_mysql_init.sh
        target: /docker-entrypoint-initdb.d/twlight_mysql_init.sh
    secrets:
      - DJANGO_DB_NAME
      - DJANGO_DB_USER
      - DJANGO_DB_PASSWORD
      - MYSQL_ROOT_PASSWORD
    environment:
      # https://mariadb.com/kb/en/mariadb-docker-environment-variables/
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/MYSQL_ROOT_PASSWORD
      # Any non-empty value will do
      - MARIADB_AUTO_UPGRADE=TRUE
      # Any non-empty value will do
      - MARIADB_DISABLE_UPGRADE_BACKUP=TRUE
  twlight:
    build:
      context: .
      args:
        - REQUIREMENTS_FILE=wmf.txt
    depends_on:
      - 'db'
    volumes:
      - type: bind
        source: ./media
        target: /app/media
    secrets:
      - DJANGO_DB_NAME
      - DJANGO_DB_USER
      - DJANGO_DB_PASSWORD
      - DKIM_PRIVATE_KEY
      - SECRET_KEY
      - TWLIGHT_OAUTH_CONSUMER_KEY
      - TWLIGHT_OAUTH_CONSUMER_SECRET
      - TWLIGHT_EZPROXY_SECRET
      - MW_API_EMAIL_USER
      - MW_API_EMAIL_PASSWORD
    command: [ "/venv/bin/gunicorn", "TWLight.wsgi" ]
  web:
    image: quay.io/wikipedialibrary/nginx:latest-updated
    depends_on:
      - 'twlight'
    volumes:
      - type: bind
        source: ./conf/robots.txt
        target: /app/robots.txt
      - type: bind
        source: ./TWLight/static/img/favicon.ico
        target: /app/favicon.ico
      - type: bind
        source: ./media
        target: /app/media
      - type: bind
        source: ./TWLight/templates/500
        target: /app/500
    ports:
      - '0.0.0.0:80:80'

volumes:
  mysql:

