---
services:
  twlight:
    image: quay.io/wikipedialibrary/twlight:local
    # Local environment should mount things from the code directory
    volumes:
      - type: bind
        source: .
        target: /app
    env_file:
      - path: ./conf/local.twlight.env
        required: true
      - path: .env
        required: false
    extra_hosts:
      - "host.docker.internal:host-gateway"
  web:
    volumes:
      - type: bind
        source: ./conf/local.nginx.conf
        target: /etc/nginx/conf.d/default.conf
secrets:
  DJANGO_DB_NAME:
    file: ./secrets/DJANGO_DB_NAME
  DJANGO_DB_USER:
    file: ./secrets/DJANGO_DB_USER
  DJANGO_DB_PASSWORD:
    file: ./secrets/DJANGO_DB_PASSWORD
  DKIM_PRIVATE_KEY:
    file: ./secrets/DKIM_PRIVATE_KEY
  MYSQL_ROOT_PASSWORD:
    file: ./secrets/MYSQL_ROOT_PASSWORD
  SECRET_KEY:
    file: ./secrets/SECRET_KEY
  TWLIGHT_OAUTH_CONSUMER_KEY:
    file: ./secrets/TWLIGHT_OAUTH_CONSUMER_KEY
  TWLIGHT_OAUTH_CONSUMER_SECRET:
    file: ./secrets/TWLIGHT_OAUTH_CONSUMER_SECRET
  TWLIGHT_EZPROXY_SECRET:
    file: ./secrets/TWLIGHT_EZPROXY_SECRET
  MW_API_EMAIL_USER:
    file: ./secrets/MW_API_EMAIL_USER
  MW_API_EMAIL_PASSWORD:
    file: ./secrets/MW_API_EMAIL_PASSWORD
