{% extends "new_base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  {% include "header_partial_b4.html" %}
  {% include "message_partial.html" %}
  {% get_current_language as LANGUAGE_CODE %}
  <div id="main-content">
    {% comment %}Translators: Shown on the website's 400 page, when a user sends a bad request.{% endcomment %}
    <h1>{% trans "Bad Request" %}</h1>

    <p>
      {% comment %}Translators: Shown on the website's 400 page, when a user sends a bad request. {% endcomment %}
      {% trans "Sorry; we don't know what to do with that." %}
    </p>

    <p>
      {% comment %}Translators: Shown on the website's 400 page, when a user sends a bad request. Don't translate {{ path }} or Phabricator. {% endcomment %}
      {% blocktranslate trimmed with request.path|urlencode as path %}
        If you think we should know what to do with that, please email us about this error at
        <a class="twl-links" href="mailto:wikipedialibrary@wikimedia.org?Subject=Wikipedia%20Library%20{{ path }}%20Permission%20denied">wikipedialibrary@wikimedia.org</a>
        or report it to us on
        <a class="twl-links" href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?projectPHIDs=Library-Card-Platform&title=Wikipedia%20Library%20{{ path }}%20Bad%20Request">Phabricator</a>
      {% endblocktranslate %}
      (<a class="twl-links" href="https://www.mediawiki.org/wiki/Phabricator/Help/{{ LANGUAGE_CODE }}?uselang={{ LANGUAGE_CODE }}">?</a>).
    </p>

    <div class="clearfix">
      <div class="pull-left">
        <img class="img-fluid img-thumbnail" src={% static "img/sad_critter.jpg" %} alt="
        {% comment %}Translators: Alt text for an image shown on the 400 error page. {% endcomment %}
        {% trans "Sad hamster in a cage" %}
        ">

        <div class="alert alert-secondary">
          <a class="twl-links" href="https://flic.kr/p/6wL7Sc">crunchie needs a little tin cup</a> by <a class="twl-links" href="https://www.flickr.com/photos/armydre2008/">frankieleon</a>, on Flickr; CC BY
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
