{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

  <h1>{% trans "Permission denied" %}</h1>

  <p>
    {% trans "Sorry; you aren't allowed to do that." %}
  </p>

  <p>
    {% trans "If you think your account should be able to do that, make sure that you logged in with the correct Wikipedia account and home wiki." %}
  </p>

  <div class="clearfix">
    <div class="pull-left">
      <img class="img-responsive img-thumbnail" src={% static "img/sad_critter.jpg" %} alt="sad critter in cage">

      <div class="well">
        <a href="https://flic.kr/p/6wL7Sc">crunchie needs a little tin cup</a> by <a href="https://www.flickr.com/photos/armydre2008/">frankieleon</a>, on Flickr; CC BY
      </div>
    </div>
  </div>

{% endblock content %}
