{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

  <h1>{% trans "Not found" %}</h1>

  <p>
    {% trans "Sorry; we can't find that." %}
  </p>

  <p>
    {% blocktrans trimmed %}
      If you are certain that something should be here, please email us about this error at
      <a href="mailto:wikipedialibrary@wikimedia.org?Subject=Wikipedia%20Library%20Not%20found">
wikipedialibrary@wikimedia.org</a>
      or report it to us on
      <a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?projectPHIDs=Library-Card-P
latformi&Wikipedia%20Library%20Not%20found">Phabricator</a>
      (login required).
    {% endblocktrans %}
  </p>

  <div class="clearfix">
    <div class="pull-left">
      <img class="img-responsive img-thumbnail" src={% static "img/say_what.jpg" %} alt="quizzical crab">

      <div class="well">
        <a href="https://flic.kr/p/UHr11n">Say what?</a> by <a href="https://www.flickr.com/photos/armydre2008/">frankieleon</a>, on Flickr; CC BY
      </div>
    </div>
  </div>

{% endblock content %}
