{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
  {% comment %} Translator: Shown on the website's 404 page, when a user attempts to navigate to a page that doesn't exist. {% endcomment %}
  <h1>{% trans "Not found" %}</h1>

  <p>
    {% comment %} Translator: Shown on the website's 404 page, when a user attempts to navigate to a page that doesn't exist. {% endcomment %}
    {% trans "Sorry; we can't find that." %}
  </p>
  <p>
    {% blocktrans trimmed with request.path|urlencode as path %}
      If you are certain that something should be here, please email us about this error at
      <a href="mailto:wikipedialibrary@wikimedia.org?Subject=Wikipedia%20Library%20{{ path }}%20Not%20found">
      wikipedialibrary@wikimedia.org</a>
      or report it to us on
      <a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?projectPHIDs=Library-Card-Platform&title=Wikipedia%20Library%20{{ path }}%20Not%20found">Phabricator</a>
    {% endblocktrans %}
    (<a href="https://www.mediawiki.org/wiki/Phabricator/Help/{{ LANGUAGE_CODE }}?uselang={{ LANGUAGE_CODE }}">?</a>).
  </p>
  <div class="clearfix">
    <div class="pull-left">
      <img class="img-responsive img-thumbnail" src={% static "img/say_what.jpg" %} alt="quizzical crab">

      <div class="well">
        <a href="https://flic.kr/p/UHr11n">Say what?</a> by <a href="https://www.flickr.com/photos/armydre2008/">frankieleon</a>, on Flickr; CC BY
      </div>
    </div>
  </div>

{% endblock content %}
