{% load i18n %}
{% load staticfiles %}
{% load twlight_perms %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>
    {% trans "The Wikipedia Library Card Platform" %}
  </title>
  
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
  <!-- Custom CSS -->
  {% if LANGUAGE_BIDI %}
    <!-- RTL Bootstrap CSS -->
    <link href="{% static "css/bootstrap.min-rtl.css" %}" rel="stylesheet">
    <!-- RTL Custom CSS -->
    <link href="{% static "css/startbootstrap/sb-admin-2-rtl.css" %}" rel="stylesheet">
    <link href="{% static "css/startbootstrap/timeline-rtl.css" %}" rel="stylesheet">
    <!-- RTL Custom Fonts -->
    <link href="{% static "css/font-awesome.min-rtl.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/local-rtl.css" %}" rel="stylesheet" type="text/css">
  {% else %}
    <!-- LTR Bootstrap CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- LTR Custom CSS -->
    <link href="{% static "css/startbootstrap/sb-admin-2.css" %}" rel="stylesheet">
    <link href="{% static "css/startbootstrap/timeline.css" %}" rel="stylesheet">
    <!-- LTR Custom Fonts -->
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/local.css" %}" rel="stylesheet" type="text/css">
  {% endif %}

  {% block extra_css %}    
  {% endblock extra_css %}

  {% block head_javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
            integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw"
            crossorigin="anonymous">
    </script>
  {% endblock head_javascript %}
</head>
{% if LANGUAGE_BIDI %}
  <body dir="rtl">
{% else %}
  <body>
{% endif %}
  
 <!-- navbar -->
  <div class="navbar navbar-default" id="top-nav">
      <div class="navbar-left">
        <!-- logo -->
        <a href="{% url 'homepage' %}">
          <img src="{% static 'img/Wikipedia_Library_owl.svg' %}" class="img-responsive logo" alt="
          {% comment %} Translators: Alt text for the Wikipedia Library shown in the top left of all pages. {% endcomment %}
          {% trans "Library Card Platform home" %}
          ">
        </a>

        <!-- site name -->
        <a class="site-title" href="{% url 'homepage' %}">{% trans "The Wikipedia Library Card Platform" %}</a>

        <br>
        {% if user.is_authenticated %}
          {% url 'users:home' as home_url %}
          <div class="btn-group dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
              {% if user.editor %}
                {{ user.editor.wp_username }}
              {% else %}
                {{ user.username }}
              {% endif %}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ home_url }}">
                  <i class="fa fa-user-o" aria-hidden="true"></i>
                  {% comment %} Translators: Shown in the top bar of almost every page inside a dropdown, linking the user to their respective profiles. {% endcomment %}
                  {% trans "Profile" %}
                </a>
              </li>
              {% if user.is_superuser %}
                <li>
                  <a href="{% url 'admin:index' %}">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    {% comment %} Translators: Shown in the top bar of almost every page inside a dropdown when the current user is a superuser, linking to the administrator interface. {% endcomment %}
                    {% trans "Admin" %}
                  </a>
                </li>
              {% endif %}
              <li class="divider"></li>
              <li>
                <a href="
                  {% if user.editor %}
                    {%  url 'users:my_collection' user.editor.pk %}
                  {% endif %}
                ">
                  <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                  {% comment %} Translators: Shown in the top bar of almost every page inside a dropdown, linking the user to their collection. {% endcomment %}
                  {% trans "Collection" %}
                </a>
              </li>
              <li>
                <a href="
                  {% if user.editor %}
                    {%  url 'users:my_applications' user.editor.pk %}
                  {% endif %}
                ">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;
                  {% comment %} Translators: Shown in the top bar of almost every page inside a dropdown, linking the user to their list of applications. {% endcomment %}
                  {% trans "Applications" %}
                </a>
              </li>
            </ul>
          </div>
        {% endif %}
      </div>
      
      <ul class="nav nav-pills navbar-right">
      <li role="presentation" class="mobile-menu">
        <a href="{% url 'partners:filter' %}">
          {% comment %} Translators: Shown in the top bar of almost every page, taking users to the page where they can browse and apply to partners. {% endcomment %}
          {% trans "Apply" %}
        </a>
      </li>
      
    {% if user|coordinators_only %}
      <li role="presentation" class="mobile-menu">
        <a href="{% url 'applications:list' %}">
          {% comment %} Translators: Shown in the top bar of almost every page when the current user is an account coordinator, taking them to the page where they can see existing applications. {% endcomment %}
          {% trans "Review" %}
        </a>
      </li>
    {% endif %}
      
    {% if user|coordinators_only %}
      <li role="presentation" class="mobile-menu">
        <a href="{% url 'applications:send' %}">
          {% comment %} Translators: Shown in the top bar of almost every page when the current user is an account coordinator, taking them to the page where they can send approved applications to partners for setup. {% endcomment %}
          {% trans "Send data to partners" %}
        </a>
      </li>
    {% endif %}
      
    <li role="presentation" class="divider mobile-menu">
      <a href="{% url 'activity' %}">
        {% comment %} Translators: Shown in the top bar of almost every page, linking to the home page (for the timeline). {% endcomment %}
        {% trans "Latest activity" %}
      </a>
    </li>

    <li role="presentation" class="mobile-menu">
      <a href="{% url 'dashboard' %}">
        {% comment %} Translators: Shown in the top bar of almost every page, linking to the statitics for applications. {% endcomment %}
        {% trans "Metrics" %}
      </a>
    </li>

    {% if user.is_authenticated %}
      <li role="presentation" class="divider mobile-menu">
        <a href="{% url 'auth_logout' %}">
          {% comment %} Translators: Shown in the top bar of almost every page when the current user is logged in. {% endcomment %}
          {% trans "Log out" %}
        </a>
      </li>
    {% else %}
      
      <li role="presentation" class="mobile-menu">
        {% if request.GET %}
        <a href="{% url 'oauth_login' %}?next={{ request.path|urlencode }}&{{ request.GET.urlencode }}">
        {% else %}
        <a href="{% url 'oauth_login' %}?next={{ request.path|urlencode }}">
        {% endif %}
          {% comment %} Translators: Shown in the top bar of almost every page when the current user is not logged in. {% endcomment %}
          {% trans "Log in" %}
        </a>
      </li>
    {% endif %}
    
    </ul>
  </div>
 
  <div id="main-content">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message|safe }}</div>
      {% endfor %}
    {% endif %}
    {% if not user.email and not user.is_anonymous %}
      <div class="alert alert-warning">
        {% url 'users:email_change' as email_url %}
        {% url 'contact' as contact_us_url %}
        {% comment %} Translators: Shown if the current user doesn't have a registered email on their account. Don't translate {{ contact_us_url }} or {{ email_url }}. {% endcomment %}
        {% blocktrans trimmed %}
          You don't have an email on file. We can't finalize your access to
          partner resources, and you won't be able to <a href="{{ contact_us_url }}">contact us</a> without an email. Please
          <a href="{{ email_url }}">update your email</a>.
        {% endblocktrans %}
      </div>
    {% endif %}
    {% if user|restricted %}
      <div class="alert alert-warning">
        {% url 'users:restrict_data' as restrict_url %}
        {% comment %} Translators: Shown if the current user has requested the processing of their data should be restricted. {% endcomment %}
        {% blocktrans trimmed %}
          You have requested a restriction on the processing of your data.
          Most site functionality will not be available to you until you
          <a href="{{ restrict_url }}">lift this restriction</a>.
        {% endblocktrans %}
      </div>
    {% endif %}

    {% block content %}
    {% endblock %}
    
 </div>
  <footer id="footer">
    <div class="row">
      <div class="col-xs-12">
        <p>
          {% comment %} Translators: This text is at the bottom of every page. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). { %endcomment %}
          {% blocktrans trimmed %}
            The Wikipedia Library Card Platform is a project of 
            <a href="https://meta.wikimedia.org/wiki/The_Wikipedia_Library">
            The Wikipedia Library</a>.
          {% endblocktrans %}
        </p>
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
      </a>
        </p>
        <p>
          {% comment %} Translators: This text is at the bottom of every page. Don't translate "Creative Commons Attribution-ShareAlike 4.0 International". {% endcomment %}
          {% blocktrans trimmed %}
            This work is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
          {% endblocktrans %}
        </p>
        
    <hr />
    </div>
      
    <div class="col-xs-12">
        <ul class="list-inline pull-right">
          <li>
            <a href="{% url 'about' %}">
              {% comment %} Translators: This button is at the bottom of every page and links to the 'About' page (https://wikipedialibrary.wmflabs.org/about/) {% endcomment %}
              {% trans "About" %}
            </a>
          </li>
          <li>
            <a href="{% url 'terms' %}">
              {% comment %} Translators: This button is at the bottom of every page and can be clicked by users to navigate to the Terms of Use page. {% endcomment %}
              {% trans "Terms of use and privacy policy" %}
            </a>
          </li>
          <li>
            <a href="{% url 'suggest' %}">
              {% comment %} Translators: This button is at the bottom of every page and can be clicked by users to navigate to the partner suggestions page. {% endcomment %}
              {% trans "Suggest a partner" %}
            </a>
          </li>
          <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeYp-D5h--5Fnj-9knp_Zj9mhxjk5DJDKNJaJDtS4Z4AXxB6g/viewform">
              {% comment %} Translators: This button is at the bottom of every page and can be clicked by users to provide feedback through a form. {% endcomment %}
              {% trans "Feedback" %}
            </a>
          </li>
          <li>
            <a href="https://translatewiki.net/wiki/Translating:Wikipedia_Library_Card_Platform">translatewiki.net</a>
          </li>
          <li>
            <a href="https://phabricator.wikimedia.org/project/view/2765/">Phabricator</a>
          </li>
          <li>
            <a href="https://github.com/wikipedialibrary/twlight">Github</a>
          </li>
          <li>
            <a href="{% url 'contact' %}">
              {% comment %} Translators: This button is at the bottom of every page and can be clicked by users to contact the wikipedia library team. {% endcomment %}
              {% trans "Contact us" %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  {% block javascript %}
    {# We don't use any JS by default; individual pages that need it can add it here. #}
  {% endblock javascript %}
</body>
</html>
