{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-files-o fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{ total_partners }}</div>
              <div>{% trans 'Total partners (all time)' %}</div>
            </div>
          </div>
        </div>
        {# TODO fix link #}
        <a href="{% url 'applications:list' %}">
          <div class="panel-footer">
            <span class="pull-left">{% trans 'See all partners' %}</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{ total_editors }}</div>
              <div>{% trans 'Number of Wikipedia editors with accounts (all time)' %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-align-left fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{ total_apps }}</div>
              <div>{% trans 'Total applications (all time)' %}</div>
            </div>
          </div>
        </div>
        <a href="{% url 'applications:list' %}">
          <div class="panel-footer">
            <span class="pull-left">{% trans 'See all open applications' %}</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Applications</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Editors</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>
        Here we might have things like:
      </p>
      <ul>
        <li>The number of editors</li>
        <li>Average number of applications per editor</li>
        <li>Editors most/least likely to have applications accepted</li>
        <li>
          Graphs of number of applications or time to application status
          decision by editor
        </li>
        <li>Average number of access grants per editor</li>
        <li>
          Graph of # of access grants by frequency (1 editor with 1 access
          grant, 10 editors with 2, 5 editors with 3, 2 editors with 4, etc.)
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Partners</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div id="partner-time-data" style="width:600px;height:300px"></div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" language="javascript" src="{% static "js/jquery.flot.js" %}"></script>
  <script type="text/javascript" language="javascript" src="{% static "js/jquery.flot.time.js" %}"></script>

  <script type="text/javascript">
    // Partners over time
    var partner_time_graph = $("#partner-time-data");
    var partner_time_data = {{ partner_time_data }};
    var plot = $.plot(partner_time_graph, [partner_time_data], {
      xaxis: {
        mode: "time",
      },
      yaxis: {
        min: 0,
        minTickSize: 1,
        tickDecimals: 0,
      },
      colors: ['#5cb85c'],
    });
  </script>
{% endblock javascript %}}