{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-files-o fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{ total_partners }}</div>
              {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this labels a box showing the total number of available partners. {% endcomment %}
              <div>{% trans 'Total partners' %}</div>
            </div>
          </div>
        </div>
        <a href="{% url 'partners:filter' %}">
          <div class="panel-footer">
            {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this labels a button which goes to the full list of available partners. {% endcomment %}
            <span class="pull-left">{% trans 'See all partners' %}</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{ total_editors }}</div>
              {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this labels a box showing the total number of editors (users) who registered. {% endcomment %}
              <div>{% trans 'Total unique editors receiving access' %}</div>
            </div>
          </div>
        </div>
        <a href="#users-section">
          <div class="panel-footer">
            {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this labels a button which moves the page down to metrics about users. {% endcomment %}
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-align-left fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{ total_apps }}</div>
              <div>{% trans 'Total accounts distributed' %}</div>
            </div>
          </div>
        </div>
        <a href="#applications-section">
          <div class="panel-footer">
            {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this labels a button which moves the page down to metrics about applications. {% endcomment %}
            <span class="pull-left">{% trans 'Jump to application metrics' %}</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  {% if user.is_staff %}
    <!-- begin pageview metrics -->
    <div class="row">
      <div class="col-lg-12">
        {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this text is the title of the section showing pageview data, only visible to TWL staff.{% endcomment %}
        <h2 class="page-header">{% trans "Page views (staff only)" %} <a href="{% url 'csv:page_views' %}" class="pull-right btn btn-default">{% trans "download as csv" %}</a></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this text is the title of the data showing the most viewed pages on the site.{% endcomment %}
        <h3>{% trans "Most popular pages" %}</h3>
        <table class="table table-striped table-hover">
          <tr>
            <th>
              {% trans 'Page URL' %}
            </th>
            <th>
              {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this text is the title of the column for pageview numbers for each partner page.{% endcomment %}
              {% trans 'Number of views' %}                
            </th>
          </tr>
          {% for item in top_pages %}
            <tr>
              <td>
                {{ item.path }}
              </td>
              <td>
                {{ item.the_count }}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-xs-12 col-md-4">
        {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this text is the title of the pageview data for each partner page.{% endcomment %}
        <h3>{% trans "Partner pages by popularity" %}</h3>
        <table class="table table-striped table-hover">
          <tr>
            <th>
              {% trans 'Partner' %}
            </th>
            <th>
              {% trans 'Number of views' %}                
            </th>
          </tr>
          {% for item in partner_pages %}
            {% if item.partner %}
              <tr>
                <td>
                  <a href="{{ item.path }}">{{ item.partner }}</a>
                </td>
                <td>
                  {{ item.the_count }}
                </td>
              </tr>             
            {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>

  {% endif %}

  <!-- begin application metrics -->
  <div class="row">
    <div class="col-lg-12">
      {% comment %} Translators: This is the title of the section of the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/) dealing with data on applications.{% endcomment %}
      <h2 class="page-header" id="applications-section">{% trans 'Applications' %}</h2>
      {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this text is the title of the graph showing the number of approved applications (i.e. accounts distributed) over time. {% endcomment %}
      <h3>{% trans "Number of accounts distributed over time" %}</h3> <a href="{% url 'csv:num_applications' %}" class="pull-right btn btn-default">{% trans "download as csv" %}</a></h3>
      <div id="application-time-graph" style="width:600px;height:300px"></div>

      {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this text is the title of the graph showing the number of applications by number of days to be approved or rejected.{% endcomment %}
      <h3>{% trans "Applications by number of days until decision" %} <a href="{% url 'csv:app_time_histogram' %}" class="pull-right btn btn-default">{% trans "download as csv" %}</a></h3>
      <p>
        {% comment %} Translators: This text describes a graph on the metrics page (https://wikipedialibrary.wmflabs.org/dashboard/). {% endcomment %}
        {% blocktrans trimmed %}
          The x axis is the number of days to make a final decision (either
          approved or denied) on an application. The y axis is the number of
          applications that have taken exactly that many days to decide.
        {% endblocktrans %}
      </p>
      <div id="app-time-histogram-graph" style="width:600px;height:300px"></div>          

      {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this text is the title of the graph showing the median (not mean) number of days for applications to receive a decision.{% endcomment %}
      <h3>{% trans "Median days until application decision, per month" %} <a href="{% url 'csv:app_medians' %}" class="pull-right btn btn-default">{% trans "download as csv" %}</a></h3>
      <p>
        {% comment %} Translators: This text describes a graph on the metrics page (https://wikipedialibrary.wmflabs.org/dashboard/). The data is median, not mean. {% endcomment %}
        {% blocktrans trimmed %}
          This shows the median number of days to reach a decision on the
          applications opened in a given month.
        {% endblocktrans %}
      </p>
      <div id="app-medians-graph" style="width:600px;height:300px"></div>
      {% comment %} Translators: On the dashboard page (https://wikipedialibrary.wmflabs.org/dashboard/), this text is the title of the graph showing the current distribution of applications.{% endcomment %}
      <h3>{% trans "Open application status distribution" %} <a href="{% url 'csv:app_distribution' %}" class="pull-right btn btn-default">{% trans "download as csv" %}</a></h3>
      <div id="app-distribution-graph" style="width:600px;height:300px"></div>

    </div>
  </div>
  <!-- end application metrics -->

{% endblock content %}

{% block javascript %}
  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>

  <script type="text/javascript" language="javascript" src="{% static "js/jquery.flot.js" %}"></script>
  <script type="text/javascript" language="javascript" src="{% static "js/jquery.flot.time.js" %}"></script>
  <script type="text/javascript" language="javascript" src="{% static "js/jquery.flot.pie.js" %}"></script>
  <script type="text/javascript" language="javascript" src="{% static "js/jquery.flot.stack.js" %}"></script>

  <script type="text/javascript">
    $(function() {

      // Application time-to-decision (histogram)
      var app_time_histogram_graph = $("#app-time-histogram-graph");
      var app_time_histogram_data = [{
        'data': {{ app_time_histogram_data | safe }},
        'label': ''
      }];
      var app_time_histogram_plot = $.plot(app_time_histogram_graph, app_time_histogram_data, {
        yaxis: {
          min: 0,
          minTickSize: 1,
          tickDecimals: 0,
        },
        xaxis: {
          min: 0,
        },
        bars: {
          show: true,
          barWidth: 1,
        }
      });

      // Applications over time
      var application_time_graph = $("#application-time-graph");
      var application_time_data = {{ application_time_data }};
      var application_time_plot = $.plot(application_time_graph, [application_time_data], {
        xaxis: {
          mode: "time",
        },
        yaxis: {
          min: 0,
          minTickSize: 1,
          tickDecimals: 0,
        },
        colors: ['#5cb85c'],
      });

      // Median time-to-decision per month
      var app_medians_graph = $("#app-medians-graph");
      var app_medians_data = [{
        'data': {{ app_medians_data | safe }},
        'label': ''
      }];
      var app_medians_plot = $.plot(app_medians_graph, app_medians_data, {
        yaxis: {
          min: 0.01,
          minTickSize: 1,
          tickDecimals: 0,
        },
        xaxis: {
          mode: 'time',
          tickSize: [1, 'month'],
        },
        bars: {
          show: true,
          barWidth: 15*24*60*60*1000, // About half a month in milliseconds
          align: 'center',
        }
      });

      // Application status distribution (pie chart)
      var app_distribution_graph = $("#app-distribution-graph");
      var app_distribution_data = {{ app_distribution_data | safe }};
      var app_distribution_plot = $.plot(app_distribution_graph, app_distribution_data, {
        series: {
          pie: { 
            show: true
          }
        },
      });

    });
  </script>
{% endblock javascript %}}
