{% load i18n %}
{% load static %}
{% load twlight_perms %}

{% get_current_language as LANGUAGE_CODE %}
<nav id="top-nav" class="navbar navbar-expand-md">
  <div class="row top-nav-row">
    <div class="col-lg-3 col-md-5 col-sm-2 col-1">
      <!-- logo -->
      <a class="navbar-brand" href="{% url 'users:my_library' %}">
        <img src="{% static 'img/Wikipedia_Library_owl.svg' %}" class="logo-header"
            alt="
              {% comment %}Translators: Alt text for the Wikipedia Library shown in the top left of all pages.{% endcomment %}
              {% trans "The Wikipedia Library home" %}
            ">
        <!-- site name -->
        {% comment %}Translators: Name of the project/tool.{% endcomment %}
        <span class="site-title align-middle"> {% trans "The Wikipedia Library" %} </span>
      </a>
    </div>
    <div class="col-lg-5 col-md-7 col-sm-6 col-9">
      {% if user|bundle_eligible %}
      <!-- EBSCO Search Box Begins -->
      <form action="https://searchbox.ebsco.com/search/" target="_blank" class="ebsco-single-search">
      <!-- <form action="https://search.ebscohost.com/login.aspx" target="_blank" class="ebsco-single-search"> -->
        <input name="schemaId" value="search" type="hidden" />
        <input name="custid" value="ns253359" type="hidden" />
        <input name="groupid" value="main" type="hidden" />
        <input name="profid" value="eds" type="hidden" />
        <input name="scope" value="site" type="hidden" />
        <input name="site" value="eds-live" type="hidden" />
        <input name="direct" value="true" type="hidden" />
        <input name="authtype" value="url" type="hidden" />
        {% if LANGUAGE_CODE == "pt" %}
          <input name="lang" value="pt-pt" type="hidden" />
        {% elif LANGUAGE_CODE == "zh-hans" %}
          <input name="lang" value="zh-cn" type="hidden" />
        {% elif LANGUAGE_CODE == "zh-hant" %}
          <input name="lang" value="zh-tw" type="hidden" />
        {% else %}
          <input name="lang" value="{{ LANGUAGE_CODE }}" type="hidden" />
        {% endif %}
        <div class="input-group eds-searchbox">
          {% comment %}Translators: Shown in the search input. {% endcomment %}
          <input id="eb-sbb-search-input" name="bquery" type="text" class="eds-search-input"
              placeholder="{% trans 'Search the library' %}" />
          <button type="submit" class="btn twl-btn eds-search-button">
            {% comment %}Translators: Shown in the search button. {% endcomment %}
            <span class="eds-search-text">{% trans 'Search' %}</span>
            <i class="fa fa-search eds-search-icon"></i>
          </button>
        </div>
      </form>
      <!-- EBSCO Search Box Ends -->
      {% endif %}
    </div>

    <button class="navbar-toggler top-navbar-button" type="button" data-toggle="collapse"
        data-target="#navbarTogglerTWL" aria-controls="navbarTogglerTWL"
        aria-expanded="false" aria-label="Toggle navigation">
      <i class="navbar-toggler-icon fa fa-user"></i>
      <i class="navbar-toggler-icon fa fa-arrow-down"></i>
    </button>

    <div class="col-lg-4 col-md-8 col-sm-3 col-12 offset-md-4 offset-lg-0">
      <div id="navbarTogglerTWL" class="collapse navbar-collapse justify-content-lg-end justify-content-md-end">
        <ul class="navbar-nav">
          {% if user|coordinators_only %}
          <li role="presentation" class="mobile-menu align-middle nav-item">
            <a class="nav-link nav-links" href="{% url 'applications:list' %}">
              {% comment %}Translators: Shown in the top bar of almost every page when the current user is an account coordinator, taking them to the page where they can see existing applications. {% endcomment %}
              {% trans "Review" %}
            </a>
          </li>
          <li role="presentation" class="mobile-menu align-middle nav-item">
            <a class="nav-link nav-links" href="{% url 'applications:send' %}">
              {% comment %}Translators: Shown in the top bar of almost every page when the current user is an account coordinator, taking them to the page where they can send approved applications to partners for setup. {% endcomment %}
              {% trans "Send data to partners" %}
            </a>
          </li>
          {% endif %}
          <div class="dropdown-divider"></div>
          <li role="presentation" class="mobile-menu align-middle nav-item">
            <a class="nav-link nav-links" href="{% url 'suggest' %}">
              {% comment %}Translators: Shown in the top bar of almost every page, taking users to a page where they can suggest new collections to the Library. {% endcomment %}
              {% trans "Suggest a collection" %}
            </a>
          </li>
          <div class="dropdown-divider"></div>
          {% if user and user.is_authenticated %}
            <li role="presentation" class="mobile-menu align-middle nav-item">
              <a class="btn twl-btn" href="{% url 'users:home' %}">
                {{ user.editor.wp_username }}
              </a>
            </li>
            <li role="presentation" class="mobile-menu align-middle nav-item">
              {% comment %}Translators: Shown in the top bar to let users log out of The Wikipedia Library. {% endcomment %}
              <a class="nav-link nav-links" href="{% url 'auth_logout' %}?next=/">
                {% trans "Log out" %}
              </a>
            </li>
          {% else %}
            <li role="presentation" class="mobile-menu align-middle nav-item">
              {% comment %}Translators: Shown in the top bar to let users log in of The Wikipedia Library. {% endcomment %}
              <a class="btn twl-btn" href="{% url 'oauth_login' %}?next={{request.path}}">
                {% trans "Log in" %}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
