{% extends "new_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load cache %}

{% block extra_css %}
  <link href="{% static "css/glide.core.min.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/glide.theme.min.css" %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block content %}

  <div class="login-section">
    {% include "login_partial.html" %}
  </div>

  <div class="carousel-section">
    {% include "partner_carousel.html" %}
  </div>

{% endblock content %}


{% block javascript %}
  <script type="text/javascript" language="javascript" src="{% static "js/glide.min.js" %}"></script>
  {% if LANGUAGE_BIDI %}
    <script type="text/javascript">
      var glide = new Glide(".glide", {
        type: "slider",
        startAt: 0,
        perView: 3,
        direction: "rtl",
        gap: 10,
        peek: {
          before: 10,
          after: 10
        },
        breakpoints: {
          1440: {
            perView: 2.5,
            peek: {
              before: 80,
              after: 10
            },
          },
          1280: {
            perView: 2.5,
            peek: {
              before: 80,
              after: 10
            },
          },
          1024: {
            perView: 1.5,
            peek: {
              before: 80,
              after: 10
            },
          },
          1023: {
            perView: 1,
            peek: {
              before: 80,
              after: 10
            },
          },
          480: {
            perView: 1,
            peek: {
              before: 40,
              after: 10
            },
          },
          320: {
            perView: 0.75,
            peek: {
              before: 40,
              after: 10
            },
          }
        }
      });
      glide.mount();
    </script>
  {% else %}
    <script type="text/javascript">
      var glide = new Glide(".glide", {
        type: "slider",
        startAt: 0,
        perView: 3,
        direction: "ltr",
        gap: 10,
        peek: {
          before: 50,
          after: 10
        },
        breakpoints: {
          1440: {
            perView: 2.5,
            peek: {
              before: 50,
              after: 10
            },
          },
          1280: {
            perView: 2,
            peek: {
              before: 50,
              after: 10
            },
          },
          1024: {
            perView: 2,
            peek: {
              before: 50,
              after: 10
            },
          },
          1023: {
            perView: 1.5,
            peek: {
              before: 50,
              after: 10
            },
          },
          480: {
            perView: 1,
            peek: {
              before: 75,
              after: 10
            },
          },
          320: {
            perView: 1,
            peek: {
              before: 70,
              after: 10
            },
          }
        }
      });
      glide.mount();
    </script>
  {% endif %}

  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    function toggleDescription(partnerId) {
      var partnerImage = document.getElementById("partner-image-" + partnerId);
      partnerImage.classList.toggle("invisible");
      partnerImage.classList.toggle("fade-in-transition");

      var partnerDescription = document.getElementById("partner-description-" + partnerId);
      partnerDescription.classList.toggle("invisible");
      partnerDescription.classList.toggle("fade-in-transition");

      var partnerLink = document.getElementById("partner-link-" + partnerId);
      partnerLink.classList.toggle("invisible");
      partnerLink.classList.toggle("fade-in-transition");

      var partnerButton = document.getElementById("partner-button-" + partnerId);
      // If the invisible class exists in the partner image, then the button
      // needs to show "Less info"
      if (partnerImage.classList.contains("invisible")) {
        partnerButton.innerHTML = "Less info";
      } else {
        partnerButton.innerHTML = "More info";
      }

    }
  </script>
{% endblock javascript %}
