{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block content %}
   <div class="lead">
		<p>
		{% blocktrans trimmed %}
			Apply for access to dozens of research databases and resources available through The Wikipedia Library. 
		{% endblocktrans %}
			
		<a href="{% url 'about' %}">{% trans "Learn more" %}</a>
		</p>
	 


	  <div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5 login">
		  {% if not user.is_authenticated %}
			<a href="{% url 'oauth_login' %}" class="btn btn-primary btn-block"> 
				<span class="glyphicon glyphicon-off"></span>&nbsp;
			  {% trans "Log in" %}
			</a>
		  {% endif %}
		</div>
	  </div>
   </div>
 
  
  <div class="row">
	<div class="col-md-6">
		<h2><span class="glyphicon glyphicon-grey glyphicon-heart-empty"></span> Benefits</h2>
		
			<div class="border">
				<p>The Wikipedia Library provides free access to research materials to improve your ability to contribute content to Wikimedia projects. </p>

				<p>Approved editors may use their access to:</p>

				<ul>
					<li>Search, view, retrieve, and display partner content</li>
					<li>Electronically save partner content</li>
					<li>Print out single copies of partner content</li>
				</ul>

		
				<p>If you think you could use access to one of our partner resources and are an active editor in any project supported by the Wikimedia Foundation, <a href="{% url 'applications:request' %}">{% trans "please apply" %}</a>.</p>
				
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				
				<p><a href="{% url 'about' %}" class="btn btn-default btn-block read-more">{% trans "Learn more" %} </a></p>
			</div>
	</div>
	
	<div class="col-md-6">
		<h2><span class="glyphicon glyphicon-grey glyphicon-user"></span> Partners</h2>
			<div class="border">
				<p>Below are a few of our featured partners:</p>
					<ul>
						<li><a href="/partners/62/">American Psychiatric Association</a></li>
						<li><a href="/partners/11/">ASHA</a></li>
						<li><a href="/partners/61/">Bloomsbury</a></li>
						<li><a href="/partners/15/">Cochrane</a></li>
						<li><a href="/partners/9/">EDP Sciences</a></li>
						<li><a href="/partners/8/">Foreign Affairs</a></li>
						<li><a href="/partners/16/">McFarland</a></li>
						<li><a href="/partners/13/">OpenEdition</a></li>
						<li><a href="/partners/10/">Taylor & Francis</a></li>
						<li><a href="/partners/12/">Tilastopaja</a></li>
					</ul>
				<p><a href="{% url 'partners:list' %}" class="btn btn-default btn-block read-more"> {% trans "Browse all partners" %}</a>
			
			</div>
	</div>
  </div>
  
  <p>&nbsp;</p>

  <div class="row">
	<div class="col-md-12">
		<h2><span class="glyphicon glyphicon-grey glyphicon-th-list"></span> Latest Activity</h2>
		
		<hr>
			<ul class="timeline timeline-home">
		 
			{% for event in activity %}
			  <li class="{% cycle 'timeline' 'timeline-inverted' %}">
				<div class="timeline-badge {{ event.color }}">
				  <i class="fa {{ event.icon }}"></i>
				</div>
				<div class="timeline-panel">
				  <div class="timeline-body">
					<p>{{ event.text | safe }}</p>

					<p class="small pull-right">
					  {{ event.date | localize }}
					</p>
				  </div>
				</div>      
			  </li>
			{% endfor %}
		  </ul>
		  <a href="{% url 'activity' %}" class="btn btn-primary btn-block read-more">
        {% trans "More Activity" %}
      </a>
	</div>
  </div>
  
{% endblock content %}
