{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block content %}
  <p class="lead">
    {% blocktrans trimmed %}
      Welcome to the Wikipedia Library Card Platform! Here you can apply for access to dozens of extensive research databases and other resources available through The Wikipedia Library.        
    {% endblocktrans %}
  </p>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5">
      <a href="{% url 'about' %}" class="btn btn-default btn-block">
        {% trans "Learn more" %}
      </a>      
      {% if not user.is_authenticated %}
        <form method="post" action="{% url 'oauth_login' %}">
          {% csrf_token %}
          <input id="id_home_wiki" name="home_wiki" value="meta" type="hidden">
          <input name="submit" value="{% trans "Log in/sign up" %}" id="submit-id-submit" class="btn btn-primary btn-block" type="submit">
        </form>
      {% endif %}
    </div>
  </div>

  <ul class="timeline">
    {% for event in activity %}
      <li class="{% cycle 'timeline' 'timeline-inverted' %}">
        <div class="timeline-badge {{ event.color }}">
          <i class="fa {{ event.icon }}"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>{{ event.text | safe }}</p>

            <p class="small pull-right">
              {{ event.date | localize }}
            </p>
          </div>
        </div>      
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
