{% extends "new_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load cache %}

{% block extra_css %}
  <link href="{% static "css/glide.core.min.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/glide.theme.min.css" %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block content %}

  <div class="login-section">
    {% include "login_partial.html" %}
  </div>

  <div class="carousel-section">
    {% include "partner_carousel.html" %}
  </div>

{% endblock content %}


{% block javascript %}
  <script type="text/javascript" language="javascript" src="{% static "js/glide.min.js" %}"></script>
  {% if LANGUAGE_BIDI %}
    <script type="text/javascript">
      var glide = new Glide(".glide", {
        type: "slider",
        startAt: 0,
        perView: 3,
        direction: "rtl",
        gap: 10,
        peek: {
          before: 50,
          after: 10
        },
        breakpoints: {
          1440: {
            perView: 2.5,
            peek: {
              before: 50,
              after: 10
            },
          },
          1280: {
            perView: 2,
            peek: {
              before: 50,
              after: 10
            },
          },
          1024: {
            perView: 2,
            peek: {
              before: 50,
              after: 10
            },
          },
          1023: {
            perView: 1.5,
            peek: {
              before: 50,
              after: 10
            },
          },
          480: {
            perView: 1,
            peek: {
              before: 35,
              after: 10
            },
          },
          320: {
            perView: 1,
            peek: {
              before: 35,
              after: 10
            },
          }
        }
      });
      glide.mount();
    </script>
  {% else %}
    <script type="text/javascript">
      var glide = new Glide(".glide", {
        type: "slider",
        startAt: 0,
        perView: 3,
        direction: "ltr",
        gap: 10,
        peek: {
          before: 50,
          after: 10
        },
        breakpoints: {
          1440: {
            perView: 2.5,
            peek: {
              before: 50,
              after: 10
            },
          },
          1280: {
            perView: 2,
            peek: {
              before: 50,
              after: 10
            },
          },
          1024: {
            perView: 2,
            peek: {
              before: 50,
              after: 10
            },
          },
          1023: {
            perView: 1.5,
            peek: {
              before: 50,
              after: 10
            },
          },
          480: {
            perView: 1,
            peek: {
              before: 40,
              after: 10
            },
          },
          320: {
            perView: 1,
            peek: {
              before: 35,
              after: 10
            },
          }
        }
      });
      glide.mount();
    </script>
  {% endif %}

  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    function toggleDescription(partnerId) {
      // Before toggling the description, search if there are any descriptions
      // already toggled and flip them to the image
      var toggledPartners = document.getElementsByClassName("partner-description-toggled");
      for (var i = 0; i < toggledPartners.length; i++) {
        var toggledPartnerId = toggledPartners[i].id.split("-")[1];
        //This should only be toggled if partnerId is different from the current toggled partner
        if (toggledPartnerId != partnerId){
          toggleElement("partner-image-" + toggledPartnerId);
          toggleElement("partner-description-" + toggledPartnerId);
          togglePartnerButton(toggledPartnerId);
          // Add a class that indicates that the partner's description has been toggled
          var partnerContainer = document.getElementById("partner-" + toggledPartnerId);
          partnerContainer.classList.toggle("partner-description-toggled");
        }
      }

      toggleElement("partner-image-" + partnerId);
      toggleElement("partner-description-" + partnerId);
      togglePartnerButton(partnerId);

      // Add a class that indicates that the partner's description has been toggled
      var partnerContainer = document.getElementById("partner-" + partnerId);
      partnerContainer.classList.toggle("partner-description-toggled");

    }

    function toggleElement(id){
      var element = document.getElementById(id);
      element.classList.toggle("invisible");
      element.classList.toggle("fade-in-transition");
    }

    function togglePartnerButton(buttonId){
      var partnerImage = document.getElementById("partner-image-" + buttonId);
      var partnerButton = document.getElementById("partner-button-" + buttonId);
      // If the invisible class exists in the partner image, then the button
      // needs to show "Less info"
      if (partnerImage.classList.contains("invisible")) {
        partnerButton.innerHTML = "Less info";
      } else {
        partnerButton.innerHTML = "More info";
      }
    }
  </script>
{% endblock javascript %}
