{% extends "new_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load cache %}

{% block content %}

  <div class="login-section">
    {% include "login_partial.html" %}
  </div>

  <div class="carousel-section">
    {% include "partner_carousel.html" %}
  </div>

{% endblock content %}


{% block javascript %}
  <script type="text/javascript" language="javascript" src="{% static "js/glider.min.js" %}"></script>
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    window.addEventListener('load', function(){
      new Glider(document.querySelector('.glider'), {
        slidesToShow: 3.5,
        arrows: {
          prev: '.partner-glider-prev',
          next: '.partner-glider-next'
        },
        draggable: true,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 2.5,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 320,
            settings: {
              slidesToShow: 1.5,
              slidesToScroll: 1
            }
          }
        ]
      })
    })
  </script>
{% endblock javascript %}
