{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block content %}
  {# Translators: This is the header for the timeline on the front page. #}
  <h1>{% trans "Latest activity" %}</h1>

  {% if not user.is_authenticated %}
    <p class="text-center">
      <a href="{% url 'oauth_login' %}" class="btn btn-primary">
        {% trans "Log in/sign up" %}
      </a>
    </p>
  {% endif %}

  <ul class="timeline">
    {% for event in activity %}
      <li class="{% cycle 'timeline' 'timeline-inverted' %}">
        <div class="timeline-badge {{ event.color }}">
          <i class="fa {{ event.icon }}"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>{{ event.text | safe }}</p>

            <p class="small pull-right">
              {{ event.date | localize }}
            </p>
          </div>
        </div>      
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
