{% extends "base.html" %}
{% load i18n %}

{% block content %}
  {% comment %} Translators: This is the title of the page from which staff have information and options for interacting with the site. {% endcomment %}
  <h2>{% trans "Staff dashboard" %}</h2>
  {% comment %} Translators: This is the subtitle of the staff dashboard for the section where staff can upload and modify access code distribution. {% endcomment %}
  <h2>{% trans "Access codes" %}</h3>

  <div class="row">
    <div class=" col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% comment %} Translators: This is the subtitle of the section of the staff dashboard where staff can upload lists of access codes. {% endcomment %}
          {% trans "Upload" %}
        </div>
        <div class="panel-body">
          <p>
          {% comment %} Translators: This text is shown to staff who are uploading access codes, instructing them on the format the file should take. {% endcomment %}
          {% blocktrans trimmed %}
            To upload access codes, create a .csv file containing two columns: 
            The first containing the access codes, and the second the ID of the 
            partner you're uploading for.
          {% endblocktrans %}
          </p>
          <form action="{% url 'staff' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
          {% csrf_token %}
          <div class="form-group">
            {% comment %} Translators: This labels a form where staff upload a file containing access codes. {% endcomment %}
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
            <div class="col-md-8">
              <input type="file" name="access_code_csv" id="access_code_csv" required="True" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
              {% comment %} Translators: This labels a button for uploading files containing lists of access codes. {% endcomment %}
              <button class="btn btn-primary">{% trans "Upload" %}</button>
            </div> 
          </div>
          </form>
        </div>
      </div>
    </div>

    <div class=" col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% comment %} Translators: This is the title of a section of the staff dashboard relating to the assignment of access codes to users. Here assignment means allocating something to someone, not a test/task assignment. {% endcomment %}
          {% trans "Assignments" %}
        </div>
        <div class="panel-body">
          <ul>
            {% for partner in accesscode_partners %}
              <li><a href="{% url 'partners:users' pk=partner.pk %}">{{ partner }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}