{% load i18n %}
<div class="col">
  <div class="card collection-tile">
    {% if available_collection.partner_logo %}
      <img src="{{ available_collection.partner_logo }}" class="card-img-top library-tile-image"
          alt="{{ available_collection.partner_name }} logo">
    {% else %}
      <img src="..." class="card-img-top" alt="{{ available_collection.partner_name }} logo">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ available_collection.partner_name }}</h5>
      <p class="card-text">{{ available_collection.short_description|safe }}</p>
      <p class="card-text">
        <strong>Languages: </strong>
        {% if available_collection.languages %}
          {% for language in available_collection.languages%}
            {{ language }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        {% else %}
          {% comment %}Translators: On the MyLibrary page (https://wikipedialibrary.wmflabs.org/users/my_library), this text is shown for a partner who has no content languages to show. {% endcomment %}
          {% trans "Language(s) not known" %}
        {% endif %}
      </p>
      <p class="card-text">
        {% if available_collection.tags %}
          {% for tag_key, tag_value in available_collection.tags.items %}
            <a href="#" class="badge badge-pill badge-light">
              {{ tag_value }}
            </a>
          {% endfor %}
        {% else %}
          {% comment %}Translators: On the MyLibrary page (https://wikipedialibrary.wmflabs.org/users/my_library), this text is shown for a partner who has no tags to show. {% endcomment %}
          {% trans "No tags available" %}
        {% endif %}
      </p>
      <a href="{% url 'applications:apply_single' available_collection.pk %}"
          class="btn access-apply-button" type="button" name="button">
        {% comment %}Translators: On the My Library page (https://wikipedialibrary.wmflabs.org/users/my_library), this labels the text on a button which takes the user to the partner's application page, where they can apply for access. {% endcomment %}
        {% trans "Apply" %}
      </a>
    </div>
  </div>
</div>
