{% load i18n %}
{% load cache %}
{% load static %}

{% comment %}
  To be used in presenting lists of partners a user is authorized to access plus
  key data about them. Provides a tile. Including templates are responsible for
  laying out these tiles and supplying a `authorization` variable (presumed to be an
  instance of class Authorization).
{% endcomment %}

<div class="panel panel-default full-width">
  <div class="panel-body top-border {% if each_authorization.about_to_expire %}expiry-warning{% endif %}">
    {% if each_authorization.partner.logos.logo.url %}
    <div class="partner-logo-container">
      {% if each_authorization.partner.authorization_method == each_authorization.partner.BUNDLE or each_authorization.partner.authorization_method == each_authorization.partner.PROXY %}
        <i class="fa fa-external-link pull-right no-padding" title="
          {% comment %} Translators: Title for icon in tiles that are linked to an external website. {% endcomment %}
          {% trans 'Links to an external website' %}
          " aria-hidden="true"></i>
      {% endif %}
      {% if each_authorization.partner.authorization_method == each_authorization.partner.BUNDLE %}
        <img src="{% static 'img/LibraryBundle_old.png' %}" class="img-responsive logo no-padding" style="width:47px; height:40px;" title="Library Bundle" alt="
        {% comment %} Translators: Alt text for the Library Bundle icon shown on the collection page. {% endcomment %}
        {% trans "Library bundle access" %}
        ">
      {% endif %}
      <a href=#>
        <img src="{{ each_authorization.partner.logos.logo.url }}" class="img-responsive partner-logo" alt="
        {% comment %} Translators: Alt text for publisher logos on the my collection page. Don't translate {{ each_authorization.partner }}. {% endcomment %}
        {% blocktrans trimmed with each_authorization.partner as partner %}
           Link to {{ partner }} signup page
        {% endblocktrans %}
        ">
      </a>
    </div>
    {% endif %}
    <hr>
      <i class="fa fa-info-circle" aria-hidden="true" title="Partner description page"></i> <strong><a href="{% url 'partners:detail' each_authorization.partner.pk %}">{{ each_authorization.partner }}</a></strong>
      {% if each_authorization.date_expires and not each_authorization.is_expired %}
        {% if each_authorization.about_to_expire and each_authorization.latest_app.pk %}
          {% comment %} Translators: Labels the button that links to the renewal url. {% endcomment %}
          <a href="{% url 'applications:renew' each_authorization.latest_app.pk %}" class="btn btn-primary pull-right" role="button">{% trans 'Renew' %}</a><div class="clearfix"></div>
        {% endif %}
        <span class="pull-right"><small>Expires on: {{ each_authorization.date_expires }}</small></span>
      {% endif %}
    {%  if each_authorization.is_expired and each_authorization.latest_app.pk %}
      {% comment %} Translators: Labels the button that links to the renewal url. {% endcomment %}
      <a href="{% url 'applications:renew' each_authorization.latest_app.pk %}" class="btn btn-primary pull-right" role="button">{% trans 'Renew' %}</a>
    {% endif %}
  </div>
</div>
