{% load i18n %}
<div class="row collections-section-container">
  <ul id="collectionsTab" class="nav collections-nav flex-column flex-sm-row" role="tablist">
    <li class="nav-item" role="presentation">
      <a id="favorite-collections-tab" class="nav-link collection-tab-item {% if favorites_count > 0 %} active {% endif %}"
          data-toggle="tab" href="#favorite-collections" role="tab" aria-controls="favorite-collections"
          aria-selected="true">
          {% comment %}Translators: On the MyLibrary page (https://wikipedialibrary.wmflabs.org/users/my_library), this tab shows all favorite collections a user has. {% endcomment %}
          {% trans "Favorites" %} (<span id="favorite-collections-number">{{ favorites_count }}</span>)
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a id="user-collections-tab" class="nav-link collection-tab-item {% if favorites_count <= 0 %} active {% endif %}"
          data-toggle="tab" href="#user-collections" role="tab" aria-controls="user-collections"
          aria-selected="true">
          {% comment %}Translators: On the MyLibrary page (https://wikipedialibrary.wmflabs.org/users/my_library), this tab shows all collections a user has access to. {% endcomment %}
          {% trans "My Collections" %} (<span id="user-collections-number">{{ number_user_collections }}</span>)
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a id="available-collections-tab" class="nav-link collection-tab-item" data-toggle="tab" href="#available-collections"
          role="tab" aria-controls="available-collections" aria-selected="false">
        {% comment %}Translators: On the MyLibrary page (https://wikipedialibrary.wmflabs.org/users/my_library), this tab shows all collections a user does not have access to. {% endcomment %}
        {% trans "Available Collections" %} (<span id="available-collections-number">{{ number_available_collections }}</span>)
      </a>
    </li>
  </ul>
  <div class="applications-item">
    <a href="{% url 'users:my_applications' editor.pk %}" class="nav-link twl-links twl-links-underline applications-link">
      {% comment %}Translators: On the MyLibrary page (https://wikipedialibrary.wmflabs.org/users/my_library), a link that will take you to the applications. {% endcomment %}
      {% trans "View my applications >" %}
    </a>
  </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div id="favorite-collections" class="tab-pane collections-pane {% if favorites_count > 0 %} active {% endif %}"
      role="tabpanel" aria-labelledby="favorite-collections-tab">
    <!-- Favorite Collections -->
    <div id="favorite-collections-row" class="row">
        {% for user_collection in favorite_collections %}
        <div id="favorite-tile-partner-{{user_collection.partner_pk}}"
            class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          {% include "users/user_collection_tile.html" %}
        </div>
        {% endfor %}
    </div>
    <!-- Expired Favorite Collections -->
    {% if expired_favorite_collections %}
      <hr id="favorites-expired-separator">
      <h3 id="favorites-expired-title">
        {% comment %}Translators: On the MyLibrary page (https://wikipedialibrary.wmflabs.org/users/my_library), a title that indicates the start of the expired collections section. {% endcomment %}
        {% trans "Expired" %}
      </h3>
      <div id="favorites-expired-partner-row" class="row">
        {% for user_collection in expired_favorite_collections %}
          <div id="favorite-tile-partner-{{user_collection.partner_pk}}"
              class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            {% include "users/user_collection_tile.html" %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <div id="user-collections" class="tab-pane collections-pane {% if favorites_count <= 0 %} active {% endif %}"
      role="tabpanel" aria-labelledby="user-collections-tab">
    <!-- User Collections -->
    <div class="row">
        {% for user_collection in user_collections %}
        <div id="tile-partner-{{user_collection.partner_pk}}"
            class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          {% include "users/user_collection_tile.html" %}
        </div>
        {% endfor %}
    </div>
    <!-- Expired User Collections -->
    {% if expired_user_collections %}
      <hr id="user-expired-separator">
      <h3 id="user-expired-title">
        {% comment %}Translators: On the MyLibrary page (https://wikipedialibrary.wmflabs.org/users/my_library), a title that indicates the start of the expired collections section. {% endcomment %}
        {% trans "Expired" %}
      </h3>
      <div id="user-expired-partner-row" class="row">
        {% for user_collection in expired_user_collections %}
          <div id="tile-partner-{{user_collection.partner_pk}}"
              class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            {% include "users/user_collection_tile.html" %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div id="available-collections" class="tab-pane collections-pane" role="tabpanel" aria-labelledby="available-collections-tab">
    <!-- Available Collections -->
    <div class="row">
        {% for available_collection in available_collections %}
          {% include "users/available_collection_tile.html" %}
        {% endfor %}
    </div>
  </div>
</div>
