{% load i18n %}
{% load static %}

{% comment %}
  To be used in presenting lists of partners a user is authorized to access plus
  key data about them. Provides a tile. Including templates are responsible for
  laying out these tiles and supplying a `authorization` variable (presumed to be an
  instance of class Authorization).
{% endcomment %}

<div class="panel panel-default full-width">
  <div class="panel-body top-border {% if each_authorization.about_to_expire %}expiry-warning{% endif %}">
    {% if each_authorization.partner.authorization_method == each_authorization.partner.BUNDLE %}
      {% comment %} Translators: Title text for the Library Bundle icon shown on the collection page. {% endcomment %}
      <img src="{% static 'img/LibraryBundle.svg' %}" class="img-responsive no-padding-logo-collection-tiles" style="width:35px; height:30px;" title="{% trans 'Library Bundle' %}" alt="
      {% comment %} Translators: Alt text for the Library Bundle icon shown on the collection page. {% endcomment %}
      {% trans "Library bundle access" %}
      ">
    {% endif %}
    {% if each_authorization.partner.authorization_method == each_authorization.partner.PROXY and each_authorization.is_valid %}
      {% comment %} Translators: A button when clicked takes users to a confirmation page to return their access for a particular collection. {% endcomment %}
      <a href="{% url 'users:return_authorization' each_authorization.id %}" class="btn btn-outline-danger fit-content no-padding-icon"><i class="fa fa-times fa-2x" title="{% trans 'Click to return this access' %}"></i></a>
    {% endif %}
    {% if each_authorization.partner.logos.logo.url %}
      <div class="partner-logo-container">
        <a href="
          {% if each_authorization.partner.get_access_url and each_authorization.is_valid and each_authorization.user.userprofile.terms_of_use %}
            {{ each_authorization.partner.get_access_url }}
          {% elif each_authorization.stream.get_access_url and each_authorization.is_valid %}
            {{ each_authorization.stream.get_access_url }}
          {% else %}
            {% url 'partners:detail' each_authorization.partner.pk %}
          {% endif %}
        ">
          <img src="{{ each_authorization.partner.logos.logo.url }}" class="img-responsive partner-logo" title="
            {% if each_authorization.partner.get_access_url and each_authorization.is_valid %}
              {% comment %} Translators: Title for logo in tiles that are linked to an external website. Don't translate {{ partner }}. {% endcomment %}
              {% blocktrans trimmed with each_authorization.partner as partner %}
                 Link to {{ partner }}'s external website
              {% endblocktrans %}
            {% elif each_authorization.stream.get_access_url and each_authorization.is_valid %}
              {% comment %} Translators: Title for logo in tiles that are linked to an external website. Don't translate {{ each_authorization.stream }}. {% endcomment %}
              {% blocktrans trimmed with each_authorization.stream as stream %}
                 Link to {{ stream }}'s external website
              {% endblocktrans %}
            {% else %}
              {% comment %} Translators: Title for logo in tiles that are linked to partner description  page. Don't translate {{ partner }}. {% endcomment %}
              {% blocktrans trimmed with each_authorization.partner as partner %}
                 Link to {{ partner }} signup page
              {% endblocktrans %}
            {% endif %}
            "
          alt="
            {% if each_authorization.partner.get_access_url and each_authorization.is_valid %}
              {% comment %} Translators: Alt text for publisher logos on the my library page. Don't translate {{ partner }}. {% endcomment %}
              {% blocktrans trimmed with each_authorization.partner as partner %}
                 Link to {{ partner }}'s external website
              {% endblocktrans %}
            {% elif each_authorization.stream.get_access_url and each_authorization.is_valid %}
              {% comment %} Translators: Title for logo in tiles that are linked to an external website. Don't translate {{ each_authorization.stream }}. {% endcomment %}
              {% blocktrans trimmed with each_authorization.stream as stream %}
                 Link to {{ stream }}'s external website
              {% endblocktrans %}
            {% else %}
              {% comment %} Translators: Alt text for publisher logos on the my library page. Don't translate {{ partner }}. {% endcomment %}
              {% blocktrans trimmed with each_authorization.partner as partner %}
                 Link to {{ partner }} signup page
              {% endblocktrans %}
            {% endif %}
          ">
        </a>
      </div>
    {% endif %}
    <hr>
    {% if each_authorization.is_valid and each_authorization.get_access_url %}
      <div style="text-align: center;">
        <a href="{{ each_authorization.get_access_url }}" class="btn btn-primary
        {% if not each_authorization.user.userprofile.terms_of_use %}
          disabled
        {% endif %}
        " role="button">
          {% if each_authorization.is_accessed_via_proxy %}
            {% comment %} Translators: Users can click this button to access a collection they have access to. {% endcomment %}
            {% trans 'Access collection' %}
          {% else %}
            {% comment %} Translators: Users can click this button to be taken to the website for a collection. {% endcomment %}
            {% trans 'Go to site' %}
          {% endif %}
        </a>
      </div>
      <hr>
    {% endif %}
    <i class="fa fa-info-circle" aria-hidden="true" title="Partner description page"></i>
    <strong><a href="{% url 'partners:detail' each_authorization.partner.pk %}">{{ each_authorization.partner }}</a></strong>
    {% if each_authorization.stream %}({{ each_authorization.stream }}){% endif %}
    {% if each_authorization.latest_sent_app and not each_authorization.open_app %}
      {% comment %} Translators: Hovertext for when renewals for a partner is not available and the renew button is disabled. {% endcomment %}
      <span class="pull-right" {% if not each_authorization.partner.renewals_available %}title="{% trans 'Renewals are not available for this partner' %}"{% endif %}>
        <a href="{% url 'applications:renew' each_authorization.latest_sent_app.pk %}" class="btn btn-default pull-right {% if not each_authorization.partner.renewals_available %}disabled{% endif %}" role="button">
          {% if each_authorization.is_valid %}
            {% comment %} Translators: Labels a button users can click to extend the duration of their access. {% endcomment %}
            {% trans 'Extend' %}
          {% else %}
            {% comment %} Translators: Labels a button users can click to renew an expired account. {% endcomment %}
            {% trans 'Renew' %}
          {% endif %}
        </a>
      </span>
      <div class="clearfix"></div>
    {% elif each_authorization.partner.specific_title and not each_authorization.open_app %}
      <span class="pull-right">
        <a href="{% url 'applications:apply_single' each_authorization.partner.pk %}" class="btn btn-primary pull-right" role="button">
          {% comment %} Translators: Labels the button users can click to apply for a resource. {% endcomment %}
          {% trans 'Apply' %}
        </a>
      </span>
      <div class="clearfix"></div>
    {% endif %}
    {% if each_authorization.open_app %}
      {% comment %} Translators: Labels a button users can click to view an application requesting access to a resource. {% endcomment %}
      <a href="{% url 'applications:evaluate' each_authorization.open_app.pk %}" class="btn btn-primary pull-right" role="button">{% trans 'View application' %}</a><div class="clearfix"></div>
    {% endif %}
    {% if each_authorization.date_expires %}
      <span class="pull-right" {% if each_authorization.about_to_expire %}style="color: #bf4d3d"{% endif %}>
        <small>
          {% if not each_authorization.is_valid %}
            {% comment %} Translators: Text beside the date on which the authorization has expired. {% endcomment %}
            {% trans 'Expired on' %}: {{ each_authorization.date_expires }}
          {% else %}
            {% comment %} Translators: Text beside the date on which the authorization will expire. {% endcomment %}
            {% trans 'Expires on' %}: {{ each_authorization.date_expires }}
          {% endif %}
        </small>
      </span>
    {% endif %}
  </div>
</div>
