{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}
{% load twlight_perms %}

{% block content %}
  {% comment %} Translators: This is the main title for the editor profile page. Don't translate {{ username }}. {% endcomment %}
  <h1>{% blocktrans with username=editor.wp_username %}Editor profile information for {{ username }}{% endblocktrans %}</h1>

  {% comment %} Translators: This is the title of the section of a user's profile showing their history of applications. {% endcomment %}
  <h2>{% trans 'Editor application history' %}</h2>

  <p>
    <a href="{% url 'applications:request' %}" class="btn btn-primary">
      {% comment %} Translators: Users viewing their own profile can click this button to file an application for access to resources. {% endcomment %}
      {% trans 'Start new application' %}
    </a>
  </p>

  {% include 'applications/application_list_include.html' %}

  {% comment %} Translators: This is the heading for user information on profile and application pages. {% endcomment %}
  <h2>{% trans 'Editor data' %}</h2>

  {% include 'users/editor_detail_data.html' %}

  {% ifequal user editor.user  %}
    {% include "users/preferences.html" %}    
  {% endifequal %}

  <p>
    {% comment %} Translators: This is shown on editor profiles, in their profile page or on applications. Don't translate {{ last_updated_date }}. {% endcomment %}
    {% blocktrans with last_updated_date=editor.last_updated|localize %}
      Information with an * was retrieved from Wikipedia directly.
      Other information was entered directly by users or site admins,
      in their preferred language.
      It was last updated on {{ last_updated_date }}.
    {% endblocktrans %}
  </p>

  {% if editor.user|coordinators_only %}
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <p class="well">
            {% comment %} Translators: This distinguishes users who have been flagged as account coordinators. Don't translate {{ username }}. {% endcomment %}
            {% blocktrans with username=editor.wp_username %}
              {{ username }} has coordinator privileges on this site.
            {% endblocktrans %}
        </p>
      </div>
    </div>
  {% endif %}

{% endblock %}
