{% load i18n %}

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <strong>{% trans "Wikipedia username *" %}</strong>
    </div>
    <div class="col-xs-12 col-sm-8">
      <a href="{{ editor.wp_user_page_url }}">{{ editor.wp_username }}</a>
    </div>

    <div class="col-xs-12 col-sm-4">
      <strong>{% trans "Wikipedia user ID *" %}</strong>
    </div>
    <div class="col-xs-12 col-sm-8">
      {{ editor.wp_sub }}
    </div>

    <div class="col-xs-12 col-sm-4">
      <strong>{% trans "Home wiki" %}</strong>
    </div>
    <div class="col-xs-12 col-sm-8">
      {% if editor.home_wiki %}
        {{ editor.get_home_wiki_display }}
      {% else %}<br/>{% endif %}
    </div>

    <div class="col-xs-12 col-sm-4">
      <strong>{% trans "Wikipedia edit count *" %}</strong>
    </div>
    <div class="col-xs-12 col-sm-8">
      {{ editor.wp_editcount }}
    </div>

    <div class="col-xs-12 col-sm-4">
      <strong>{% trans "Date registered on Wikipedia *" %}</strong>
    </div>
    <div class="col-xs-12 col-sm-8">
      {{ editor.wp_registered }}
    </div>

    {% comment %}
    <div class="col-xs-12 col-sm-4">
      <strong>{% trans "Wikipedia groups *" %}</strong>
    </div>
    <div class="col-xs-12 col-sm-8">
      {% for group in editor.wp_groups %}
        {{ group }} <br />
      {% endfor %}
    </div>
    {% endcomment %}

    {% comment %}
    <div class="col-xs-12 col-sm-4">
      <strong>{% trans "Wikipedia user rights *" %}</strong>
    </div>
    <div class="col-xs-12 col-sm-8">
      {% for right in editor.wp_rights %}
        {{ right }} <br />
      {% endfor %}
    </div>
    {% endcomment %}

    <div class="col-xs-12 col-sm-4">
      <strong>{% trans "Contributions" %}</strong>
    </div>
    <div class="col-xs-12 col-sm-8">
      {% if editor.contributions %}{{ editor.contributions }}{% else %}<br/>{% endif %}
    </div>

    <div class="col-xs-12 col-sm-4">
      <strong>{% trans "Email *" %}</strong>
    </div>
    <div class="col-xs-12 col-sm-8">
      {{ editor.user.email }}
    </div>
  </div>
