{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block content %}
  <h1>{% trans "Editor profile information" %}</h1>

  <p>
    {% blocktrans with account_created=editor.account_created|localize %}
      Information with an * was harvested from Wikipedia directly.
      It was current as of {{ account_created }}.
      Changes made on Wikipedia since that time have not been reflected here.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans with last_updated=editor.last_updated|localize %}
      Other information was entered directly by users or site admins,
      in their preferred language.
      It was last edited on {{ last_updated }}.
    {% endblocktrans %}
  </p>

  {% include 'users/editor_detail_data.html' %}

  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <p class="well">
        {% blocktrans with username=editor.user.username %}
          {{ username }} has coordinator privileges on this site.
        {% endblocktrans %}
      </p>
    </div>
  </div>

{% endblock %}
