{% comment %}
  This whole thing exists because crispy forms insists on applying a
  btn-primary class to Submit buttons, but replacing them with Button or
  StrictButton yields a form that can't submit. Argh.
{% endcomment %}

{% load i18n %}
{% load crispy_forms_field %}
{% load crispy_forms_utils %}

  <form action="/i18n/setlang/?next=/users/" method="post" class="form-inline">
    {% csrf_token %}
    {% if form_show_errors %}
      {% include "bootstrap4/errors.html" %}
    {% endif %}
    {% for field in language_form %}
      <div id="div_{{ field.auto_id }}" class="form-group d-block">
          <label for="{{ field.id_for_label }}" class="sr-only">
            {{ field.label|safe }}
          </label>
          {% crispy_field field 'placeholder' field.label %}
      </div>
    {% endfor %}
    <div class="form-group px-1 d-block">
      {% comment %}Translators: Users click this button to set their interface language.{% endcomment %}
      <input type="submit" name="submit" value="{% trans "Set language" %}" class="btn btn-default" />
    </div>
  </form>
  <p>
    {% comment %}Translators: This text on the user page helps users naviage to the TranslateWiki Wikipedia Library Card platform translation page.{% endcomment %}
    {% blocktranslate trimmed %}
      You can help translate the tool at <a class="twl-links" href="https://translatewiki.net/wiki/Translating:Wikipedia_Library_Card_Platform">translatewiki.net</a>.
    {% endblocktranslate %}
  </p>
