{% comment %}
  This whole thing exists because crispy forms insists on applying a
  btn-primary class to Submit buttons, but replacing them with Button or
  StrictButton yields a form that can't submit. Argh.
{% endcomment %}

{% load i18n %}
{% load crispy_forms_field %}
{% load crispy_forms_utils %}

<div class="clearfix">
  <form action="/i18n/setlang/" method="post" class="form-inline">
    {% csrf_token %}
    {% if form_show_errors %}
      {% include "bootstrap3/errors.html" %}
    {% endif %}
    {% for field in language_form %}
      <div id="div_{{ field.auto_id }}" class="form-group">
          <label for="{{ field.id_for_label }}" class="sr-only">
            {{ field.label|safe }}
          </label>
          {% crispy_field field 'placeholder' field.label %}
      </div>
    {% endfor %}
    {% comment %} Translators: Users click this button to set their interface language. {% endcomment %}
    <input type="submit" name="submit" value="{% trans "Set language" %}" class="btn btn-default" />
  </form> <br />
  {% comment %} Translators: This text on the user page helps users naviage to the TranslateWiki Wikipedia Library Card platform translation page. {% endcomment %}
  {% blocktrans trimmed%}
    You can help translate the tool at <a href="https://translatewiki.net/wiki/Translating:Wikipedia_Library_Card_Platform">translatewiki.net</a>.
  {% endblocktrans %}
  <br />
</div>
