{% load crispy_forms_tags %}
{% load i18n %}

  <h3>Preferences</h3>

  <div class="row clearfix">
    <div class="col-xs-12 col-sm-3">
      <strong>{% trans "Language" %}</strong>
    </div>
    <div class="col-xs-12 col-sm-9">
      {% include 'users/language_form.html' %}    
    </div>
  </div>

  <hr />

  <div class="row clearfix">
    <div class="col-xs-12 col-sm-3">
      <strong>{% trans "Emails" %}</strong>
    </div>
    <div class="col-xs-12 col-sm-9">
      {% include 'users/user_email_preferences.html' %}    
    </div>
  </div>
  
  <hr />

  {% if user.has_usable_password %}
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-3">
        {% comment %} Translators: This is the heading of the section of a user's profile where they can change their password. {% endcomment %}
        <strong>{% trans "Password" %}</strong>
      </div>
      <div class="col-xs-12 col-sm-9">
        <form method="post" action="{% url 'password_change' %}">
          {% csrf_token %}
          {{ password_form | crispy }}    
          <button class="btn btn-default" type="submit">
            {% trans "Change password" %}
          </button>
        </form>    
      </div>
    </div>

    <hr />
  {% endif %}

  <div class="row clearfix">
    <div class="col-xs-12 col-sm-3">
      {% comment %} Translators: This is the heading of the section of a user's profile where they can download, restrict, or delete their personal data. {% endcomment %}
      <strong>{% trans "Data" %}</strong>
    </div>
    <div class="col-xs-12 col-sm-9">
      <form method="post">
        {% csrf_token %}
        <input type="submit" value="Download" name="download" class="btn btn-default"/>
      </form>
    </div>
    <div class="col-xs-12 col-sm-3"></div>
    <div class="col-xs-12 col-sm-9" style="padding-top: 10px">
      <a href="{% url 'users:restrict_data' %}" class="btn btn-default">Restrict</a>
    </div>
    <div class="col-xs-12 col-sm-3"></div>
    <div class="col-xs-12 col-sm-9" style="padding-top: 10px">
      <a href="{% url 'users:delete_data' user.pk %}" class="btn btn-danger">Delete</a>
    </div>
  </div>

  <hr />
