{% extends "new_base.html" %}
{% load i18n %}

{% block content %}
  {% include "header_partial_b4.html" %}

  {% if not editor.wp_bundle_eligible %}
    {% include "users/eligibility_modal.html" %}
  {% endif %}

  <div class="row">
    <div class="col-lg-2 col-md-3">
      {% include "users/filter_section.html" %}
    </div>
    <div class="v-divider"></div>
    <div class="col-lg-9 col-md-8 col-sm-12">
      {% include "users/collections_section.html" %}
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    // Dynamically add classes to the django-filter generated labels
    labelLanguages = document.querySelector("[for=id_languages]")
    labelTags = document.querySelector("[for=id_tags]")

    labelLanguages.classList.add("collection-filter-label");
    labelTags.classList.add("collection-filter-label");

    function favoriteCollection(icon, partnerPk, myLibraryCacheKey) {
      $.ajax({
        url: "{% url 'users:favorite_collection' %}?partner_pk=" + partnerPk + "&my_library_cache_key=" + myLibraryCacheKey,
        // on success
        success: function(response) {
          var favoritesNumber = document.getElementById("favorite-collections-number");
          var previousCount = Number(favoritesNumber.innerText);

          if(response.added){
            // Update favorites counter
            favoritesNumber.innerHTML = previousCount + 1;
            // Change icon to star icon
            icon.className = "fa fa-star favorite-icon favorite-icon-" + partnerPk;
            // Add tile to favorites section
            var collectionTile = document.getElementById("tile-partner-" + partnerPk);
            var collectionTileClone = collectionTile.cloneNode(true);
            // Change the id to indicate the cloned tile is a favorite
            collectionTileClone.id = "favorite-tile-partner-" + partnerPk;
            var favoriteRow = document.getElementById("favorite-collections-row");
            favoriteRow.appendChild(collectionTileClone);

          }
          else{
            // Update favorites counter
            favoritesNumber.innerHTML = previousCount - 1;
            // Change icon to outline star icon
            icon.className = "fa fa-star-o favorite-icon";
            var partnerIcons = document.getElementsByClassName("fa fa-star favorite-icon favorite-icon-" + partnerPk);
            for (var i = 0; i < partnerIcons.length; i++) {
              partnerIcons[i].className = "fa fa-star-o favorite-icon favorite-icon-" + partnerPk;
            }
            // Remove tile from favorites section
            var favoriteTile = document.getElementById("favorite-tile-partner-" + partnerPk);
            favoriteTile.parentNode.removeChild(favoriteTile);
          }
        },
        // on error
        error: function(response) {
            // alert the error if any error occured
            console.log(response.responseJSON.errors)
        }
      });
    }
  </script>

{% endblock %}
