{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
  <style type="text/css">
    #terms {
      height: 100vh;
      border:1px solid #ccc;
      padding:6px;
      overflow:scroll;
    }
    h3, h4 {
      padding-bottom: 0;
      margin-bottom: 0;
      min-height: 0;
    }
  </style>
{% endblock extra_css %}

{% block content %}
{# Translators: use the date *when you are translating*, in a language-appropriate format. #}
<em>{% trans "Last updated 12 November 2019" %}</em>

<a href="https://wikimediafoundation.org/wiki/Privacy_policy" style="float:right">
{% comment %} Translators: This link is on the Terms of Use page and links to the Wikimedia Foundation Privacy Policy (https://wikimediafoundation.org/wiki/Privacy_policy). Wikimedia Foundation should not be translated. {% endcomment %}
{% trans "Wikimedia Foundation privacy policy" %}
</a>

{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
<h2>{% trans "Wikipedia Library Card Terms of Use and Privacy Statement" %}</h2>

{% comment %}
You can also view these TOU on [[Meta]], where they may be translated in other languages. <-- awaiting link on meta
{% endcomment %}

<div id='terms'>
<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
<a href="https://meta.wikimedia.org/wiki/The_Wikipedia_Library">The Wikipedia Library</a> has partnered with publishers around the world to allow users to access otherwise paywalled resources. This website allows users to apply simultaneously for access to multiple publishers’ materials, and makes the administration of and access to Wikipedia Library accounts easy and efficient.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. WMF should not be translated. Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
This program is administered by the Wikimedia Foundation (WMF). These terms of use and privacy notice pertain to your application for access to resources through the Wikipedia Library, your use of this website, and your access to and use of those resources. They also describe our handling of the information you provide to us in order to create and administer your Wikipedia Library account. If we make material changes to the terms, we will notify users.
{% endblocktrans %}
</p>

{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
<h3>{% trans "Requirements for a Wikipedia Library Card Account" %}</h3>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
Access to resources via The Wikipedia Library is reserved for community members who have demonstrated their commitment to the Wikimedia projects, and who will use their access to these resources to improve project content. To that end, in order to be eligible for the Wikipedia Library program, we require that you be registered for a user account on the projects. We give preference to users with at least 500 edits and six (6) months of activity, but these are not strict requirements. We ask that you do not request access to any publishers whose resources you can already access for free through your local library or university, or another institution or organization, in order to provide that opportunity to others.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
Additionally, if you are currently blocked or banned from a Wikimedia project, applications to resources may be rejected or restricted. If you obtain a Wikipedia Library account, but a long-term block or ban is subsequently instituted against you on one of the projects, you may lose access to your Wikipedia Library account.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
Wikipedia Library Card accounts do not expire. However, access to an individual publisher’s resources will generally lapse after one year, after which you will either need to apply for renewal or your account will automatically be renewed.
{% endblocktrans %}
</p>

{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
<h3>{% trans "Applying via Your Wikipedia Library Card Account" %}</h3>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
In order to apply for access to a partner resource, you must provide us with certain information, which we will use to evaluate your application. If your application is approved, we may transfer the information you have given us to the publishers whose resources you wish to access. They will either contact you with the account information directly or we will send access information to you ourselves.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
In addition to the basic information you provide to us, our system will retrieve some information directly from the Wikimedia projects: your username, email address, edit count, registration date, user ID number, groups to which you belong, and any special user rights.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
Each time you log in to the Wikipedia Library Card Platform, this information will be automatically updated.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
We will ask you to provide us with some information about your history of contributions to the Wikimedia projects. Information on contribution history is optional, but will greatly assist us in evaluating your application.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). WMF should not be translated. Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
The information you provide when creating your account will be visible to you while on the site but not to others unless they are approved Wikipedia Library Coordinators, WMF Staff, or WMF Contractors who need access to this data in order to carry out their work with the Wikipedia Library, all of whom are subject to non-disclosure obligations.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
The following limited information that you provide is public to all users by default: 1) when you created a Wikipedia Library Card account; 2) which publishers’ resources you have applied to access; 3) your rationale for accessing the resources of each partner to which you apply. Editors who do not wish to make points 2 and 3 public may opt out using a checkbox when filing an application.
{% endblocktrans %}
</p>

{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
<h3>{% trans "Your Use of Publisher Resources" %}</h3>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
In order to access an individual publisher’s resources, you must agree to that publisher’s terms of use and privacy policy. You agree that you will not violate such terms and policies in connection with your use of the Wikipedia Library. Additionally, the following activities are prohibited while accessing publisher resources through the Wikipedia Library.
{% endblocktrans %}
</p>

<p>
  <ol>
    <li>
    {% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
    {% blocktrans trimmed %}
    Sharing your usernames, passwords, or any access codes for publisher resources with others;
    {% endblocktrans %}
    </li>
    <li>
    {% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
    {% blocktrans trimmed %}
    Automatically scraping or downloading restricted content from publishers;
    {% endblocktrans %}
    </li>
    <li>
    {% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
    {% blocktrans trimmed %}
    Systematically making printed or electronic copies of multiple extracts of restricted content available for any purpose;
    {% endblocktrans %}
    </li>
    <li>
    {% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
    {% blocktrans trimmed %}
    Data mining metadata without permission—for example, in order to use metadata for auto-created stub articles;
    {% endblocktrans %}
    </li>
    <li>
    {% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
    {% blocktrans trimmed %}
    Using the access you receive through the Wikipedia Library for profit by selling access to your account or resources which you have through it.
    {% endblocktrans %}
    </li>
  </ol>
</p>
<br>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
<h4>{% trans "External Search and Proxy Services" %}</h4>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
Certain resources may only be accessed using an external search service, such as the EBSCO Discovery Service, or a proxy service, such as OCLC EZProxy. If you use such external search and/or proxy services, please review the applicable terms of use and privacy policies.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
In addition, if you use OCLC EZProxy, please note that you may not use it for commercial purposes.
{% endblocktrans %}
</p>

{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
<h3>{% trans "Data Retention and Handling" %}</h3>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
The Wikimedia Foundation and our service providers use your information for the legitimate purpose of providing Wikipedia Library services in support of our charitable mission. When you apply for a Wikipedia Library account, or use your Wikipedia Library account, we may routinely collect the following information:  your username, email address, edit count, registration date, user ID number, groups to which you belong, and any special user rights; your name, country of residence, occupation, and/or affiliation, if required by a partner to which you are applying; your narrative description of your contributions and reasons for applying for access to partner resources; and the date you agree to these terms of use.
{% endblocktrans %}
</p>

<p>
{% url 'partners:filter' as all_partners_url %}
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
Each publisher who is a member of the Wikipedia Library program requires different specific information in the application. Some publishers may request only an email address, while others request more detailed data, such as your name, location, occupation, or institutional affiliation. When you complete your application, you will only be asked to supply information required by the publishers you have chosen, and each publisher will only receive the information they require for providing you with access. Please see our <a href="{{ all_partners_url }}">partner information</a> pages to learn what information is required by each publisher to gain access to their resources.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
You can browse the Wikipedia Library site without logging in, but will need to log in to apply or access proprietary partner resources. We use the data provided by you via OAuth and Wikimedia API calls to assess your application for access and to process approved requests.
{% endblocktrans %}
</p>

<p>
{% url 'users:home' as profile_url %}
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
In order to administer the Wikipedia Library program, we will retain the application data we collect from you for three years after your most recent login, unless you delete your account, as described below. You can log in and go to <a href="{{ profile_url }}">your profile page</a> in order to see the information associated with your account, and can download it in JSON format. You may access, update, restrict, or delete this information at any time, except for the information that is automatically retrieved from the projects. If you have any questions or concerns about the handling of your data, please contact <a href="mailto:wikipedialibrary@wikimedia.org?Subject=Wikipedia%20Library%20Card%20account%20deactivation">wikipedialibrary@wikimedia.org</a>.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
If you decide to disable your Wikipedia Library account, you can use the delete button on your profile to delete certain personal information associated with your account. We will delete your real name, occupation, institutional affiliation, and country of residence. Please note that the system will retain a record of your username, the publishers to which you applied or had access, and the dates of that access. Note that deletion is not reversible. Deletion of your Wikipedia Library account may also correspond with the removal of any resource access to which you were eligible or approved. If you request the deletion of account information and later wish to apply for a new account, you will need to provide the necessary information again.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). WMF should not be translated. Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
The Wikipedia Library is run by WMF Staff, Contractors, and approved volunteer Coordinators. The data associated with your account will be shared with the WMF staff, contractors, service providers, and volunteer coordinators who need to process the information in connection with their work for the Wikipedia Library, and who are subject to confidentiality obligations. We will also use your data for internal Wikipedia Library purposes such as distributing user surveys and account notifications, and in a depersonalized or aggregated fashion for statistical analysis and administration. Finally, we will share your information with the publishers whom you specifically select in order to provide you with access to resources. Otherwise, your information will not be shared with third parties, with the exception of the circumstances described below.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). WMF should not be translated. {% endcomment %}
{% blocktrans trimmed %}
We may disclose any collected information when required by law, when we have your permission, when needed to protect our rights, privacy, safety, users, or the general public, and when necessary to enforce these terms, WMF’s general <a href="https://foundation.wikimedia.org/wiki/Terms_of_Use">Terms of Use</a>, or any other WMF policy.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
We take the security of your personal data seriously, and take reasonable precautions to ensure your data is protected. These precautions include access controls to limit who has access to your data and security technologies to protect data stored on the server. However, we cannot guarantee the safety of your data as it is transmitted and stored.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
Please note that these terms do not control the use and handling of your data by the publishers and service providers whose resources you access or apply to access. Please read their individual privacy policies for that information.
{% endblocktrans %}
</p>

{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
<h3>{% trans "Important Note" %}</h3>

<p>
<strong>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% blocktrans trimmed %}
The Wikimedia Foundation is a nonprofit organization based in San Francisco, California. The Wikipedia Library program provides access to resources held by publishers in multiple countries. If you apply for a Wikipedia Library account (whether you are inside or outside of the United States), you understand that your personal data will be collected, transferred, stored, processed, disclosed and otherwise used in the U.S. as described in this privacy policy. You also understand that your information may be transferred by us from the U.S. to other countries, which may have different or less stringent data protection laws than your country, in connection with providing services to you, including evaluating your application and securing access to your chosen publishers (locations for each publisher are outlined on their respective partner information pages).
{% endblocktrans %}
</strong>
</p>

<p>
<strong>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
Please note that in the event of any differences in meaning or interpretation between the original English version of these terms and a translation, the original English version takes precedence.
{% endblocktrans %}
</strong>
</p>

<p>
<strong>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. {% endcomment %}
{% blocktrans trimmed %}
See also the <a href="https://wikimediafoundation.org/wiki/Privacy_policy">Wikimedia Foundation Privacy Policy</a>.
{% endblocktrans %}
</strong>
</p>

<br>
<p>
{% comment %} Translators: This is the second to last line of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% trans "Thank you!" %}
</p>
<p>
{% comment %} Translators: This is the last line of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
{% trans "The Wikipedia Library Team" %}<br>
{% comment %} Translators: This is the last line of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. {% endcomment %}
{% trans "Wikimedia Foundation" %}<br>
wikipedialibrary@wikimedia.org
</p>
</div>

  {% if user.is_authenticated %}
    <p>
    {% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
    {% blocktrans trimmed %}
       By checking this box and clicking “Submit”, you agree that you have read the above terms and that you will adhere to the terms of use in your application to and use of the The Wikipedia Library, and the publishers’ services to which you gain access through The Wikipedia Library program.
    {% endblocktrans %}
    </p>
    {% crispy form %}
  {% endif %}
{% endblock content %}
