{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
  <style type="text/css">
    #terms {
      height: 300px;
      border:1px solid #ccc;
      padding:6px;
      overflow:scroll;
    }
  </style>
{% endblock extra_css %}

{% block content %}
{# Translators: use the date *when you are translating*, in a language-appropriate format. #}
<em>{% trans "Last updated 8 August 2016" %}</em>

<a href="https://wikimediafoundation.org/wiki/Privacy_policy" style="float:right">
{% comment %} Translators: This link is on the Terms of Use page and links to the Wikimedia Foundation Privacy Policy (https://wikimediafoundation.org/wiki/Privacy_policy). {% endcomment %}
{% trans "Wikimedia Foundation privacy policy" %}
</a>

{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
<h2>{% trans "Wikipedia Library Card Terms of Use and Privacy Statement" %}</h2>

{% comment %}
You can also view these TOU on [[Meta]], where they may be translated in other languages. <-- awaiting link on meta
{% endcomment %}

<div id='terms'>
<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% blocktrans trimmed %}
The Wikipedia Library is an open research hub, through which active Wikipedia editors can gain both access to the vital reliable sources needed for their work and support in using those resources to improve the encyclopedia. We have partnered with publishers around the world to allow users to freely access otherwise paywalled resources. This platform allows users to apply simultaneously for access to multiple publishers, and makes the administration of Wikipedia Library accounts easy and efficient.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% blocktrans trimmed %}
These terms pertain to your application for access to Wikipedia Library resources, and your use of those resources. They also describe our handling of the information you provide to us in order to create and administer your Wikipedia Library account. The Wikipedia Library system is evolving, and over time we may update these terms due to changes in the technology. We recommend that you review the terms from time to time. If we make substantial changes to the terms, we will send a notification email to Wikipedia Library users.
{% endblocktrans %}
</p>

{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
<h3>{% trans "Requirements for a Wikipedia Library Card Account" %}</h3>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). Special:EmailUser should be translated to this language's title for https://en.wikipedia.org/wiki/Special:EmailUser. {% endcomment %}
{% blocktrans trimmed %}
As a preliminary note, Wikipedia Library accounts are reserved for community members who have demonstrated their commitment to the Wikimedia projects, and will use their access to these resources to improve project content. To that end, in order to be eligible for the Wikipedia Library program, we require that you be registered for a user account on the projects. We generally give preference to users with at least 500 edits and six (6) months of activity, but these are not strict requirements. You must have the Special:EmailUser feature enabled on at least one version of Wikipedia, and you will identify that as your "home" wiki when you create an account. We ask that you do not request access to any publishers whose resources you can already access for free through your local library or university, or another institution or organization, in order to provide that opportunity to others.     
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% blocktrans trimmed %}
Additionally, if you are currently blocked or banned from a Wikimedia project, you may be rejected when you apply for a Wikipedia Library account. If you obtain a Wikipedia Library account, but a long-term block or ban is subsequently instituted against you on one of the projects, you may lose access to your Wikipedia Library account.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% blocktrans trimmed %}
Wikipedia Library Card accounts do not expire. However, access to an individual publisher’s resources will generally lapse after one year, after which you will either need to apply for renewal or your account will automatically be renewed.
{% endblocktrans %}
</p>

{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
<h3>{% trans "Applying for Your Wikipedia Library Card Account" %}</h3>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% blocktrans trimmed %}
In order to apply for a Wikipedia Library Card account, you must provide us with certain information, which we will use to evaluate your application. If your application is approved, we may transfer the information you have given us to the publishers whose resources you wish to access. The publisher will then create a free account for you. In most cases, they will contact you with the account information directly, although sometimes we will send access information to you ourselves.
{% endblocktrans %}
</p>

<p>
{% url 'partners:list' as partners_page %}
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {{ partners_page }} should not be translated. {% endcomment %}
{% blocktrans trimmed %}
Each publisher who is a member of the Wikipedia Library program requires different specific information in the application. Some publishers may request only an email address, while others request more detailed data, such as your name, location, occupation, or institutional affiliation. When you complete your application, you will only be asked to supply information required by the publishers you have chosen, and each publisher will only receive the information they require. Please see our <a href="{{ partners_page }}">partner information pages</a> to learn what information is required by each publisher to gain access to their resources.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% blocktrans trimmed %}
In addition to the basic information you provide to us, our system will retrieve some information directly from the Wikimedia projects: your username, email address, edit count, registration date, user ID number, groups to which you belong, and any special user rights. Each time you log in to the Wikipedia Library Card Platform, this information will be automatically updated.  
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). WMF should not be translated. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% blocktrans trimmed %}
The information you provide when creating your account will be visible to you while on the site but not to other users unless they are approved Coordinators, WMF Staff, or WMF Contractors under a non-disclosure agreement (NDA), and who are working with the Wikipedia Library.  The following limited information that you provide is public to all users by default: 1) when you created a Wikipedia Library Card account; 2) which publishers’ resources you have applied to access; 3) your brief description of your rationale for accessing the resources of each partner to which you apply.  Editors who do not wish to make this information public may email the required information to WMF Staff to request and receive access privately.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
We will ask you to identify your home wiki (or any Wikipedia version where you have enabled email), and finally to provide us with some information about your history of contributions to the Wikimedia projects. Information on contribution history is optional, but will greatly assist us in evaluating your application. 
{% endblocktrans %}
</p>

{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
<h3>{% trans "Data Retention and Handling" %}</h3>

<p>
{% url 'users:home' as user_home_url %}
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {{ user_home_url }} should not be translated. {% endcomment %}
{% blocktrans trimmed %}
In order to administer the Wikipedia Library program, we will retain the data we collect indefinitely, unless you delete your account, as described below. You can log in and go to your <a href="{{ user_home_url }}">profile page</a> in order to see the information associated with your account. You may update this information at any time, except for the information that is automatically retrieved from the projects. 
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% blocktrans trimmed %}
If you decide to disable your Wikipedia Library account, you may email us at
<a href="mailto:wikipedialibrary@wikimedia.org?Subject=Wikipedia%20Library%20Card%20account%20deactivation">wikipedialibrary@wikimedia.org</a>
 in order to request the deletion of certain personal information associated with your account. We will delete your real name, occupation, institutional affiliation, and country of residence. Please note that the system will retain a record of your username, the publishers to which you applied or had access, and the dates of that access. If you request the deletion of account information and later wish to apply for a new account, you will need to provide the necessary information again.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% blocktrans trimmed %}
The Wikipedia Library is run by Wikimedia Foundation Staff, Contractors, and approved volunteer Coordinators who may have access to your information. The data associated with your account will be shared with the Wikimedia staff, contractors, service providers, and volunteer Coordinators who need to process the information, and who are subject to non-disclosure obligations. Otherwise, the Wikimedia Foundation will only share your information with the publishers whom you specifically select, with the exception of the circumstances described below.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
We may disclose any collected information when required by law, when we have your permission, when needed to protect our rights, privacy, safety, users, or the general public, and when necessary to enforce these terms, our general Terms of Use, or any other Wikimedia policy.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
Please note that these terms do not control the use and handling of your data by the publishers whose resources you access. Please read their individual privacy policies for that information.
{% endblocktrans %}
</p>

{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
<h3>{% trans "Your Use of Publisher Resources" %}</h3>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% blocktrans trimmed %}
Please note that in order to access an individual publisher’s resources, you agree to that publisher’s terms of use and privacy policy. Additionally, your access to publisher resources through the Wikipedia Library is accompanied by the following terms.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
Your access allows you to search, view, retrieve and display partner content (that is, content that requires an account to access) from publishers; to electronically save partner content; and to print out single copies of partner content.
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
You must agree not to share your usernames and passwords for access to publisher resources with others. 
{% endblocktrans %}
</p>

<p>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% blocktrans trimmed %}
Your access to publisher resources does not allow you to mass scrape or mass download restricted content from publishers; to systematically make printed or electronic copies of multiple extracts of restricted content available for any purpose; to data mine metadata without permission, in order to use metadata for auto-created stub articles, for example; or to use the access you receive through the Wikipedia Library for profit by selling access to your account or resources to which you have through it. 
{% endblocktrans %}
</p>

<h3>Important Note</h3>

<p>
<strong>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% blocktrans trimmed %}
The Wikimedia Foundation is a nonprofit organization based in San Francisco, California. The Wikipedia Library program provides access to resources held by publishers in multiple countries. By applying for a Wikipedia Library account (whether you are inside or outside of the United States), you agree to the collection, transfer, storage, processing, disclosure, and other uses of the collected information in the United States and other places as may be necessary to carry out the purposes and objectives discussed above. You also consent to the transfer of your information by us from the U.S. to other countries, which may have different or less stringent data protection laws than your country, in connection with providing services to you, including evaluating your application and securing access to your chosen publishers.
{% endblocktrans %}
</strong>
</p>

<p>
<strong>
{% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% blocktrans trimmed %}
Please note that in the event of any differences in meaning or interpretation between the original English version of these terms and a translation, the original English version takes precedence.
{% endblocktrans %}
</strong>
</p>

<p>
{% comment %} Translators: This is the second to last line of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
{% trans "Thank you!" %}
</p>
<p>
{% comment %} Translators: This is the last line of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
{% trans "The Wikipedia Library Team" %}
</p>
</div>

  {% if user.is_authenticated %}
    <p>
    {% comment %} Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). {% endcomment %}
    {% blocktrans trimmed %}
        By checking this box and clicking “I Accept”, you consent to the above privacy statement and terms, and agree to adhere to them in your application to and use of the The Wikipedia Library, and the publishers’ services to which you gain access through The Wikipedia Library program.     
    {% endblocktrans %}
    </p>
    {% crispy form %}
  {% endif %}
{% endblock content %}
