{% extends "new_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
  <style type="text/css">
    #terms {
      height: 100vh;
      border:1px solid #ccc;
      padding:6px;
      overflow:scroll;
    }
    h3, h4 {
      padding-bottom: 0;
      margin-bottom: 0;
      min-height: 0;
    }
    h2{
      margin: 20px 0px;
    }
    p{
      font-size: 0.95em;
    }
    .terms-content{
      margin: auto 56px;
    }
  </style>
{% endblock extra_css %}

{% block content %}
  {% include "header_partial_b4.html" %}
  {% include "message_partial.html" %}
  <div class="terms-content">
    {# Translators: use the date *when you are translating*, in a language-appropriate format. #}
    <em>{% trans "Last updated 11 August 2021" %}</em>

    <a class="twl-links" href="https://wikimediafoundation.org/wiki/Privacy_policy" style="float:right">
    {% comment %}Translators: This link is on the Terms of Use page and links to the Wikimedia Foundation Privacy Policy (https://wikimediafoundation.org/wiki/Privacy_policy). Wikimedia Foundation should not be translated.{% endcomment %}
    {% trans "Wikimedia Foundation privacy policy" %}
    </a>

    {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library.{% endcomment %}
    <h2>{% trans "Wikipedia Library Card Terms of Use and Privacy Statement" %}</h2>

    {% comment %}
    You can also view these TOU on [[Meta]], where they may be translated in other languages. <-- awaiting link on meta
    {% endcomment %}

    <div id='terms'>
      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library.{% endcomment %}
        {% blocktranslate trimmed %}
          <a class="twl-links" href="https://meta.wikimedia.org/wiki/The_Wikipedia_Library">
            The Wikipedia Library
          </a>
          has partnered with publishers around the world to allow users to access otherwise
          paywalled resources. This website allows Wikipedia editors to search and access
          these resources.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. WMF should not be translated. Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library.{% endcomment %}
        {% blocktranslate trimmed %}
          This program is administered by the Wikimedia Foundation (WMF). These terms
          of use and privacy notice pertain to your application for access to resources
          through the Wikipedia Library, your use of this website, and your access to
          and use of those resources. They also describe our handling of the information
          you provide to us in order to create and administer your Wikipedia Library account.
          If we make material changes to the terms, we will notify users.
        {% endblocktranslate %}
      </p>

      {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library.{% endcomment %}
      <h3>{% trans "Requirements for a Wikipedia Library Card Account" %}</h3>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library.{% endcomment %}
        {% blocktranslate trimmed %}
          Access to resources via The Wikipedia Library is reserved for community members
          who have demonstrated their commitment to the Wikimedia projects, and who will
          use their access to these resources to improve project content. To that end,
          in order to be eligible for The Wikipedia Library, we require that you be
          registered for a user account on the projects, with at least 500 edits,
          six (6) months of activity, and 10+ edits in the last month. We ask that you
          do not request access to any publishers with a limited number of available
          accounts whose resources you can already access for free through your local
          library or university, or another institution or organization, in order to
          provide that opportunity to others.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library.{% endcomment %}
        {% blocktranslate trimmed %}
          Additionally, if you are currently blocked or banned from a Wikimedia project,
          applications to resources may be rejected or restricted. If you obtain a Wikipedia
          Library account, but a block or ban is subsequently instituted against you
          on one of the projects, you may lose access to your Wikipedia Library account.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library.{% endcomment %}
        {% blocktranslate trimmed %}
          Your eligibility to access The Wikipedia Library is assessed at each login.
          While more than half of the library's content is provided via this automated
          eligibility check, access to other publisher's content may be time limited,
          typically lapsing after one year, after which you will usually need to apply
          for renewal.
        {% endblocktranslate %}
      </p>

      {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library.{% endcomment %}
      <h3>{% trans "Applying via Your Wikipedia Library Card Account" %}</h3>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/).{% endcomment %}
        {% blocktranslate trimmed %}
          In order to apply for access to a partner resource, you must provide us with
          certain information, which we will use to evaluate your application. If your
          application is approved, we may transfer the information you have given us
          to the publishers whose resources you wish to access. They will either contact
          you with the account information directly or we will send access information
          to you ourselves.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/).{% endcomment %}
        {% blocktranslate trimmed %}
        In addition to the basic information you provide to us, our system will retrieve
        some information directly from the Wikimedia projects: your username, email address,
        edit count, registration date, user ID number, groups to which you belong, and
        any special user rights.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library.{% endcomment %}
        {% blocktranslate trimmed %}
          Each time you log in to the Wikipedia Library Card Platform, this information
          will be automatically updated.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/).{% endcomment %}
        {% blocktranslate trimmed %}
          We will ask you to provide us with some information about your history of
          contributions to the Wikimedia projects. Information on contribution history
          is optional, but will greatly assist us in evaluating your application.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). WMF should not be translated. Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library.{% endcomment %}
        {% blocktranslate trimmed %}
          The information you provide when creating your account will be visible to
          you while on the site but not to others unless they are approved Wikipedia
          Library Coordinators, WMF Staff, or WMF Contractors who need access to this
          data in order to carry out their work with the Wikipedia Library, all of whom
          are subject to non-disclosure obligations.
        {% endblocktranslate %}
      </p>

      {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
      <h3>{% trans "Your Use of Publisher Resources" %}</h3>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
        {% blocktranslate trimmed %}
          In order to access an individual publisher’s resources, you must agree to
          that publisher’s terms of use and privacy policy. You agree that you will
          not violate such terms and policies in connection with your use of the
          Wikipedia Library. Additionally, the following activities are prohibited
          while accessing publisher resources through the Wikipedia Library.
        {% endblocktranslate %}
      </p>

      <p>
        <ol>
          <li>
            {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
            {% blocktranslate trimmed %}
              Sharing your Wikipedia account, usernames, passwords, or any access codes
              for publisher resources with others;
            {% endblocktranslate %}
          </li>
          <li>
            {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
            {% blocktranslate trimmed %}
              Automatically scraping or downloading restricted content from publishers;
            {% endblocktranslate %}
          </li>
          <li>
            {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
            {% blocktranslate trimmed %}
              Systematically making printed or electronic copies of multiple extracts
              of restricted content available for any purpose;
            {% endblocktranslate %}
          </li>
          <li>
            {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
            {% blocktranslate trimmed %}
              Data mining metadata without permission—for example, in order to use metadata
              for auto-created stub articles;
            {% endblocktranslate %}
          </li>
          <li>
            {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
            {% blocktranslate trimmed %}
              Using the access you receive through the Wikipedia Library for profit
              by selling access to your account or resources which you have through it.
            {% endblocktranslate %}
          </li>
        </ol>
      </p>
      <br>
      {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
      <h4>{% trans "External Search and Proxy Services" %}</h4>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
        {% blocktranslate trimmed %}
          Certain resources may only be accessed using an external search service, such
          as the EBSCO Discovery Service, or a proxy service, such as OCLC EZProxy.
          If you use such external search and/or proxy services, please review the
          applicable terms of use and privacy policies.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
        {% blocktranslate trimmed %}
          In addition, if you use OCLC EZProxy, please note that you may not use it
          for commercial purposes.
        {% endblocktranslate %}
      </p>

      {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
      <h3>{% trans "Data Retention and Handling" %}</h3>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
        {% blocktranslate trimmed %}
          The Wikimedia Foundation and our service providers use your information for
          the legitimate purpose of providing Wikipedia Library services in support of
          our charitable mission. When you apply for a Wikipedia Library account, or
          use your Wikipedia Library account, we may routinely collect the following
          information: your username, email address, edit count, registration date,
          user ID number, groups to which you belong, and any special user rights;
          your name, country of residence, occupation, and/or affiliation, if required
          by a partner to which you are applying; your narrative description of your
          contributions and reasons for applying for access to partner resources;
          and the date you agree to these terms of use.
        {% endblocktranslate %}
      </p>

      <p>
        {% url 'partners:filter' as all_partners_url %}
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
        {% blocktranslate trimmed %}
          Each publisher who is a member of the Wikipedia Library program requires different
          specific information in the application. Some publishers may request only an
          email address, while others request more detailed data, such as your name,
          location, occupation, or institutional affiliation. When you complete your
          application, you will only be asked to supply information required by the
          publishers you have chosen, and each publisher will only receive the information
          they require for providing you with access. Please see our
          <a class="twl-links" href="{{ all_partners_url }}">partner information</a> pages to learn what
          information is required by each publisher to gain access to their resources.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
        {% blocktranslate trimmed %}
          Some Wikipedia Library pages are visible without logging in, but you will
          need to log in to apply or access proprietary partner resources. We use the
          data provided by you via OAuth and Wikimedia API calls to assess your application
          for access and to process approved requests.
        {% endblocktranslate %}
      </p>

      <p>
        {% url 'users:home' as profile_url %}
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
        {% blocktranslate trimmed %}
          In order to administer the Wikipedia Library program, we will retain the application
          data we collect from you for three years after your most recent login, unless
          you delete your account, as described below. You can log in and go to
          <a class="twl-links" href="{{ profile_url }}">your profile page</a> in order to see the information
          associated with your account, and can download it in JSON format. You may access,
          update, restrict, or delete this information at any time, except for the information
          that is automatically retrieved from the projects. If you have any questions
          or concerns about the handling of your data, please contact
          <a class="twl-links" href="mailto:wikipedialibrary@wikimedia.org?Subject=Wikipedia%20Library%20Card%20account%20deactivation">
            wikipedialibrary@wikimedia.org
          </a>.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
        {% blocktranslate trimmed %}
          If you decide to disable your Wikipedia Library account, you can use the delete
          button on your profile to delete certain personal information associated with
          your account. We will delete your real name, occupation, institutional affiliation,
          and country of residence. Please note that the system will retain a record
          of your username, the publishers to which you applied or had access, and the
          dates of that access. Note that deletion is not reversible. Deletion of your
          Wikipedia Library account may also correspond with the removal of any resource
          access to which you were eligible or approved. If you request the deletion
          of account information and later wish to apply for a new account, you will
          need to provide the necessary information again.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). WMF should not be translated. Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
        {% blocktranslate trimmed %}
          The Wikipedia Library is run by WMF Staff, Contractors, and approved volunteer
          Coordinators. The data associated with your account will be shared with the WMF
          staff, contractors, service providers, and volunteer coordinators who need to
          process the information in connection with their work for the Wikipedia Library,
          and who are subject to confidentiality obligations. We will also use your data
          for internal Wikipedia Library purposes such as distributing user surveys and
          account notifications, and in a depersonalized or aggregated fashion for statistical
          analysis and administration. Finally, we will share your information with the
          publishers whom you specifically select in order to provide you with access
          to resources. Otherwise, your information will not be shared with third parties,
          with the exception of the circumstances described below.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). WMF should not be translated. {% endcomment %}
        {% blocktranslate trimmed %}
          We may disclose any collected information when required by law, when we have
          your permission, when needed to protect our rights, privacy, safety, users,
          or the general public, and when necessary to enforce these terms, WMF’s
          general <a class="twl-links" href="https://foundation.wikimedia.org/wiki/Terms_of_Use">Terms of Use</a>,
          or any other WMF policy.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
        {% blocktranslate trimmed %}
          We take the security of your personal data seriously, and take reasonable
          precautions to ensure your data is protected. These precautions include access
          controls to limit who has access to your data and security technologies to
          protect data stored on the server. However, we cannot guarantee the safety
          of your data as it is transmitted and stored.
        {% endblocktranslate %}
      </p>

      <p>
        {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
        {% blocktranslate trimmed %}
          Please note that these terms do not control the use and handling of your data
          by the publishers and service providers whose resources you access or apply
          to access. Please read their individual privacy policies for that information.
        {% endblocktranslate %}
      </p>

      {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
      <h3>{% trans "Important Note" %}</h3>

      <p>
        <strong>
          {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
          {% blocktranslate trimmed %}
          The Wikimedia Foundation is a nonprofit organization based in San Francisco,
          California. The Wikipedia Library program provides access to resources held
          by publishers in multiple countries. If you apply for a Wikipedia Library
          account (whether you are inside or outside of the United States), you understand
          that your personal data will be collected, transferred, stored, processed,
          disclosed and otherwise used in the U.S. as described in this privacy policy.
          You also understand that your information may be transferred by us from the
          U.S. to other countries, which may have different or less stringent data
          protection laws than your country, in connection with providing services to you,
          including evaluating your application and securing access to your chosen publishers
          (locations for each publisher are outlined on their respective partner information pages).
          {% endblocktranslate %}
        </strong>
      </p>

      <p>
        <strong>
          {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
          {% blocktranslate trimmed %}
            Please note that in the event of any differences in meaning or interpretation
            between the original English version of these terms and a translation, the
            original English version takes precedence.
          {% endblocktranslate %}
        </strong>
      </p>

      <p>
        <strong>
          {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. {% endcomment %}
          {% blocktranslate trimmed %}
            See also the <a class="twl-links" href="https://wikimediafoundation.org/wiki/Privacy_policy">Wikimedia Foundation Privacy Policy</a>.
          {% endblocktranslate %}
        </strong>
      </p>

      <br>
      <p>
        {% comment %}Translators: This is the second to last line of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). {% endcomment %}
        {% trans "Thank you!" %}
      </p>
      <p>
        {% comment %}Translators: This is the last line of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
        {% trans "The Wikipedia Library Team" %}<br>
        {% comment %}Translators: This is the last line of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Wikimedia Foundation should not be translated. {% endcomment %}
        {% trans "Wikimedia Foundation" %}<br>
        wikipedialibrary@wikimedia.org
      </p>
    </div>

    {% if user.is_authenticated %}
      <p>
      {% comment %}Translators: This is a section of the Terms of Use (https://wikipedialibrary.wmflabs.org/terms/). Translate Wikipedia Library in the same way as the global branch is named in the language you are translating (click through the language from https://meta.wikimedia.org/wiki/The_Wikipedia_Library/Global). If the language is not available, do not translate Wikipedia Library. {% endcomment %}
      {% blocktranslate trimmed %}
         By checking this box and clicking “Submit”, you agree that you have read the above terms and that you will adhere to the terms of use in your application to and use of the The Wikipedia Library, and the publishers’ services to which you gain access through The Wikipedia Library program.
      {% endblocktranslate %}
      </p>
      {% crispy form %}
    {% endif %}
  </div>
{% endblock content %}
