{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <p>
    {% comment %}
      Translators: this should show up for people who log in with a username/password and not OAuth, so we don't know what their Wikipedia identity is.
    {% endcomment %}
    {% blocktrans with username=user.username %}
      Hi, {{ username }}! You don't have a Wikipedia editor profile attached
      to your account here, so you are probably a site administrator.
    {% endblocktrans %}
  </p>

  <p>
    {% comment %} Translator: In the unlikely scenario that someone is able to register an account without using OAuth (thus leaving us without some of the information required for applications), users will see this message, encouraging them to re-register. {% endcomment %}
    {% blocktrans trimmed %}
      If you aren't a site administrator, something weird has happened. You
      won't be able to apply for access without a Wikipedia editor profile.
      You should log out and create a new account by logging in via OAuth,
      or contact a site administrator for help.
    {% endblocktrans %}
  </p>

  {% include "users/preferences.html" %}
{% endblock %}
