{% load i18n %}
<html>
<body>
{% comment %}Translators: This email is sent to users with their access code. Don't translate Jinja variables in curly braces like {{ user }} or {{ partner }}. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library).{% endcomment %}
{% blocktranslate trimmed %}
  <p>Your approved application to {{ partner }} has now been finalised. Your access code or login details can be found below:</p>

  <p><b>{{ access_code }}</b></p>

  <p>{{ access_code_instructions }}</p>

{% endblocktranslate %}
</body>
</html>