{% load i18n %}
<html>
<body>
{% comment %} Translators: This email is sent to users when their application is approved. Don't translate Jinja variables in curly braces like {{ user }} or {{ partner }}; don't translate html tags either. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library).{% endcomment %}
{% blocktrans trimmed %}
  <p>Dear {{ user }},</p>
  <p>Thank you for applying for access to {{ partner }} resources through The Wikipedia Library. We are happy to inform you that your application has been approved. You can expect to receive access details within a week or two once it has been processed.</p>
  <p>Cheers!</p>
  <p>The Wikipedia Library</p>
{% endblocktrans %}
</body>
<html>
