{% load i18n %}
{% comment %}Translators: This email is sent to users when their application is approved. Don't translate Jinja variables in curly braces like {{ user }} or {{ partner }}. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library).{% endcomment %}
{% blocktranslate trimmed %}
Dear {{ user }},

Thank you for applying for access to {{ partner }} resources through
The Wikipedia Library. We are happy to inform you that your application has
been approved.

{{ user_instructions }}

You can view the collections you're authorized to access at My Library: {{ link }}

Cheers!

The Wikipedia Library
{% endblocktranslate %}
