{% load i18n %}

{% comment %} Translator: This email is sent to users when their application is approved. Don't translate {{ user }} or {{ partner }}.{% endcomment %}
{% blocktrans trimmed %}
Dear {{ user }},

Thank you for applying for access to {{ partner }} resources through The Wikipedia Library. We are happy to inform you that your application has been approved. You can expect to receive details about how to access this source within a week or two.

Cheers!

The Wikipedia Library
{% endblocktrans %}
