{% load i18n %}
{% comment %}Translators: This email is sent to users when they receive a comment on their application. Don't translate Jinja variables in curly braces like {{ user }} or {{ partner }}. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library).{% endcomment %}
{% blocktranslate trimmed %}
{{ submit_date }} - {{ commenter }}
{{ comment }}

Please reply to these at:
{{ app_url }}
so we can evaluate your application.

Best,

The Wikipedia Library
{% endblocktranslate %}
