{% load i18n %}
{% comment %} Translators: This email is sent to coordinators when a comment is left on an application they are processing. Don't translate Jinja variables in curly braces like {{ user }} or {{ partner }}. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library).{% endcomment %}
{% blocktrans trimmed %}
Dear {{ user }},

Thank you for coordinating {{ partner }} resources through
The Wikipedia Library. There are one or more comments on an application that
require a response from you. Please reply to these at:
{{ app_url }}

Best,

The Wikipedia Library
{% endblocktrans %}