{% load i18n %}

{% comment %} Translator: This email is sent to users when they receive a comment on their application. Don't translate {{ partner }} or {{ app_url }}.{% endcomment %}
{% blocktrans trimmed with partner=app.partner user=app.user %}
Dear {{ user }},

Thank you for applying for access to {{ partner }} resources through The Wikipedia Library. There are one or more comments on your application that require a response from you. Please reply to these at {{ app_url }} so we can evaluate your application.

Best,

The Wikipedia Library
{% endblocktrans %}
