{% load i18n %}

{% comment %} Translators: This email is sent to users when they receive a comment on their application. Don't translate {{ user }}, {{ partner }} or {{ app_url }}. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library).{% endcomment %}
{% blocktrans trimmed  %}
Dear {{ user }},

Thank you for applying for access to {{ partner }} resources through The Wikipedia Library. There are one or more comments on your application that require a response from you. Please reply to these at {{ app_url }} so we can evaluate your application.

Best,

The Wikipedia Library
{% endblocktrans %}
