{% load i18n %}
<html>
<body>
{% comment %} Translators: This email is sent to users when they receive a comment on their application. Don't translate Jinja variables in curly braces like {{ user }} or {{ partner }}; don't translate html tags either. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library).{% endcomment %}
{% blocktrans trimmed  %}
  <p>Dear {{ user }},</p>
  <p>Thank you for applying for access to {{ partner }} resources through The Wikipedia Library. There are one or more comments on your application that require a response from you. Please reply to these at {{ app_url }} so we can evaluate your application.</p>
  <p>Best,</p>
  <p>The Wikipedia Library</p>
{% endblocktrans %}
</body>
</html>
