{% load i18n %}
<html>
<body>
{% comment %} Translators: This is a scheduled reminder email sent to coordinators who have applications requiring action. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). Don't translate Jinja variables in curly braces like {{ user }} or {{ partner }}; don't translate email addresses or html tags either.{% endcomment %}
{% blocktrans trimmed %}
  <p>Dear {{ user }},</p>
  <p>Our records indicate that you are the designated coordinator for partners that
     have a total of {{ total_apps }} applications.</p>
{% endblocktrans %}
{% if pending_count %}
  {% blocktrans count counter=pending_count trimmed%}
    One pending application.
  {% plural %}
    {{ counter }} pending applications.
  {% endblocktrans %}
{% endif %}
{% if question_count %}
  {% blocktrans count counter=question_count trimmed%}
    One under discussion application.
  {% plural %}
    {{ counter }} under discussion applications.
  {% endblocktrans %}
{% endif %}
{% if approved_count %}
  {% blocktrans count counter=approved_count trimmed %}
    {{ approved_count }} approved applications.
  {% plural %}
    {{ counter }} approved applications.
  {% endblocktrans %}
{% endif %}
{% blocktrans trimmed %}
	<p>This is a gentle reminder that you may review applications at <a href="{{ link }}">{{ link }}</a>.</p>
  <p>You can customise your reminders under 'preferences' in your user profile.</p>
  <p>If you received this message in error, drop us a line at
     wikipedialibrary@wikimedia.org.</p>
  <p>Thanks for helping review Wikipedia Library applications!</p>
{% endblocktrans %}
</body>
</html>
