{% load i18n %}
{% comment %}Translators: This text is part of a scheduled reminder email sent to coordinators who have applications requiring action. Don't translate Jinja variables in curly braces like {{ total_apps }}, or {{ user }}.{% endcomment %}
{% blocktranslate trimmed %}
Dear {{ user }},

Our records indicate that you are the designated coordinator for partners that 
have a total of {{ total_apps }} applications.
{% endblocktranslate %}
{% comment %}Translators: Breakdown as in 'cost breakdown'; analysis.{% endcomment %}
{% trans "Breakdown" %}:
{% comment %}We make use of the text below to test the behaviour of reminder emails. If you plan to change any of the 'breakdown' text, you'd also need to change the corresponding tests in emails.tests.CoordinatorReminderEmailTest.{% endcomment %}
{% if pending_count %}
  {% comment %}Translators: This text is part of a scheduled reminder email sent to coordinators who have applications requiring action. Don't translate Jinja variables in curly braces like {{ counter }}.{% endcomment %}
  {% blocktranslate count counter=pending_count trimmed %}
    {{ counter }} pending application.
  {% plural %}
    {{ counter }} pending applications.
  {% endblocktranslate %}
{% endif %}
{% comment %}Translators: This text is part of a scheduled reminder email sent to coordinators who have applications requiring action. Don't translate Jinja variables in curly braces like {{ counter }}.{% endcomment %}
{% if question_count %}
  {% blocktranslate count counter=question_count trimmed %}
    {{ counter }} under discussion application.
  {% plural %}
    {{ counter }} under discussion applications.
  {% endblocktranslate %}
{% endif %}
{% if approved_count %}
  {% comment %}Translators: This text is part of a scheduled reminder email sent to coordinators who have applications requiring action. Don't translate Jinja variables in curly braces like {{ counter }}.{% endcomment %}
  {% blocktranslate count counter=approved_count trimmed %}
    {{ counter }} approved application.
  {% plural %}
    {{ counter }} approved applications.
  {% endblocktranslate %}
{% endif %}
{% comment %}Translators: This text is part of a scheduled reminder email sent to coordinators who have applications requiring action. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library). Don't translate Jinja variables in curly braces like {{ link }}; don't translate the email address either.{% endcomment %}
{% blocktranslate trimmed %}
This is a gentle reminder that you may review applications at:
{{ link }}.

You can customise your reminders under 'preferences' in your user profile.

If you received this message in error, drop us a line at:
wikipedialibrary@wikimedia.org

Thanks for helping review Wikipedia Library applications!
{% endblocktranslate %}
