<html>
<body>
{% comment %} English-only, do not translate.{% endcomment %}
{% block trimmed %}
  <p>Hello {{ username }},</p>

  <p>You’re receiving this email because you’ve used the Library Card platform recently and we’d like to invite you to provide your thoughts and feedback on changes coming in the next 3-6 months. We’re working on two projects - user interface and experience improvements, and integrating a cross-publisher search tool - and we would love to get your input.</p>

  <p>Search - https://meta.wikimedia.org/wiki/Library_Card_platform/Search</p>

  <p>Design improvements - https://meta.wikimedia.org/wiki/Library_Card_platform/Design_improvements</p>

  <p>Please have a look through the pages linked above and share your thoughts on the talk pages. Your input is super valuable and will directly impact how we’re thinking about this work!</p>

  <p>Additionally, we are planning to deploy an Echo notification about the library later this year (https://phabricator.wikimedia.org/T132084). The few lines of text for this notification are now available for translation in TranslateWiki. If you speak a language other than English please consider contributing or updating a translation: https://translatewiki.net/w/i.php?title=Special:Translate&group=ext-thewikipedialibrary</p>

  <p>Thanks,</p>
  <p>The Wikipedia Library Team</p>
{% endblock %}
</body>
</html>
