{% load i18n %}

{% comment %}Translators: This email will be sent only once to users to notify them that the search feature will launch.{% endcomment %}
{% blocktranslate trimmed %}
  Hi,

  The Wikipedia Library team is excited to announce that a centralized search tool
  is now available to all users eligible to use the library!

  Instead of needing to search across individual collections one-by-one, you’ll
  now be able to search content from across a wide range of collections from one
  search bar. This search tool uses the EBSCO Discovery Service software and contains
  a wide array of filtering and advanced search options.

  To check which collections are indexed, we’ve also added icons and filters to
  My Library. Search pulls content from almost all of the collections which are
  accessible by default for eligible users (the Library Bundle). This means you
  can search with the confidence that every result will be accessible to you. In
  the future, we plan to enable users to turn off this limit, so that you could
  also search across collections which require individual applications, but we
  can’t guarantee that you’ll be able to access all results in this mode, as this
  depends on your individual authorizations.

  To check out the search tool just head over to https://wikipedialibrary.wmflabs.org/,
  log in, and you’ll find the search bar at the top of your screen.

  We hope you find this feature useful, and would love to hear your feedback at
  https://meta.wikimedia.org/wiki/Talk:Library_Card_platform/Search.

  Finally, as a reminder, we’re planning to start rolling out an on-wiki notification
  to editors who are eligible to use the library in the near future. Users will
  only receive the notification once. Please check
  https://translatewiki.net/w/i.php?title=Special:MessageGroupStats&group=ext-thewikipedialibrary
  to see if you can help translate the notification text!

  The Wikipedia Library team

  wikipedialibrary@wikimedia.org

{% endblocktranslate %}
