{% load i18n %}
{% comment %}Translators: This is the subject of an email sent to users when a collection suggestion they have upvoted is now available.{% endcomment %}
{% blocktranslate trimmed %}
Hi,

This is an automated notice to let you know that a Wikipedia Library suggestion you upvoted, {{ partner }}, is now available!

You can now [apply for access to / access] {{ partner }} at {{ link }}.

If you have any issues or questions please contact us at wikipedialibrary@wikimedia.org

The Wikipedia Library team
{% endblocktranslate %}
