{% load i18n %}
{% comment %}Translators: This email is sent to users when they have an account that is soon to expire. Don't translate Jinja variables in curly braces like {{ partner_name }} or {{ partner_link }}; don't translate html tags either. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library).{% endcomment %}
{% blocktranslate trimmed %}
Dear {{ user }},

According to our records, your access to {{ partner_name }} will soon expire and you may lose access.
If you want to continue making use of your free account, you can request renewal of your account by clicking the Renew button at {{ partner_link }}.

Best,

The Wikipedia Library

You can disable these emails in your user page preferences: https://wikipedialibrary.wmflabs.org/users/
{% endblocktranslate %}
