{% load i18n %}
<html>
<body>
{% comment %}Translators: This email is sent to users when their application is waitlisted because there are no more accounts available. Don't translate Jinja variables in curly braces like {{ user }} or {{ partner }}; don't translate html tags either. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library).{% endcomment %}
{% blocktranslate trimmed %}
  <p>Dear {{ user }},</p>
	<p>Thank you for applying for access to {{ partner }} resources through The Wikipedia Library.
	   There are no accounts currently available so your application has been waitlisted.
		 Your application will be evaluated if/when more accounts become available.
		 You can see all available resources at <a href="{{ link }}">{{ link }}</a>.</p>
	<p>Best,</p>
	<p>The Wikipedia Library</p>
{% endblocktranslate %}
</body>
</html>
