{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% comment %}
Honestly, this shouldn't come up; settings.LOGIN_URL should route people through
OAuth, and admins who only have a user/pass should use the admin site. But
here it is, just in case.
{% endcomment %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <a href="{% url 'oauth_login' %}" class="btn btn-primary btn-lg btn-block">
      {% comment %} Translators: On the login page, this message directs users to log in to the website using their Wikipedia account (via OAuth) {% endcomment %}
      {% trans "Log in with your Wikipedia account" %}
    </a>
    <hr />
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      {{ form | crispy }}
      <input type="submit" value="log in" class="btn btn-block" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <br />
    <p class="small text-center"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
  </div>
</div>
{% endblock %}
