{% extends "new_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  {% include "header_partial_b4.html" %}
  {% include "message_partial.html" %}
  <div id="main-content">
    <form method="post" action="{% url 'password_change' %}">
      {% csrf_token %}
      {{ form | crispy }}
      <button class="btn btn-default" type="submit">
        {% comment %}Translators: Found on the password reset page. {% endcomment %}
        {% trans "Change password" %}
      </button>
    </form>
  </div>
{% endblock content %}
