{% extends "new_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  {% include "header_partial_b4.html" %}
  {% include "message_partial.html" %}
  <div id="main-content">
    {% comment %}Translators: Found on the page for resetting your password. {% endcomment %}
    <h2 class="mb-4">{% trans "Reset password" %}</h2>

    {% comment %}Translators: If a user goes to reset their password, this message asks them to enter their email to do so. {% endcomment %}
    <p>{% trans "Forgot your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form method="post">
      {% csrf_token %}
      {{ form | crispy }}
      <button class="btn btn-default" type="submit">
        {% trans "Reset password" %}
      </button>
    </form>
  </div>
{% endblock %}
