{% load i18n %}
{% load l10n %}

  <ul class="list-unstyled">
    {% for app in object_list %}
      <li>
        <span class="label label{{ app.get_bootstrap_class }}">
          {{ app.get_status_display }}
        </span>&nbsp;
        <a href="{{ app.get_absolute_url }}">
          {{ app }}
        </a>
        &mdash;
        {% if app.get_version_count > 1 %} {# first version is original submission, not later review #}
          {% blocktrans with reviewer=app.get_latest_reviewer review_date=app.get_latest_review_date|localize %}
            Last reviewed by {{ reviewer }} on {{ review_date }}
          {% endblocktrans %}
        {% else %}
          {% trans 'Not yet reviewed.' %}
        {% endif %}
      </li>
    {% empty %}
      <li>{% trans 'No applications right now.' %}</li>
    {% endfor %}      
  </ul>
