{% load i18n %}
{% load l10n %}

{% for app in object_list %}
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <span class="label label{{ app.get_bootstrap_class }} pull-right">
        {{ app.get_status_display }}
      </span>
    </div>    
    <div class="col-xs-8 col-sm-6">
      <h4>
      <a href="{{ app.get_absolute_url }}">
        {{ app }}
      </a>
      </h4>
      {% if app.user.editor %}
      Editor: <a href="/users/{{ app.user.editor.pk|urlencode|safe }}">{{ app.user.editor.wp_username }}</a>
      <br />
      {% endif %}
      {% if app.user.email %}
      Email:
        <a href="mailto:{{ app.user.email|urlencode|safe }}">{{ app.user.email|safe }}</a>
      <br />
      {% endif %}
      {% if app.get_version_count > 1 %} {# first version is original submission, not later review #}
        {% if app.get_latest_reviewer %}
          {% comment %} Translator: On the page listing applications, this shows next to an application which was previously reviewed. Don't translate {{ reviewer }} or {{ review_date }}. {% endcomment %}
          {% blocktrans trimmed with reviewer=app.get_latest_reviewer review_date=app.get_latest_review_date|localize %}
            Last reviewed by {{ reviewer }} on {{ review_date }}
          {% endblocktrans %}
        {% else %}
          {% comment %} Translator: On the page listing applications, this shows next to an application which was previously reviewed. Don't translate {{ review_date }}. {% endcomment %}
          {% blocktrans trimmed with review_date=app.get_latest_review_date|localize %}
            Last reviewed on {{ review_date }}
          {% endblocktrans %}
        {% endif %}
      {% else %}
        {% comment %} Translator: On the page listing applications, this shows next to an application which has not yet been reviewed. {% endcomment %}
        {% trans 'Not yet reviewed.' %}
      {% endif %}
      <br />
      {% if app.user.editor %}
      Filter by editor: <a href="?Editor={{ app.user.editor.pk|urlencode|safe }}">{{ app.user.editor.wp_username }}</a>
      &nbsp;&nbsp;&nbsp;
      {% endif %}
      Filter by partner: <a href="?Partner={{ app.partner.pk|urlencode|safe }}">{{ app.partner }}</a>
    </div>
    {% ifequal app.editor.user.pk user.pk %}
      <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
        {% if app.is_expiring_soon %}
          <strong>{% trans "Your access grant is expiring soon" %}</strong> <br />
          {% if app.is_renewable %}
            <a class="btn btn-default btn-sm" href="{% url 'applications:renew' app.pk %}">{% trans "Request renewal" %}</a>
          {% else %}
            <em>{% trans "Renewals are not available." %}</em>
          {% endif %}
        {% else %}
          {% if app.is_probably_expired %}
              <strong>{% trans "Your access grant has expired" %}</strong> <br />
            {% if app.is_renewable %}
              <a class="btn btn-default btn-sm" href="{% url 'applications:renew' app.pk %}">{% trans "Request renewal" %}</a>
            {% else %}
              <em>{% trans "Renewals are not available." %}</em>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>      
    {% endifequal %}
    {% if not forloop.last %}
      <div class="col-sm-10 col-sm-offset-2 col-xs-12">
        <hr />
      </div>
    {% endif %}
  </div>
{% empty %}
  {% trans 'No applications right now.' %}
{% endfor %}
