{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      {% crispy form %}      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {% blocktrans trimmed %}
        <p>
          Note that your username and reasons for applying may be displayed on
          the home page. Please <a href="mailto:wikipedialibrary@wikimedia.org?Subject=Wikipedia%%20Library%%20Card%%20account%%20deactivation">email us (wikipedialibrary@wikimedia.org)</a>
          if this is a problem.
        </p>
      {% endblocktrans %}
    </div>
  </div>
{% endblock content %}
