{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>{{ title }}</h1>

  <p>
    {{ intro_text | safe }}
  </p>

  <div class="panel panel-default">
    <div class="panel-heading">
      {% trans "Limit applications by..." %}
    </div>
    <div class="panel-body">
      <form method="post" action="">
        {% csrf_token %}
        {{ autocomplete_form | crispy }}
        <input type="submit" class="btn btn-default" />
      </form>      
    </div>
  </div>

  {% include include_template %}
{% endblock %}

{% block javascript %}
  <script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  {% include 'autocomplete_light/static.html' %}
{% endblock javascript %}