{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      {% crispy form %}      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        {% blocktrans trimmed %}
            <p>
                Note that the following information may be displayed in the timeline
                on the home page:
            </p>
            <ul>
                <li>
                    Your Username;
                </li>
                <li>
                    The partners to which you've applied;
                </li>
                <li>
                    Your rationale for applying.
                </li>
            </ul>
            <p>
                Please <a href="mailto:wikipedialibrary@wikimedia.org?Subject=Wikipedia%20Library%20Card%20account%20deactivation">email us directly (wikipedialibrary@wikimedia.org)</a> if this
                poses a problem for you.
            </p>
        {% endblocktrans %}
    </div>
  </div>
{% endblock content %}
