{% load i18n %}
{% load l10n %}

{% if object_list %}
  <i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;
  <span class="badge badge-primary">
    {% comment %}Translators: This labels the column description indicating the status of the listed applications.{% endcomment %}
    {% trans "Status" %}
  </span>&nbsp;
  {% comment %}Translators: This labels the column description that lists the name of the applicants.{% endcomment %}
  {% trans "Username" %} -
  {% comment %}Translators: This labels the column description that lists the partner (and the corresponding collection, if any) of the listed applications.{% endcomment %}
  {% trans "Partner (Collection)" %} &mdash;
  {% comment %}Translators: This labels the column description that indicates the last review date of the applications.{% endcomment %}
  {% trans "Last reviewed" %} &mdash;
  {% comment %}Translators: This labels the column description that lists the date the applications have been made.{% endcomment %}
  <em>{% trans "Date applied" %}</em> &mdash;
  {% comment %}Translators: This labels the column description showing whether the user had agreed to the terms of use or not.{% endcomment %}
  <em>{% trans "Has agreed to the terms of use?" %}</em>
  <form method="post" action="{% url 'applications:batch_edit' %}" id="batch_edit">
    {% csrf_token %}
    <div class="form-group">
      <ul class="list-unstyled">
        <li>
          <input type="checkbox" id="toggle_all">
          <strong>
            {% comment %}Translators: Coordinators can change the status of multiple applications at one time. This text is shown next to a checkbox located above the list, which users can click to automatically select or deselect all applications in the list.{% endcomment %}
            {% trans "Select/deselect all" %}
          </strong>
        </li>
        {% for app in object_list %}
          <li>
            <input type="checkbox" name="applications" value="{{ app.pk }}">
            <span class="badge badge{{ app.get_bootstrap_class }}">
              {{ app.get_status_display }}
            </span>&nbsp;
            <a class="twl-links" href="{{ app.get_absolute_url }}">
              {{ app }}
            </a>
            &mdash;
            {% if app.get_version_count > 1 %} {# first version is original submission, not later review #}
              {% if app.get_latest_reviewer %}
                {% comment %}Translators: If an application was previously reviewed by a coordinator, this text displays the date and the name of the coordinator.{% endcomment %}
                {% blocktranslate trimmed with reviewer=app.get_latest_reviewer review_date=app.get_latest_review_date|localize %}
                  Last reviewed by {{ reviewer }} on {{ review_date }}
                {% endblocktranslate %}
              {% else %}
                {% comment %}Translators: If an application was previously reviewed, this text displays the date of the review.{% endcomment %}
                {% blocktranslate trimmed with review_date=app.get_latest_review_date|localize %}
                  Last reviewed on {{ review_date }}
                {% endblocktranslate %}
              {% endif %}
            {% else %}
              {% comment %}Translators: If an application wasn't previously reviewed, this text is displayed.{% endcomment %}
              {% trans 'Not yet reviewed.' %}
            {% endif %}
            &mdash;
            <em>{{ app.date_created }}</em>&nbsp;
            {% if app.parent %}
              <span class="badge badge-info">
                {% comment %}Translators: Displayed if an application is a renewal.{% endcomment %}
                {% trans "Renewal" %}
              </span>
            {% endif %}
            &mdash;
            {% if app.editor.user.userprofile.terms_of_use %}
              {% comment %}Translators: Displayed if the user has agreed to the terms of use.{% endcomment %}
              {% trans 'Yes' %}
            {% else %}
              {% comment %}Translators: Displayed if the user hasn't agreed to the terms of use.{% endcomment %}
              <span style="color: #cc3434">{% trans 'No' %}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="select_status">
            {% comment %}Translators: Coordinators can change the status of multiple applications at one time. This text is shown above the drop-down menu for the status they want to set.{% endcomment %}
            {% trans "Status for all selected applications" %}
          </label>

          <select name="batch_status" class="form-control" id="select_status">
            {% for status in status_choices %}
              <option value="{{ status.0 }}">{{ status.1 }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      {% comment %}Translators: Coordinators can change the status of multiple applications at one time. This text is found on a button that users click after selecting multiple applications and a status change.{% endcomment %}
      <input type="submit" class="btn btn-default" value="{% trans "Set status" %}" />
    </div>
  </form>
{% else %}
  {% comment %}Translators: On the page listing applications, this text is displayed when there are no app;ications to be shown.{% endcomment %}
  {% trans 'No applications right now.' %}
{% endif %}
