{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  <div>
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      {% crispy form %}
      <div class="form-group">
        <label class="control-label col-lg-3">
          {% comment %}Translators: This message is displayed on the page where users can confirm their renewal. Please do not translate {{  partner }}. {% endcomment %}
          {% blocktranslate trimmed %}
            Click 'confirm' to renew your application for {{ partner }}
          {% endblocktranslate %}
        </label>
        <div class="col-lg-offset-1 col-lg-1 controls">
          {% comment %}Translators: Labels the submit button requesting confirmation of application renewal. {% endcomment %}
          <input type="submit" value="{% trans 'Confirm' %}" class="btn btn-primary"/>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
