{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
  <style type="text/css">
    label {
      padding-right: 5px;
    }
  </style>
{% endblock extra_css %}

{% block content %}

{% comment %}Translators: We are asking editors which publishers' resources they want access to. They may request more than one publisher.{% endcomment %}
<h1>{% trans 'Whose resources you want to access?' %}</h1>

<form method="post">
  {% csrf_token %}
  <ul class="list-unstyled">
    {% for field in form %}
      <li class="clearfix">
        <div class="form-group">
          {% if field.errors %}
            {{ field.errors }}
          {% endif %}
          <div id="div_id_{{ field.name }}" class="checkbox">
            <label for="id_{{ field.name }}" class="pull-left">
              <input class="checkboxinput checkbox" id="id_{{ field.name }}" name="{{ field.name }}" type="checkbox" />
              {{ field.field.widget.attrs.object }}
            </label>
          </div>
          <a href="{{ field.field.widget.attrs.object.get_absolute_url }}">
            {% trans "(more info)" %}
          </a>
        </div>
      </li>
    {% empty %}
      {% trans "No partner data has been added to the database yet." %}
    {% endfor %}
  </ul>
  <input type="submit" value="{% trans "Apply for access" %}" class="btn btn-primary" />
</form>

{% endblock %}