{% extends "new_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load twlight_perms %}

{% block extra_css %}
  <style type="text/css">
    label {
      padding-right: 5px;
    }

    form {
      margin-bottom: 20px;
    }
  </style>
{% endblock extra_css %}

{% block content %}
  {% include "header_partial_b4.html" %}
  {% include "message_partial.html" %}
  <div id="main-content">
    {% comment %}Translators: We are asking editors which publishers' resources they want access to. They may request more than one publisher.{% endcomment %}
    <h1 class="mb-4">{% trans 'What resources do you want to access?' %}</h1>
    <div class="alert alert-secondary mb-5">
      {% comment %}Translators: This text explains that Library Bundle partners are not shown in this list.{% endcomment %}
        {% blocktranslate trimmed %}
          Library Bundle partners are not shown as eligibility is determined automatically.
        {% endblocktranslate %}
    </div>

    <form method="post">
      {% csrf_token %}
      <ul class="list-unstyled">
        {% for field in form %}
          <li class="clearfix">
            <div class="form-group">
              {% if field.errors %}
                {{ field.errors }}
              {% endif %}
              <div id="div_id_{{ field.name }}" class="checkbox">
                <label for="id_{{ field.name }}" class="pull-left">
                  <input class="checkboxinput checkbox" id="id_{{ field.name }}" name="{{ field.name }}" type="checkbox" />
                  {{ field.field.widget.attrs.object }}
                </label>
              </div>
              <a class="twl-links" href="{{ field.field.widget.attrs.object.get_absolute_url }}">
                {% comment %}Translators: On the page where users can apply for multiple partners, this message shows next to the partner name, taking them to the full application page when clicked.{% endcomment %}
                {% trans "(more info)" %}
              </a>
              {% if field.field.widget.attrs.object.is_waitlisted %}
                <span class="badge badge-warning">
                  {% comment %}Translators: On the page where users can apply for multiple partners, this text indicates the partner has been waitlisted i.e. no more accounts are available.{% endcomment %}
                  {% trans "Waitlisted" %}
                </span>
              {% endif %}
            </div>
          </li>
        {% empty %}
          {% comment %}Translators: On the page where users can apply for multiple partners, this text is displayed when there are no available partners.{% endcomment %}
          {% trans "No partner data has been added yet." %}
        {% endfor %}
      </ul>
      {% if user|restricted %}
        {% comment %}Translators: On the page where users can apply for multiple partners, this text labels the button, which when clicked submits the selections.{% endcomment %}
        <button type="button" class="btn btn-primary" disabled>{% trans "Apply" %}</button>
      {% else %}
        <input type="submit" value="{% trans "Apply" %}" class="btn twl-btn" />
      {% endif %}
    </form>

    {% if any_waitlisted %}
      <div class="alert alert-secondary">
        {# Translators: the HTML is so that the word 'waitlisted' will look the same as it does in the page above; please translate 'waitlisted' the same way you did elsewhere in this file. #}
        {% blocktranslate trimmed %}
          You can apply to <span class="badge badge-warning">Waitlisted</span>
          partners, but they don't have access grants available right now. We will process those applications when access becomes available.
        {% endblocktranslate %}
      </div>
    {% endif %}
  </div>

{% endblock %}
