{% extends "new_base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
  <style type="text/css">
    li {
      padding-left: 5px;
    }
    li.outline {
      border: 1px #ccc solid;
      border-radius: 5px;
      float: left;
      padding: 10px 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    li.outline h4 {
      margin-bottom: 0;
    }

    .media-body li {
      padding-left: 0;
    }

    li.outline label {
      margin-bottom: 0;
      font-weight: inherit;
    }
  </style>
{% endblock extra_css %}

{% block content %}
  {% include "header_partial_b4.html" %}
  {% include "message_partial.html" %}
  <div id="main-content">
    <h2 class="mb-4">
      {% comment %}Translators: When viewing the list of applications ready to be sent for a particular partner, this is the title of the page, where {{ object }} will be the name of the partner. Don't translate {{ object }}.{% endcomment %}
      {% blocktranslate trimmed %}Application data for {{ object }}{% endblocktranslate %}
    </h2>

    <div class="alert alert-info">
      {% comment %}Translators: This message is shown on pages where coordinators can see personal information about applicants. {% endcomment %}
      {% trans 'Coordinators: This page may contain personal information such as real names and email addresses. Please remember that this information is confidential.' %}
    </div>

    {% comment %}This block warns coordinators if the number of applications they are about to send exceeds the number of accounts available. {% endcomment %}
    {% if total_apps_approved_or_sent %}
          {% if object.accounts_available < total_apps_approved_or_sent %}
            <div class="alert alert-secondary hidden-xs">
              {% comment %}Translators: This message is shown when applications exceed the number of accounts available. {% endcomment %}
              {% blocktranslate trimmed %}Application(s) for {{ object }}, if sent, will exceed the total available accounts for the partner. Please proceed at your own discretion.{% endblocktranslate %}
            </div>
          {% endif %}
    {% endif %}


    <p>
      {% if object.send_instructions %}
        {{ object.send_instructions | safe }}
      {% else %}
        {% comment %}Translators: When viewing the list of applications ready to be sent for a particular partner, this is instructions for the coordinator to click the 'mark as sent' button after they have sent the information.{% endcomment %}
        {% trans "When you've processed the data below, click the 'mark as sent' button." %}
      {% endif %}
    </p>
    {% if object.authorization_method == object.EMAIL %}
      <h3>
        {% comment %}Translators: When viewing the list of applications ready to be sent for a particular partner, this is the title of the section containing contact information for the people applications should be sent to.{% endcomment %}
        {% blocktranslate trimmed count object.contacts.all|length as counter %}
          Contact
        {% plural %}
          Contacts
        {% endblocktranslate %}
      </h3>

      {% for contact in object.contacts.all %}
        <h5>{{ contact.full_name }} ({{ contact.short_name}})</h5>
        {% if contact.title %}
          {{ contact.title }}<br />
        {% endif %}
        {{ contact.email }}<br />
        {% if not forloop.last %}
          <hr />
        {% endif %}
      {% empty %}
        {% comment %}Translators: When viewing the list of applications ready to be sent for a particular partner, this message shows if there is no information about who the applications should be sent to. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library).{% endcomment %}
        {% trans "Whoops, we don't have any listed contacts. Please notify Wikipedia Library administrators." %}
      {% endfor %}
    {% endif %}

    {% comment %}Translators: When viewing the list of applications ready to be sent for a particular partner, this is the title of the section containing the information about those applications.{% endcomment %}
    <h3 class="mt-4 mb-4">{% trans "Application data" %}</h3>
    {% if app_outputs %}
      {% if object.authorization_method == object.EMAIL %}
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <ul class="list-unstyled">
              <li class="mx-4">
                <div class="media">
                  <div class="media-left">
                    <input type="checkbox" id="toggle_all">
                  </div>
                  <div class="media-body">
                    <i>
                      {% comment %}Translators: On the page where coordinators can send applications to partners, this text labels the checkbox, which checks or unchecks all the other checkboxes. {% endcomment %}
                      <label for="toggle_all">{% trans "Select/deselect all" %}</label>
                    </i>
                  </div>
                </div>
              </li>
              {% for app, output in app_outputs.items  %}
              <div class="row">
                <li class="outline col-11 mx-md-4 mx-lg-5 mx-3">
                  <div class="media">
                    <div class="media-left">
                      <input type="checkbox" name="applications" value="{{ app.pk }}" id="app_{{ app.pk }}">
                    </div>
                    <div class="media-body">
                    <label for="app_{{ app.pk }}">
                      <h4 class="media-heading">{{ app }}

                      <!--Flag renewals on Send to partners page-->
                      {% if app.parent %}
                      <span class="label label-info">
                        {% comment %}Translators: Displayed if an application is a renewal.{% endcomment %}
                        {% trans "Renewal" %}
                      </span>
                    {% endif %}</h4>

                      <ul class="list-unstyled pull-left">
                        {% for key, send_data in output.items %}
                          <li><strong>{{ send_data.label }}</strong> &mdash; {{ send_data.data }}</li>
                        {% endfor %}
                      </ul>
                    </label>
                    </div>
                  </div>
                </li>
              </div>
              {% endfor %}
            </ul>
          </div>
          {% comment %}Translators: When viewing the list of applications ready to be sent for a particular partner, this labels the button coordinators press to change the status of applications to 'sent'.{% endcomment %}
          <input type="submit" class="btn twl-btn" value="{% trans "Mark as sent" %}"></input>
        </form>
      {% elif object.authorization_method == object.CODES %}
        <p>
        {% comment %}Translators: This text guides coordinators in using the code sending interface for approved applications. {% endcomment %}
        {% blocktranslate trimmed %}
          Use the dropdown menus to denote which editor will receive each code.
          Access codes will be sent to users automatically.
        {% endblocktranslate %}
        </p>
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            {% for app, output in app_outputs.items  %}
              <div class="media">
                <div class="media-body">
                <label for="app_{{ app.pk }}">
                  <h4 class="media-heading">{{ app }}</h4>
                  <ul class="list-unstyled pull-left">
                    {% for key, send_data in output.items %}
                      <li><strong>{{ send_data.label }}</strong> &mdash; {{ send_data.data }}</li>
                    {% endfor %}
                  </ul>
                </label>
                <div class="pull-right">
                  {% comment %}Translators: This labels a drop-down selection where staff can assign an access code to a user. {% endcomment %}
                  <label for="accesscode-select">{% trans "Select code:" %}</label>
                  <select name="accesscode" class="form-control" id="accesscode-select">
                    <option value="default">-</option>
                    {% for access_code in available_access_codes %}
                      <option value="{{ app.pk }}_{{ access_code.code }}">{{ access_code.code }}</option>
                    {% endfor %}
                  </select>
                </div>
                </div>
              </div>
              <hr/>
            {% endfor %}
          </div>
          {% comment %}Translators: When viewing the list of applications ready to be sent for a particular partner, this labels the button coordinators press to change the status of applications to 'sent'.{% endcomment %}
          <input type="submit" class="btn twl-btn" value="{% trans "Mark as sent" %}"></input>
        </form>
      {% endif %}
    {% else %}
      {% comment %}Translators: When viewing the list of applications ready to be sent for a particular partner, this message shows when there are none to show the coordinator.{% endcomment %}
      {% trans "There are no approved, unsent applications." %}
    {% endif %}
  </div>
{% endblock content %}

{% block javascript %}
  <script type="text/javascript" language="javascript" src="{% static "js/jquery-3.5.1.min.js" %}"></script>
  <script type="text/javascript">
    $('#toggle_all').click(function() {
      $('li.outline input[type="checkbox"]').prop('checked', this.checked)
    });
  </script>
{% endblock javascript %}
