{% extends "base.html" %}

{% load i18n %}
{% load cache %}
{% load twlight_wikicode2html %}

{% block extra_css %}
  <style type="text/css">
    li {
      padding-left: 5px;
    }
    li.outline {
      border: 1px #ccc solid;
      border-radius: 5px;
      float: left;
      padding: 10px 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    li.outline h4 {
      margin-bottom: 0;
    }

    .media-body li {
      padding-left: 0;
    }

    li.outline label {
      margin-bottom: 0;
      font-weight: inherit;
    }
  </style>
{% endblock extra_css %}

{% block content %}
  <h2>
    {% comment %} Translators: When viewing the list of applications ready to be sent for a particular partner, this is the title of the page, where {{ object }} will be the name of the partner. Don't translate {{ object }}.{% endcomment %}
    {% blocktrans %}Application data for {{ object }}{% endblocktrans %}
  </h2>

  <p>
    {% if object.send_instructions %}
      {% comment %}
        Cache lifetime should be None, which would be forever since we're
        invalidating on update. However, as 2017-04-06 a bug in django
        doesn't allow for None to be passed from here into cache.  The
        fix is in master, but not release.
        https://code.djangoproject.com/ticket/27882
        We filter out details and summary tags so that we always see
        the full content on the details page.
      {% endcomment %}
      {% cache 31536000 partner_send_instructions LANGUAGE_CODE object.pk %}
        {{ object.send_instructions | twlight_wikicode2html | safe }}
      {% endcache %}
    {% else %}
      {% comment %} Translators: When viewing the list of applications ready to be sent for a particular partner, this is instructions for the coordinator to click the 'mark as sent' button after they have sent the information.{% endcomment %}
      {% trans "When you've processed the data below, click the 'mark as sent' button." %}
    {% endif %}
  </p>

  <h3>
    {% comment %} Translators: When viewing the list of applications ready to be sent for a particular partner, this is the title of the section containing contact information for the people applications should be sent to.{% endcomment %}
    {% blocktrans trimmed count object.contacts.all|length as counter %}
      Contact
    {% plural %}
      Contacts
    {% endblocktrans %}
  </h3>

  {% for contact in object.contacts.all %}
    <h4>{{ contact.full_name }} ({{ contact.short_name}})</h4>
    {{ contact.title }}<br />
    {{ contact.email }}<br />
    {% if not forloop.last %}    
      <hr />
    {% endif %}
  {% empty %}
    {% comment %} Translators: When viewing the list of applications ready to be sent for a particular partner, this message shows if there is no information about who the applications should be sent to. Translate Wikipedia Library in the same way as the global branch is named (click through from https://meta.wikimedia.org/wiki/The_Wikipedia_Library).{% endcomment %}
    {% trans "Whoops, we don't have any listed contacts. Please notify Wikipedia Library administrators." %} 
  {% endfor %}
  
  {% comment %} Translators: When viewing the list of applications ready to be sent for a particular partner, this is the title of the section containing the information about those applications.{% endcomment %}
  <h3>{% trans "Application data" %}</h3>
  {% if app_outputs %}
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <ul class="list-unstyled">
          <li>
            <div class="media">
              <div class="media-left">
                <input type="checkbox" id="toggle_all">
              </div>
              <div class="media-body">
                <i>
                  <label for="toggle_all">{% trans "Select/deselect all" %}</label>
                </i>
              </div>
            </div>
          </li>
          {% for app, output in app_outputs.items  %}
            <li class="outline">
              <div class="media">
                <div class="media-left">
                  <input type="checkbox" name="applications" value="{{ app.pk }}" id="app_{{ app.pk }}">
                </div>
                <div class="media-body">
                <label for="app_{{ app.pk }}">
                  <h4 class="media-heading">{{ app }}</h4>
                  <ul class="list-unstyled pull-left">
                    {% for key, value in output.items %}
                      <li><strong>{{ key }}</strong> &mdash; {{ value }}</li>
                    {% endfor %}
                  </ul>                
                </label>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% comment %} Translators: When viewing the list of applications ready to be sent for a particular partner, this labels the button coordinators press to change the status of applications to 'sent'.{% endcomment %}
      <input type="submit" class="btn btn-primary" value="{% trans "Mark as sent" %}"></input>
    </form>
  {% else %}
    {% comment %} Translators: When viewing the list of applications ready to be sent for a particular partner, this message shows when there are none to show the coordinator.{% endcomment %}
    {% trans "There are no approved, unsent applications." %}
  {% endif %}

{% endblock content %}

{% block javascript %}
  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('#toggle_all').click(function() {
      $('li.outline input[type="checkbox"]').prop('checked', this.checked)
    });
  </script>
{% endblock javascript %}
