{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h2>
    {% blocktrans %}Application data for {{ object }}{% endblocktrans %}
  </h2>

  {% blocktrans trimmed count counter=object.contacts|length %}
    Please copy and paste the application data below into an email to the
    following company representative. When you've sent the email, click the
    'mark as sent' button so other coordinators don't send the information a
    second time.
  {% plural %}
    Please copy and paste the application data below into an email to the
    following company representatives. When you've sent the email, click the
    'mark as sent' button so other coordinators don't send the information a
    second time.
  {% endblocktrans %}

  <h3>
    {% blocktrans trimmed count counter=object.contacts|length %}
      Company representative
    {% plural %}
      Company representatives
    {% endblocktrans %}
  </h3>

  {% for contact in object.contacts.all %}
    <h4>{{ contact.full_name }} ({{ contact.short_name}})</h4>
    {{ contact.title }}<br />
    {{ contact.email }}<br />
    {% if not forloop.last %}    
      <hr />
    {% endif %}
  {% empty %}
    {% trans "Whoops, we don't have any listed contacts for this company. Please notify Wikipedia Library administrators." %} 
  {% endfor %}

  <h3>{% trans "Application data" %}</h3>

  {% for app, output in app_outputs.items  %}
    <h4>{{ app }} </h4>

    <ul class="list-unstyled">
      {% for label, value in output.items %}
        <li><strong>{{ label }}</strong> &mdash; {{ value }}</li>
      {% endfor %}
    </ul>
    {% if not forloop.last %}    
      <hr />
    {% endif %}
  {% endfor %}

  {# Translators: this should be translated the same way that it was earlier in this page. #}
  <button>{% trans "Mark as sent" %}</button>

{% endblock content %}
