# Ignore everything in this directory
*
# Except this file
!.gitignore

# And our not-secret local docker secrets.
!DJANGO_DB_NAME
!DJANGO_DB_PASSWORD
!DJANGO_DB_USER
!MYSQL_ROOT_PASSWORD
!SECRET_KEY
!TWLIGHT_OAUTH_CONSUMER_KEY
!TWLIGHT_OAUTH_CONSUMER_SECRET
!TWLIGHT_EZPROXY_SECRET
