# Ignore everything in this directory
*
# Except this file
!.gitignore

# And our not-secret local docker secrets.
!local.django_db_name
!local.django_db_password
!local.django_db_user
!local.mysql_root_password
!local.secret_key
!local.twlight_oauth_consumer_key
!local.twlight_oauth_consumer_secret
